[2021-04-13 17:33] avanigupta commented on #491
Fixed in [Azure CLI 2.22.0](https://github.com/MicrosoftDocs/azure-docs-cli/blob/master/docs-ref-conceptual/release-notes-azure-cli.md#app-config).

[2021-04-13 17:33] #491 closed

[2021-04-13 22:32] andreacapriplexure opened #503 "Task Hangs without any logs being written"
Task just hangs indefinitely, has been working in the past. Raw logs are not different.
![image](https://user-images.githubusercontent.com/50006394/114629410-a21e5f80-9d0c-11eb-976b-f7ddc1a0f015.png)

[2021-04-14 05:42] mrm9084 commented on #502
Hi, sorry for the confusion. We are in the middle of renaming the package so the current link should be https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-samples/azure-appconfiguration-sample.

[2021-04-15 16:45] shilpasrinivas opened #505 "App configuration ARM template"
I am trying to set the Audience values from portal and I don't want these values to be overriden by ARM deployment. But I am just not able to do that, is there anyway to achieve this.

The Users and Groups list is very dynamic and I don't want that to be part of code base, but the default filtering and percentage is constant so I want this to be set through ARM template.

But I don't get this flex

[2021-04-16 23:21] zhenlan commented on #505
Each feature flag including the targeting audience information is saved as one single entry, so any changes to it will overwrite the feature flag. So what you observed is as currently designed. With that being said, I do see you have a reasonable scenario. That is something for us to look further into in the future.

For now, I wondering if it will be possible for you to read the feature flag, upd

[2021-04-19 21:31] mrjamiebowman commented on #48
This would be a really nice feature to have in the UI..

[2021-04-19 23:52] XRSHEERAN opened #506 "Connecting To Azure App Configuration From Different Tenant"
Hello Team,

I'm from internal team in commerce and we are trying to push app config through pipeline. Our pipeline resides on MSFT tenant while our App Config is on the other one due to production requirements. But we noticed that using App Configuration requires a service connection connecting the two tenants which I have problem building. So could you help me with whether is this kind of connec

[2021-04-20 00:17] #502 closed

[2021-04-20 12:10] vishnuramero opened #507 "AssemblyInformationalVersionAttribute is required on client SDK assembly"
I'm trying to integration app configuration in xamarin forms application refering the below documentation
https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-dotnet-core-app

while using the below snippet
[code]

I'm getting the below error

System.ArgumentException: AssemblyInformationalVersionAttribute is required on client SDK assembly 'Azure.Data.AppConfiguration, Version

[2021-04-20 17:21] #507 closed

[2021-04-20 17:21] zhenlan commented on #507
Issue moved to [Azure/azure-sdk-for-net #20529](https://github.com/Azure/azure-sdk-for-net/issues/20529) via [**ZenHub**](https://www.zenhub.com/)

[2021-04-20 17:54] Yiming-Jia commented on #506
Hello Sheeran,

I'd like this is a very common issue by using a crossing tenant service connection and Azure pipeline. Currently, we don't have a plan to support ConnectionString, as Service Connection is the behavior that keep consistency with other Azure pipeline tasks.

To config a Azure pipeline in different tenant, I think you need to know the tenant id that your App Config located. I tried t

[2021-04-20 20:09] Anne56njeri commented on #503
Hi @andreacapriplexure, are you running the task on Microsoft-hosted agents or a self-hosted agent? Also, could you share your debug logs to help in investigating the issue? Thank you.

[2021-04-20 21:17] XRSHEERAN commented on #506
Hey Yiming, thank you for the instructions and it worked pretty well! I've created a service principle and use the manual resource manager set up instead of the automatic option listed [here](https://docs.microsoft.com/en-us/azure/azure-app-configuration/push-kv-devops-pipeline). So just my free bit of advice, it would be good to include manual setup as shown [here](https://docs.microsoft.com/en-u

[2021-04-20 21:17] #506 closed

[2021-04-20 22:32] asagarw opened #508 "How to create a key vault reference using Azure App Configuration Push"
I am unable to create a key vault reference using a "Azure App Configuration Push" task even though service connection has access to the key vault. I am using the following value in the json input. Is there any documentation on the same?

"Key_Name": { "uri": "https://keyvault_name.vault.azure.net/secrets/secret_name" }

[2021-04-20 22:53] andreacapriplexure commented on #503
Hi sorry I figured the issue was that the app configuration was throttling requests since we went over the cap. Maybe some better logging for this would be helpful.

[2021-04-20 22:53] #503 closed

[2021-04-20 23:11] zhenlan commented on #508
@asagarw can you please set content-type as `application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8`?

[2021-04-21 01:55] asagarw commented on #508
Thanks this worked. 👍

[2021-04-21 01:56] #508 closed

[2021-04-21 08:24] Anne56njeri commented on #503
Thank you @andreacapriplexure, for the feedback will work on that. Please feel free to reach out in case of any other questions.
Thanks,
Maryanne

[2021-04-21 13:17] wolkowsky opened #509 "Trimmed whitespaces in Configuration Explorer"
I had an issue with one of our apps because of having whitespace at the beginning of the value, unfortunately, it's hard to find these in Portal because in the list view these are trimmed. So in order to find it, you have to go to the edit screen or export all of them (don't know if there's any other way).

![image](https://user-images.githubusercontent.com/9864208/115559814-53486b00-a2b4-11eb-8a2

[2021-04-24 01:38] #505 closed

[2021-04-26 17:59] #488 closed

[2021-04-26 18:03] jiayi11 commented on #456
Fix is already deployed. Closing the issue.

[2021-04-26 18:03] #456 closed

[2021-04-26 18:08] jiayi11 commented on #386
This is fixed, we currently only allow '.' separator for properties files.
Closing the issue.

[2021-04-26 18:08] #386 closed

[2021-04-26 19:29] #477 closed

[2021-04-28 10:15] MRVDH opened #511 "Old key vault connection works, new doesn't"
When starting the .NET Core app an error is thrown when trying to setup the app configuration.

This is the code that I use:
[code]

Below the output on startup. As you can see in the Content part, it expects one of the following users. However, as you can see in the Headers part, that user is actually given.
[code]

It is important to note that I am able to connect to the Key vault without any pr

[2021-04-29 06:25] subhroneeldey opened #512 "Is there a feature to enable auditing of configuration key-value pairs"
Hi i want to enable auditing for key-value pairs on addition updation or deletion of config key/value. Is there a feature/ solution to support this requirement.
Do we have any best practice recommendations to achieve the same.

[2021-04-29 16:49] mrm9084 commented on #470
@J4cku 1.3.0 has been released and supports Spring Boot 2.4 https://mvnrepository.com/artifact/com.microsoft.azure/spring-cloud-azure-appconfiguration-config/1.3.0

[2021-04-29 16:49] #470 closed

[2021-04-30 00:14] shenmuxiaosen commented on #512
Auditing is enabled by default and we are currently working on exposing auditing logs to Azure Monitoring, where you can setup to export logs into [several destinations](https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/diagnostic-settings?tabs=CMD) (Azure Storage, Event Hub, [Log Analytics Workspace](https://docs.microsoft.com/en-us/azure/azure-monitor/logs/quick-create-workspace)).

[2021-05-02 05:46] MSGaryWang commented on #511
Looks the "DefaultAzureCredential" can't find the way to authenticate the request with the tenant id where your key vault belongs to. You might try different TokenCredential which could provide the capability to retrieve the token.

[2021-05-03 10:08] MRVDH commented on #511
Thanks @MSGaryWang, I tried them earlier but couldn't get them to work. I can give it another try.

Will there be a possibility to use a connection string in the future? Since that is something that works for sure (as seen in the last code block).

[2021-05-03 12:30] MRVDH commented on #511
From what I read in the docs VisualStudioCredential should be doing something similar to what I do with the connection string. However, this throws the same error as seen above.

[2021-05-03 23:59] mslentz opened #513 "Getting ##[error]Failed to parse with json file"
Hi,  I'm working in Azure Gov and I'm trying to push my config json file to an App Config service and I keep getting an error:

 ##[error]Failed to parse: .......path to file

the file looks like this:

{
     "Key1":  "value"
}

I am using Azure Pipelines in our DevOps instance.  The pipeline is using a service principle that has permissions to the resource group (it is successfully deploying to

[2021-05-04 03:25] MSGaryWang commented on #511
Depends on how you want to do the authenticate and you might just use ClientSecretCredential, ClientCertificateCredential or other ways you could specify tenant id with. Without doing this and it might just use default or the one you had signed with.

[2021-05-04 19:23] MaryanneNjeri commented on #513
Hi @mslentz, could you share the format of your json file, which could have key and value masked and I can use the file to repro the issue?

[2021-05-04 19:25] MaryanneNjeri commented on #513
@mslentz, also check if the config json file contains any trailing commas,  can be the cause of the error sometimes

[2021-05-04 20:35] mslentz commented on #513
I discovered my issue was with spaces in the path to the file.  Thanks for your help.

[2021-05-04 22:16] zhenlan commented on #513
@MaryanneNjeri thanks for looking into this. Just curious, won't it work when there are spaces in the path?

[2021-05-05 11:41] MaryanneNjeri commented on #513
I tried it on my end, if the space is present in the file path something like this `$filepath  /configFile.json`, the error presented  is
`##[error]An unexpected error occurred. ENOENT: no such file or directory, open 'path to file' `, but if the space is present in the file name, `config File.json` and the path is `$filepath/config Files.json` it works, maybe @mslentz  could confirm where the spa

[2021-05-05 12:59] stweb1963 opened #514 "Cannot set publicNetworkAccess to 'Disabled' until a privateEndpoint is bound to the resource"
Using ARM deployments

We are attempting to deploy an appConfiguration with a privateEndpoint but cannot set the publicNetworkAccess flag to 'Disabled' because the you need the resource to exist before adding the PLE

We are in a catch 22

We would need to:
- deploy the instance with publicNetworkAccess Enabled
- deploy the PLE
- return to the resource to set publicNetworkAccess to 'Disabled'

We

[2021-05-05 17:01] mslentz commented on #513
I did have spaces in my file path.  I changed to an AZ CLI command and was able to publish a simple json file: {"Key1": "value"}

I am using this command:
az appconfig kv import -s file --format json --path $file   --separator . --depth 2  --label Development --auth-mode login --endpoint https://xxxxxx --yes

I just added my actual config file:

{
    "ActionCenterDiscussionFetchDays": "30",
    "

[2021-05-05 17:33] jimmyca15 commented on #514
@stweb1963

Creating an App Configuration instance with `publicNetworkAccess` set to disabled is temporarily blocked. Previously, this flag did nothing unless the configuration store had a private endpoint assigned to it. Any App Configuration instances that were previously created with `publicNetworkAccess` set to disabled behaved the same as instances with `publicNetworkAccess` set to enabled.

[2021-05-05 18:46] avanigupta commented on #513
@mslentz, I tried importing the exact contents of your JSON file using the same command that you are using, and I'm not getting any error. Can you try to format the file you're using with any JSON formatter and see if there's a syntax issue on your side?

[2021-05-05 21:09] stweb1963 commented on #514
This appear to contradict what @zhenlan had recently communicated

As I understood, if we enable a Private Endpoint on an App Config resource, the default for publicNetworkAccess to be overriden as 'Disabled' and that we would need to apply 'Enabled' to explicitly allow for publicNetworkAccess

Requiring the additional #3 step would not be required

[2021-05-05 21:28] jimmyca15 commented on #514
That's correct. When a private endpoint is assigned to an App Configuration instance, if `publicNetworkAccess` is not set then the default behavior is deny access from public networks. Step 3 is only necessary if you want to explicitly set that property to disabled.

[2021-05-07 00:41] avanigupta commented on #513
Thanks for bringing this to our attention @mslentz. The error turned out to be due to the presence of a non-ASCII character in the JSON file being imported. We are working on supporting the import of all unicode characters using CLI.

[2021-05-07 00:57] zhenlan commented on #513
Great. @MaryanneNjeri, you will fix the 'space in path" issue too?

[2021-05-08 17:58] robertmclaws commented on #170
@bradygaster et al, I'm working to implement Feature Flags in our **Blazor WebAssembly** port of BurnRate.io. Are there any docs specifically for this yet? I saw [the Server-Side version here](https://devblogs.microsoft.com/aspnet/configuring-a-server-side-blazor-app-with-azure-app-configuration/) (thanks Brady!), but it isn't entirely clear how to call `.ConfigureAppConfiguration()` in a client-s

[2021-05-10 21:13] ctvanzandt42 commented on #513
I'm also having this issue without any special characters in my JSON file. When I use the Azure CLI, it lets me import with the same file, but the pipeline task throws this every time.

[2021-05-11 12:19] MaryanneNjeri commented on #513
Hi @ctvanzandt42 , could you share your json file, which could have key and value masked and I can use the file to reproduce the issue?

[2021-05-11 13:58] ctvanzandt42 commented on #513
Sure! So here's how I'm using the task:

`- task: AzureAppConfigurationPush@1
  displayName: 'Push Configuration'
  inputs:
    azureSubscription: '<service principal here>'
    ConfigstoreName: '<config name served by Terraform>'
    ConfigurationFile: 'configuration.json'
    Separator: ':'
    Depth: '2'
    Strict: false`

And my JSON looks like this:

`{
  "member-info-cb5ad5d2-722a-46e6-9159

[2021-05-11 20:28] jimmyca15 commented on #170
@robertmclaws

There aren't any docs for using Azure App Configuration feature flags in Blazor. As you mentioned we have a solution laid out and documented for server-side feature flags and configuration but there are still improvements to be made before we can have parity for client-side feature flags.

[2021-05-11 21:31] MaryanneNjeri commented on #513
@ctvanzandt42 I tried using your file with the azure app configuration push task, it succeeded on my end
<img width="947" alt="73260A47-506A-4890-A8A0-FD0900B44A60" src="https://user-images.githubusercontent.com/33903727/117887300-c724d480-b2b0-11eb-814c-1bba3917bcf2.png">
Could try check that the json file has no syntax issues?

[2021-05-12 00:36] robertmclaws commented on #170
If you are porting an app from Javascript, then you don't get all the fancy Feature Flag wire-up stuff that you get on the server-side. So I think it's important to manage expectations on both sides.

Honestly, I think this is what most people are looking for right now: https://docs.microsoft.com/en-us/dotnet/api/overview/azure/data.appconfiguration-readme?view=azure-dotnet-preview. Just found the

[2021-05-12 16:33] ctvanzandt42 commented on #513
Can you share how the task looks? That is the exact JSON I'm pushing, with a few strings substituted. Again, it's valid JSON and it works pushing from the CLI.

[2021-05-12 19:31] MaryanneNjeri commented on #513
Yes let me share how the task looks like from my end.

[2021-05-12 20:08] MaryanneNjeri commented on #513
version: 1.3.4
  displayName: 'azure app config task'
  inputs:
    azureSubscription: 'service principal '
    ConfigstoreName: 'config store name’
    Configuration file path: 'config1.json'
    Separator: ':'
    Depth: '2'
    Strict: false

[2021-05-13 01:56] ctvanzandt42 commented on #513
Hey Maryanne, that's exactly how the task looks on my end. Very weird; I ended up doing this manually, which is obviously not ideal for production, but had to be done. I'd love to revisit this if you all find there's a bug in here, I'm happy to help you all battle-test this if need be.

[2021-05-13 12:24] MaryanneNjeri commented on #513
@ctvanzandt42 will definitely reach out if we find a bug. Please feel free to reach out incase of anything.

[2021-05-19 02:54] #514 closed

[2021-05-19 02:55] zhenlan commented on #511
@MRVDH please let us know if you have further questions. Closing for now.

[2021-05-19 06:27] MRVDH commented on #511
Hi @zhenlan , I still haven't gotten it to work, and it seems I'm not the only one with this issue. https://github.com/Azure/azure-cli/issues/11871
Could it be related to this?

[2021-05-19 15:06] riaadh opened #519 "[Feature request] Add Prefix on Feature Flags, namespacing, and import/export"
Hello,
Could you add the prefix on feature flags ? so it's consistent with the way it's working on normal configuration.
Also it's not possible to have this kind of feature flag  MyApp:featureFlag since the : is not allowed in the name of the feature flag

Thank you

[2021-05-21 16:56] jimmyca15 commented on #519
Hello @riaadh. A few questions to make sure I know what you're looking for. Are you using feature flags with one of our client libraries? Is this the type of prefix you are using "MyApp:"?

[2021-05-21 17:17] riaadh commented on #519
Hello,
I am using azure app configuration ( key values and feature flags) with c# asp.net core
My problem is there is no consistency in the azure portal and in the SDK between keys and feature flags
I explain: when using key I structure my keys like this (the way the documentation recommend)
AppName:Service1:ApiEndpoint
AppName:Service2:ApiEndpoint
In the SDK for my application I select all keys w

[2021-05-21 17:23] jimmyca15 commented on #519
That helps a lot, thanks!

[2021-05-22 00:55] zhenlan commented on #511
Hi @MRVDH, as noted in [App Authentication client library for .NET](https://docs.microsoft.com/en-us/dotnet/api/overview/azure/service-to-service-authentication), the usage of `AzureServiceTokenProvider` is no longer recommended with new Azure SDKs. There is also a [migration document](https://docs.microsoft.com/en-us/dotnet/api/overview/azure/app-auth-migration) that you may like to check out so

[2021-05-25 12:13] MRVDH commented on #511
Hi @zhenlan, Thanks for your reply. I have seen and tried the samples. Unfortunately the secret resolver still relies on the new Azure.Identity TokenCredential classes, which produce the same error.

Someone else is using exactly what I use and is running into exactly the same problem, but they posted it in another repo: https://github.com/Azure/azure-cli/issues/11871#issuecomment-843031145
Please

[2021-05-26 17:01] ssulei7 opened #520 "##[warning]Can\'t find loc string for key: CouldNotFetchAccessTokenforAzureStatusCode causes app config azdo task to fail"
Hi,

Recently our deployments have been failing due to the following error:

[code]

This has been breaking all of our major deployments into production, where the temporary work around would be to redeploy the release when it fails. Can someone look into this issue and see as to why that warning breaks everything?

[2021-05-26 19:11] MaryanneNjeri commented on #520
Hi, @ssulei7 I have a question just to make sure am able to reproduce the error you are getting, what service principal authentication is used for service principal is it password-based authentication (application secret) or certificate-based authentication?

[2021-05-26 20:01] ssulei7 commented on #520
We are using the azure devops service principal to query app config values that are in key vault. We haven't changed the secret, and we were only seeing the issue yesterday. Today we haven't seen this occur, but we'd like to know what went wrong so we can account for it for future deployments.

[2021-05-26 22:24] MaryanneNjeri commented on #520
@ssulei7 thank you for bringing this to our attention, the warning is  due to missing localization for the string "CouldNotFetchAccessTokenforAzureStatusCode", currently working on a fix for it, when a release is out we can be able to tell what is causing the on and off error you are experiencing as the error message will provide a more detailed explanation in terms of the error code and the error

[2021-05-27 19:30] ssulei7 commented on #520
Sounds good thank you so much!

[2021-05-28 22:36] zhenlan commented on #511
@MRVDH just want to make sure it's clear. The Secret Resolver takes an input of string, which is the secret identifier URI and it returns a string, which is the value of the secret. You can implement anything in the middle. It does not rely on Azure.Identity.

[2021-06-01 16:05] VamKon commented on #366
Great to see that you are working on this @zhenlan. Will the logs include a way to tie the log back to a key-value pair via an e-tag or something? When will this be ready for customers to use?

[2021-06-01 20:00] zhenlan commented on #366
It's available now. As part of the 'RequestURI' in the log, you can tell which key is related.
https://docs.microsoft.com/en-us/azure/azure-app-configuration/monitor-app-configuration?tabs=portal

[2021-06-07 10:17] glenn-kallidus opened #521 "azure build pipeline 400 'The http resource that matches the request uri does not support the api verison '1.0''"
Hey guys,
I'm trying to setup the azure build pipeline task to download the app config to variables but i get the following error:
##[error]Access to '*' was denied. Please ensure the required role assignment is made for the identity running this task.

When i try to follow the url i get this error:
{"type":"https://azconfig.io/errors/invalid-argument","title":"Invalid API version","name":"api-ver

[2021-06-08 08:43] Philippe85 opened #522 "Export Key Vault reference to App Service"
In configuration explorer, if we add a Key Vault reference, this URI is used :
`{"uri":"https://xxx"}`
But this URI is not recognized in App Settings of an App Service.

Now, in App Settings of an App Service, we need to have :
[code]
See this article: https://docs.microsoft.com/fr-fr/azure/app-service/app-service-key-vault-references

Could you fix quickly this bug ?
Because all export of configu

[2021-06-08 15:39] jimmyca15 commented on #521
Hello @glenn-kallidus the error message mentions that the required role assignment needs to be made. Did you assign one of the app configuration data roles mentioned [here ](https://docs.microsoft.com/en-us/azure/azure-app-configuration/concept-enable-rbac#azure-built-in-roles-for-azure-app-configuration) to the service principal that is being used to access App Configuration?

[2021-06-08 15:43] jimmyca15 commented on #522
@philippe85 Our export doesn't perform conversion based on destination. However, I would consider this a reasonable enhancement that we can look into.

cc @MSGaryWang

[2021-06-09 03:28] avanigupta commented on #522
@Philippe85, you can run the following Azure CLI command to export Key Vault references to App Service in the right format:
`az appconfig kv export -d appservice -n <AppConfigName> --appservice-account <AppServiceResourceId>`

[2021-06-09 08:53] Philippe85 commented on #522
The URI generated in App Configuration does not respect the Microsoft format and is therefore not usable in App Services. This is a bug and not an improvement.

[2021-06-09 14:35] jimmyca15 commented on #522
@philippe85 It looks like this is indeed a lack of parity between our CLI and Portal. I have reclassified the issue and we are already working on rectifying it. Thanks for reporting!

[2021-06-09 14:35] jimmyca15 commented on #522
In the mean time, avanigupta's method of using the CLI should perform export with the proper transformation.

[2021-06-09 18:21] fernandozago commented on #79
Any updates on this thread ?

[2021-06-09 19:23] remiminnebo opened #523 "Document/Enforce App service windows containerized app settings limit"
There seems to be a a limit on total app settings amount in App Service windows containerized mode.
Once you have more than 70 app settings the container will fail with: error configuring container
This error handling is not so clear, Ideally it would also be enforced on ARM API level that deploying more than 70 app settings returns an error.

[2021-06-10 18:34] #523 closed

[2021-06-10 19:36] zhenlan commented on #523
@remiminnebo, please also note that this repo is for the **Azure App Configuration** service, which is a different service than App Service.

[2021-06-11 05:59] huantingchen commented on #235
Is this on the road map yet?

[2021-06-11 17:35] ocabr4l commented on #520
I'm having same issue in some pipelines on my Az DevOps organization.

[2021-06-11 17:42] MaryanneNjeri commented on #520
Hi @ocabr4l, thank you for reporting this :), apologies for any inconvenience caused, we are currently working on a fix for this bug.
Please feel free to reach out in case of any other questions.

Thanks,
Maryanne

[2021-06-12 06:45] #511 closed

[2021-06-17 12:30] invokersavi opened #524 "Springboot: bean 'Microsoft.Targeting' not found"
I am using the spring-cloud-azure-feature-management-web library v1.3.0. I can retrieve the features when there are no targeting set on the feature, but when i set a target for a specific feature flag, a `NoSuchBeanDefinitionException` is thrown as it is searching for Microsoft.Targeting'.

When i look through the documentation [here](https://docs.microsoft.com/en-us/java/api/overview/azure/spring

[2021-06-17 17:54] mrm9084 commented on #524
@invokersavi at this point 'Microsoft.Targeting' is only available in a beta version on the library. We will have an announcement when it is fully released.
[code]

[2021-06-18 05:31] invokersavi commented on #524
Well okay then. That makes sense but i did not find that in the doc anywhere - that might be a good note to add. Thank you for quickly answering.

[2021-06-18 05:31] #524 closed

[2021-06-18 09:47] thuijer opened #525 "AzureAppConfigurationPush task should show more information in logs by default"
The current output of the AzureAppConfigurationPush task does not show any details about the operation

[code]

It should include at least information about:
* which AzureSubscription was used
* which AppConfiguration Service it updated
* which keys where updated
* which label was applied

[2021-06-18 21:55] MaryanneNjeri commented on #525
Hi @thuijer you could [Enable System Diagnostics](https://docs.microsoft.com/en-us/azure/devops/pipelines/troubleshooting/review-logs?view=azure-devops#configure-verbose-logs), to view  Azure Subscription  used and AppConfiguration Service it updated. Currently doesn't show the keys updated and the label applied, this is really good feedback. We'll look into it.
Please feel free to reach out incas

[2021-06-19 07:22] thuijer commented on #525
Hi, enabling System Diagnostics is an option, but I think this information should be logged always. Many tasks log a lot of information by default, which is normally enough to understand what the task has done. The AzureAppConfigurationPush task doesn't log anything and it should, like almost all other tasks, log basic information about the actions it has carried out. System Diagnostics is meant t

[2021-06-21 18:55] dcadlereii opened #526 "How to retrieve Azure App Configuration Service settings while in Program.cs"
I am using .NET Core 5 (v5.0.6) web API deployed as an Azure App Service and I am migrating from using appsettings.json in the API to integrating with Azure App Configuration service. I have the Azure App Configuration Service set up but the issue I am having is how to access values in my Azure App Configuration service for retrieving a connection string for database access while I am still in Pro

[2021-06-22 01:31] avanigupta commented on #526
Hi @dcadlereii, if you really need to retrieve an instance of `IConfiguration` in your `Main()` method, you can do so by calling `GetService()` or `GetRequiredService()` on your `IServiceProvider`.

[code]

Typically, you should be using dependency injection to access `IConfiguration` and let the framework handle `IServiceProvider` behind the scenes. Your static `Configuration` property is also no

[2021-06-22 13:11] jsquire opened #527 "Move Microsoft.FeatureManagement doc out of preview"
# Issue Transfer

This issue is being transferred from the Azure SDK repository ([#22011](https://github.com/Azure/azure-sdk-for-net/issues/22011))
## Please be aware that @AlexandraKemperMS is the author of the original issue and be sure to include them on any questions or replies.

Hi, could you please remove the note at the top of this page? The Microsoft.FeatureManagement Namespace is stable a

[2021-06-22 13:24] dcadlereii commented on #526
@avanigupta thanks. That did the trick. :)

[2021-06-22 13:35] dcadlereii opened #528 "Is it possible to get Strongly Typed Configuration Settings in my API using the App Configuration Service?"
In my .NET 5 web API, prior to considering Azure App Configuration Service, I used strongly typed configuration settings in my Startup.cs so that I didn't have to use magic strings in all of the places where I needed configuration values in my code.

For example, in my Startup.cs --> ConfigureServices method, I have lines like the following;

`    services.Configure<AzureStorageSettings>(Configura

[2021-06-22 13:58] MaryanneNjeri commented on #525
@thuijer I see, makes sense. This is really helpful, thank you for the feedback. I think we could add more logs (like keys updated,  AppConfiguration Service it updated and  label applied) to help understand what the task has done.

[2021-06-22 15:58] AlexandraKemperMS commented on #527
I was hoping the authors would make this change :)
This is based on the customer feedback that this note was confusing. I can just send in a PR instead.

[2021-06-22 18:25] avanigupta commented on #528
Hi @dcadlereii, please see [this document](https://docs.microsoft.com/en-us/azure/azure-app-configuration/enable-dynamic-configuration-aspnet-core?tabs=core5x) for an example of using strongly typed configuration with AppConfig. In the sample, we are binding configuration data to `Settings` class using `services.Configure<Settings>` method.

[2021-06-22 19:18] dcadlereii commented on #528
@avanigupta that link got me going. THanks :)

[2021-06-22 19:41] dcadlereii opened #529 "Unable to find the required services exception when trying to add app.UseAzureAppConfiguration()"
I was using the information at this link; https://docs.microsoft.com/en-us/azure/azure-app-configuration/enable-dynamic-configuration-aspnet-core?tabs=core5x
... to set up strongly types references to the settings values in Azure App Configuration Service and I want to use the the Sentinel key to trigger a refresh when my setting values change. However, when I put the line...

`app.UseAzureAppConf

[2021-06-22 20:14] zhenlan commented on #529
As suggested in the exception, please add `services.AddAzureAppConfiguration` in `ConfigureServices` in `Startup.cs`.

[2021-06-23 11:28] dcadlereii commented on #529
@zhenlan I call AddAzureAppConfiguration in the CreateHostBuilder method in program.cs. Do I really need to call it again in the Startup.cs-->ConfigureServices method? That wouldn't create duplicate errors with the settings properties in the collection?

[2021-06-23 19:18] mrm9084 commented on #524
@invokersavi The full 2.0.0 version of azure-spring-cloud-feature-management is out.
<dependency>
    <groupId>com.azure.spring</groupId>
    <artifactId>azure-spring-cloud-feature-management</artifactId>
    <version>2.0.0</version>
</dependency>

Let us know if you have any more issues.

[2021-06-23 23:26] zhenlan commented on #529
That's different. You missed step 4 in [Reload data from App Configuration](https://docs.microsoft.com/en-us/azure/azure-app-configuration/enable-dynamic-configuration-aspnet-core?tabs=core5x#reload-data-from-app-configuration) (the document you linked).

[2021-06-23 23:28] #528 closed

[2021-06-23 23:29] #526 closed

[2021-06-24 11:47] dcadlereii commented on #529
@zhenlan thanks. That fixed the issue and now my settings dynamically update as expected.

[2021-06-24 18:02] #529 closed

[2021-06-24 21:04] zhenlan commented on #521
@glenn-kallidus I hope @jimmyca15's response has answered your question.

[2021-06-24 21:04] #521 closed

[2021-06-27 15:25] gkarnik-gl opened #530 "DefaultAzureCredential doesn't work in ConfigurationClient"
While running locally from Visual Studio, DefaultAzureCredential parameter for ConfigurationClient doesn't work whereas it works for SecretClient. VisualStudioCredential parameter works for both.

Success:
var secretClient = new SecretClient(new Uri("<KeyVaultUri>"), new DefaultAzureCredential());
Fail:
var configClient = new ConfigurationClient(new Uri("<AppConfigUri>"), new DefaultAzureCredentia

[2021-06-27 18:35] #530 closed

[2021-06-27 18:35] zhenlan commented on #530
Issue moved to [Azure/azure-sdk-for-net #22223](https://github.com/Azure/azure-sdk-for-net/issues/22223) via [**ZenHub**](https://www.zenhub.com/)

[2021-07-01 18:22] XRSHEERAN opened #531 "Continuous Integration With Feature Management"
Hello Team,

I've used the pipeline extension ([here](https://docs.microsoft.com/en-us/azure/azure-app-configuration/push-kv-devops-pipeline)) "push app configuration" to change app configuration and hope to know if it supports changing feature flags?

When I tried to pass an object to feature flag, it treated the object as multiple strings and converted the feature flag into configuration. So I'm

[2021-07-01 22:30] MaryanneNjeri commented on #531
Hello @XRSHEERAN, thank you for reaching out. When updating the feature flag changes, did you specify the content-type as "application/vnd.microsoft.appconfig.ff+json;charset=utf-8" in the push app configuration input parameters ?

[2021-07-02 18:56] Philippe85 commented on #522
Thanks

[2021-07-02 19:02] Philippe85 commented on #467
Have you created a enhancement ticket ?

[2021-07-02 19:06] Philippe85 commented on #457
The options "Hide matching key-value pairs" and "Hide all matching keys" are incomprehensible.
What is the meaning of "matching" here !

[2021-07-02 20:38] XRSHEERAN commented on #531
Oh thanks Mary, I didn't notice those fields. It works for me then, thanks again!

[2021-07-02 20:38] #531 closed

[2021-07-05 14:17] SirElTomato commented on #500
Any update on this? It's quite a pain having to type out the whole prefix and try and remember the hierarchy of a key name when I just want to search for "email"

[2021-07-07 19:42] cablooshe commented on #457
"Matching" here is to describe the two compared elements having the same fields (so both the same key and value field for "Hide matching key-value pairs", or only the same key in "Hide all matching keys"). "Matching" does not consider differences in labels.

So to compare to the example above that Zhenlan has, "Hide matching key-value pairs" will remove _mykey_from view, while "Hide all matching k

[2021-07-07 19:44] cablooshe commented on #522
The bug has been fixed. You should be able to import and export from app services and have the keyvault references transfer correctly.

[2021-07-07 19:44] #522 closed

[2021-07-07 19:45] cablooshe commented on #495
We've deployed a change to the compare blade. If you want to only see configs that are fully different between the store, select "Hide all matching keys" in the available options.

[2021-07-07 19:45] #495 closed

[2021-07-09 23:30] jiayi11 commented on #500
@SirElTomato  This is already in planned. I'll let you know once I have more updates.

[2021-07-13 13:52] SirElTomato commented on #495
Thanks @cablooshe, looks good to me!

[2021-07-14 00:44] avanigupta commented on #235
@HashTagDotNet, @huantingchen, we are evaluating how Offline Cache is used in different applications. Could you please help us understand the problem you are trying to solve by using Offline Cache?

[2021-07-14 00:46] avanigupta commented on #137
Hi @fernandozago, we are evaluating how Offline Cache is used in different applications. Could you please help us understand the problem you are trying to solve by using Offline Cache?

[2021-07-14 00:48] avanigupta commented on #79
Hi @fernandozago , we are evaluating how Offline Cache is used in different applications. Could you please help us understand the problem you are trying to solve by using Offline Cache?

[2021-07-14 01:01] avanigupta commented on #45
Hello @pbhughes, @vishnu-97, @vip32, @kamalsivalingam,
we are evaluating how Offline Cache is used in different applications. Could you please help us understand the problem you are trying to solve by using Offline Cache?

[2021-07-14 01:24] fernandozago commented on #79
If there is no internet connection when the application is starting (or some miss configuration was applied), the whole application crashes and wont start.

The Offline Cache support should be smart (to avoid crashing at the startup time)

[2021-07-14 01:42] kamalsivalingam commented on #45
@avanigupta I posted this question when I started exploring Azure AppConfig. The web apps and backend consumer apps hosted on Azure App Service that I worked on so far relies on Azure App Config and Azure KeyVault upon bootstrapping the application and so I didnt integrate the offline cache mechanism. However if you are using .net core Options pattern (IOptionsSnapshot) to auto refresh the configu

[2021-07-14 10:20] huantingchen commented on #235
Thanks @avanigupta. We're developing desktop apps within .NET Framework (C#/WPF) and look to inject remote config synced from Azure App Configuration. Sometimes our users don't have access to internet and therefore would like to save a local cache on user machine. Cheers.

[2021-07-14 10:35] vishnu-97 commented on #45
Hii Team,
We used them to serve as a backup incase azure is down for some reason.
Further, we also had the values in in memory, which get updated whenever
there was any update in AppConfiguration which provided faster access
reduced AppConfiguration requests.
So, offline cache, didn't actually came to be much use, it was jst there as
a backup of backup.

Thanks & regards,
Vishnu R Pillai

On Wed 1

[2021-07-14 19:42] #384 closed

[2021-07-16 08:09] SirElTomato opened #532 "Wildcard search doesn't work"
When using *searchterm* as a key filter, it does not do any filtering and still displays all keys.

[2021-07-16 19:27] jiayi11 commented on #532
@SirElTomato Are you referring to the key filter pillbox in configuration explorer blade on portal? I just tried and the key filter works well for me, can I know what kind of search term you are putting in the filter?

[2021-07-23 10:15] MaryanneNjeri commented on #525
Hi @thuijer a new release is out for the the Azure App Configuration Task- version 3.5.16 and Azure App Configuration Push Task- version 1.4.4, they include the improvement on showing more details about the operation.

[2021-07-23 10:15] #525 closed

[2021-07-23 10:20] MaryanneNjeri commented on #520
Hi @ocabr4l  and @ssulei7  a new release is out for Azure App Configuration Task version - 3.5.16 and  Azure App Configuration Push Task version-1.4.4, with the fix for the bug that causes the above warning, please feel free to check it out. Incase of any questions please feel free to reach out :) .

Thanks,
Maryanne

[2021-07-23 10:24] MaryanneNjeri commented on #469
Hello @sharvaridesai123  a new release is out for Azure App Configuration Task version - 3.5.16 and Azure App Configuration Push Task version - 1.4.4, they include the enhancement to support cert based authentication. Please feel free to check it out. In case of any questions please feel free to reach out.

[2021-07-23 18:23] ssulei7 commented on #520
Hi @MaryanneNjeri

Given this was a one time problem that has occured within our environment, it will be difficult for me to reproduce that warning without some reproduction steps.

In good faith, I will assume the implemented change will prevent this problem in the future and I will let my team know that this bug has been addressed. ☺️

[2021-07-27 09:05] riaadh commented on #519
Hello,
Now i am facing also another issue when i export my configuration. Since there is no Prefix (namespacing) in the Feature Flags they are not exprted.

there is a lot of incoherance in the feature flag functionality, in .net Core it's already namespaced as "FeatureManagement": { } in the app setting file, in the azure portal it's on .appconfig.featureflag/

Please harmonize the behaviour, mak

[2021-07-27 09:39] riaadh commented on #519
To summarize :
        Allow Prefix  to Feature Flags
        Allow SDK to select feature flags by Prefix
        Consistent namespace for Feature flags between .net core and azure portal (under FeatureManagement like .net core)
        Allow import/export for the feature flags in the azure portal  the same way for config (the namespace will define if it is a config or a feature flag)

Thanks

[2021-07-27 11:03] abmis-mi opened #534 "Is there a way to grant reader role to app services in Azure App Config resource?"
https://docs.microsoft.com/en-us/azure/azure-app-configuration/howto-integrate-azure-managed-service-identity?tabs=core5x#grant-access-to-app-configuration

Is there a way to grant App Configuration Data Reader role to app services using azure cli or through ARM scripts? We want to automate the process of creating all the resources including App Configuration and App Service and do not want to hav

[2021-07-27 15:48] #520 closed

[2021-07-27 15:51] MaryanneNjeri commented on #513
Hi, @ctvanzandt42  a new release is out for Azure App Configuration Task version - 3.5.16 and Azure App Configuration Push Task version-1.4.4, with the fix that gives more information about the error message above, please feel free to check it out. In case of any questions please feel free to reach out :).

Thanks,
Maryanne

[2021-07-27 15:57] ctvanzandt42 commented on #513
Wonderful, Maryanne! Let me know when the release notes are posted, I don't see them. Looking forward to implementing the fix.

[2021-07-27 15:59] MaryanneNjeri commented on #513
Awesome will let you know once the release notes are posted.

[2021-07-27 22:37] cmoyer4 opened #536 "Error adding Spring Boot Parameters to App Configuration via ARM Template"
I'm trying to create a App Configuration instance via an ARM template and populate the key value pairs via the template.  According to the Spring Boot Azure App Configuration documentation, all keyName need to have the prefix of '/application/' for Azure Spring Cloud Config to retrieve these values.  But including the prefix while creating the keyName violates the segment length constraint for the

[2021-07-28 07:00] zhenlan commented on #536
Hi @cmoyer4

The key and label specified in the ARM template need to be encoded due to the restriction of characters in the ARM template. In your case *application/* should be encoded as *application~2F*. Please check out the Tip section towards the end of this document for more details: https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-resource-manager

[2021-07-28 07:06] zhenlan commented on #534
The standard CLI role assignment command should work: https://docs.microsoft.com/en-us/cli/azure/role/assignment?view=azure-cli-latest

The same is supported in ARM template too: https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-template

[2021-07-28 07:10] zhenlan commented on #532
@SirElTomato please let us know if you have an update. Close for now.

[2021-07-28 07:10] #532 closed

[2021-07-28 08:04] abmis-mi commented on #534
Just realized even for automation we need a priviledged access to do the changes, unlike adding Access Policies in KeyVault.

![image](https://user-images.githubusercontent.com/66029786/127286872-f3eae1f3-6862-4c9a-abdf-5ad2b7027a8e.png)

Is there any plan to introduce access policy similar to keyvault, where even a contributor can add the required permission?

[2021-07-28 17:38] zhenlan commented on #534
KeyVault has access policies before the support for Azure role-based access control (RBAC) was added recently. RBAC is the way to go moving forward.

[2021-07-29 04:25] abmis-mi commented on #534
Thanks! I was not aware about this.

[2021-07-29 04:25] #534 closed

[2021-07-29 07:45] SirElTomato commented on #532
Sorry I forgot to escape the * in the original post. The searchterm I used was \*searchterm\*

[2021-07-29 17:13] jiayi11 commented on #532
*searchterm is not supported right now. This can be improved by adding client side filtering #500

[2021-07-29 18:55] TharinduK opened #537 "Support for hierarchical view in portal"
Could you please add the ability to group feature flags based on hierarchy in **Azure Portal, Configuration Explore** ? .

I currently have setup feature configuration keys to follow the naming structure `Feature1:SubFeature1`. However they do not appear grouped together (with an > and collapsed) when looking in UI.

![FeatureSetup](https://user-images.githubusercontent.com/19589601/127549985-8775

[2021-08-02 10:04] techierathore opened #538 "Can I set/change a Key Value from Source code."
Can I change a key value from source code ? Currently I am using Configuration[Key] to set the value but it only saves the values till application is in memory, when I refresh the Configuration settings it gets replaced by the original values.
Is App Configuration values read only from code ?

[2021-08-02 20:50] zhenlan commented on #538
@techierathore to make changes of key-values in App Configuration, you may use the App Configuration SDK: https://github.com/Azure/azure-sdk-for-net/tree/main/sdk/appconfiguration/Azure.Data.AppConfiguration.

[2021-08-02 20:54] #482 closed

[2021-08-02 20:59] zhenlan commented on #537
Thanks for the suggestion, @TharinduK. We do have plans to support a hierarchical view in the future.

[2021-08-03 08:44] #469 closed

[2021-08-03 09:25] mattsage1991 opened #539 "App Configuration not refreshing with when using services.AddApplicationInsightsKubernetesEnricher()"
When adding services.AddApplicationInsightsKubernetesEnricher() into ConfigureServices, if I update something in AppConfiguration, it doesn't update the cache and always returns the initial value until I restart the application. I've been using this with the FeatureManagement package.

It only works when I remove services.AddApplicationInsightsKubernetesEnricher() from Startup.

Thought I'd raise

[2021-08-03 20:34] zhenlan commented on #536
@cmoyer4 please let us know if you have other questions. Closing for now.

[2021-08-03 20:34] #536 closed

[2021-08-04 01:46] jimmyca15 commented on #539
Hello @mattsage1991 thanks for reporting this. It looks like the is an issue in the `services.AddApplicationInsightsKubernetesEnricher` API. I have filed the following issue in the relevant repo so it can be investigated and rectified: https://github.com/microsoft/ApplicationInsights-Kubernetes/issues/236

[2021-08-04 01:48] jimmyca15 commented on #539
I will close this issue since the underlying problem is in the ApplicationInsights-Kubernetes code library rather than the Azure App Configuration / Microsoft.FeatureManagement side.

[2021-08-04 01:48] #539 closed

[2021-08-05 17:22] avanigupta commented on #519
Hello @riaadh, we released the ability to add prefix on feature flags using Azure CLI in [version 2.27.0](https://github.com/MicrosoftDocs/azure-docs-cli/blob/master/docs-ref-conceptual/release-notes-azure-cli.md#appconfig).

With this change, the feature flag prefix can be directly added to the key-value key in AppConfig. The feature name can be different from the key and doesn't need to be names

[2021-08-08 15:29] MichaCo opened #540 "GetFeatureNames returns Configuration Keys instead of feature names"
Hi,

I'm currently playing with the app-configuration service and I think I found a pretty strange bug.

When I use both, configuration K/Vs and feature flagging, and filter the feature flags in a way that it doesn't return anything. `GetFeatureNamesAsync` all the sudden returns configuration keys.

I'm using the following configuration/setup:

[code]

Values in Azure App Configuration:

![image](

[2021-08-08 15:52] MichaCo commented on #519
@avanigupta The Azure dashboard UIs don't seem to know about that yet?
I created your example feature with a path string separated by `:`

When I use the FeatureManager UI to add labels to it. It'll create "new" features without the path (only named Beta) 😕
![image](https://user-images.githubusercontent.com/5837539/128637834-c771f89e-cf91-434e-a4e0-4435df2f766b.png)

[2021-08-09 09:31] riaadh commented on #519
@avanigupta thank you for this change, but I confirm what @MichaCo  said the azure dashboard doest not allow yet
![Uploading image.png…]()
This is a first step for harmonizing feature flags and config.
Could you have a look at this 2 points

- Consistent namespace for Feature flags between .net core and azure portal (under FeatureManagement like .net core)
 => in .net core app setttings file we ad

[2021-08-09 15:28] furlongmt opened #541 "Azure App Configuration Push Devops Extensions Doesn't Modify Feature Flags"
Hi, we enabled CI/CD for our AAC configuration using the Azure CLI because the AAC Devops extension did not work when we tried to update feature flags from our pipeline. This feels like it's a bug, but perhaps this a feature or we had something configured. Our issue with the Azure CLI is that it doesn't include an overwrite option so we can't successfully delete keys/features from our configuratio

[2021-08-09 17:27] avanigupta commented on #519
@riaadh, @MichaCo, your understanding is correct. This is not available in Azure portal yet but we are actively working on providing the same functionality in the portal too. In the meantime, you can use Azure CLI to achieve namespacing for feature flags as I mentioned earlier. You will see some errors in Azure portal, but your feature flags can still be accessed via any ConfigProvider/SDK/CLI/RES

[2021-08-09 20:21] jimmyca15 commented on #540
This is due to the ability to define features at the root level of `IConfiguration`. The Microsoft.FeatureManagement library switches to this mode if [no "FeatureManagement" section is found](https://github.com/microsoft/FeatureManagement-Dotnet/blob/c24f4fd8b72a006543641522a528eaa81bee4525/src/Microsoft.FeatureManagement/ConfigurationFeatureDefinitionProvider.cs#L182) in the application's configu

[2021-08-09 20:38] MichaCo commented on #540
Ok, thanks for the explanation.

[2021-08-10 22:11] MaryanneNjeri commented on #541
Hi @furlongmt, thank you for reaching out. We are currently working on supporting importing feature flags from json/yaml file, we'll reach out once we have a release out.

[2021-08-10 22:21] avanigupta commented on #541
@furlongmt, can you elaborate on the error you get when using Azure CLI to delete/overwrite key-values and feature flags?
Were you able to try the following CLI commands?
- Overwrite key-value: [az appconfig kv set](https://docs.microsoft.com/en-us/cli/azure/appconfig/kv?view=azure-cli-latest#az_appconfig_kv_set)
- Delete key-value: [az appconfig kv delete](https://docs.microsoft.com/en-us/cli/azu

[2021-08-11 05:21] techierathore commented on #538
Thanks @zhenlan This worked.

[2021-08-11 05:21] #538 closed

[2021-08-11 12:39] furlongmt commented on #541
That's great to hear @MaryanneNjeri! We're very much looking forward to that feature.

@avanigupta, we aren't seeing any error when using the Azure CLI. We can delete or update key-values, but we are lacking the ability to do something like this (from microsoft docs):
![image](https://user-images.githubusercontent.com/11665769/129029946-04137f93-353b-4be1-8418-6d8e5f4682c8.png)

The key bit is "En

[2021-08-12 00:23] avanigupta commented on #541
@furlongmt, thanks for the clarification. You're right, Azure CLI does not support strict mode but you can still achieve the same result in 2 steps in your CI/CD pipeline:

**Step 1:** Delete all key-values/feature flags from your AppConfig store by running `az appconfig kv delete --key *`
**Step 2:** Import from your config file using `az appconfig kv import`

In the doc that you shared above, th

[2021-08-12 14:10] furlongmt commented on #541
Thanks for the suggestion @avanigupta. It's too risky for us to delete all of the keys before importing via the config file (e.g., what if the requests are throttled after deleting?). It sounds like we'll have to wait for the new feature to add importing feature flags from json/yaml to the Azure App Configuration Push task.

[2021-08-12 19:30] MarkAtAgilliance opened #543 "App Configuration 401 error using DefaultAzureCredential in VS2019"
May be related to this issue [App Configuration 401 error using DefaultAzureCredential in VS2019 #397](https://github.com/Azure/AppConfiguration/issues/397).

I have started getting occasional errors access through the AzureDefaultCredentials.  Not a blocker but annoying that it keeps failing.

Confirmed I have the correct account selected in VS tools/options/Azure Service Authentication / Account

[2021-08-13 21:36] drago-draganov commented on #543
Can you set AZURE_TENANT_ID as well?

[2021-08-13 21:50] zhenlan commented on #543
Just expand on what Drago suggested. According to the error "_The access token is from the wrong issuer. It must match the AD tenant associated with the subscription, to which the configuration store belongs. If you just transferred your subscription and see this error message, please try back later._", you are likely in a multi-tenant environment. You need to use the same AAD tenant where your Ap

[2021-08-13 21:54] #540 closed

[2021-08-13 23:27] MarkAtAgilliance commented on #543
@drago-draganov , @zhenlan  thanks, that was it.
Strange thing is I have been developing multi-tenant for 3-4 years and this problem only started happening a few days ago.

To your point "the DefaultAzureCredential sometimes picked the wrong tenant".  Seems like it tripped over to always picks up the wrong tenant id.  It maybe a netcore 5 vs 3.1 since I have only recently started using 5.0.

Thank

[2021-08-13 23:27] #543 closed

[2021-08-13 23:59] drago-draganov commented on #543
The default DefaultAzureCredential picks up the "home" tenant. If your Identity is part of more than one tenant, those issues could become more often than not.

[2021-08-19 21:02] furlongmt commented on #541
For anyone facing a similar issue, we have separated our configuration file into a key-value file and a feature flag file. We then push the configuration file using the AAC task, and the feature flag file using the az CLI like so:
[code]

[2021-08-20 13:30] andyhammar opened #545 "FeatureFlag targeting filter is case-sensitive"
Hi!
I saw from the sibling issue of this (https://github.com/Azure/AppConfiguration/issues/52) that the whole AppConfiguration system is case-sensitive by design, but I thought I'd post this anyway.

After implementing this in our app, on the first feature to toggle on our product owner pasted some emails into the user targeting textboxes and it didn't work - they we Name.Name@example.org

Could t

[2021-08-23 22:59] avanigupta commented on #545
Hi @andyhammar, you can setup [TargetingEvaluationOptions.IgnoreCase](https://docs.microsoft.com/en-us/dotnet/api/microsoft.featuremanagement.featurefilters.targetingevaluationoptions.ignorecase?view=azure-dotnet-preview) to perform case-insensitive comparison.

[2021-09-03 12:59] Aravind-Kump opened #546 "How to add/update key-vault references in app-configuration using "Azure App Configuration Push task""
Team,

How can I add/update key-vault reference in app-configuration using "Azure App Configuration Push task"?

I tried in below format.
**Pipeline:**
- task: AzureAppConfigurationPush@1
      inputs:
      azureSubscription: 'Subscription'
      ConfigstoreName: 'app-configuration'
      ConfigurationFile: 'keyvault-secrets.json'
      Separator: ':'
      Label: 'dev'
      ContentType: 'applic

[2021-09-04 00:14] zhenlan commented on #546
The value in the json file should be in the format of
`{"uri":"https://xxx.vault.azure.net/secrets/abc"}` and you may have to json encode it.

[2021-09-04 00:15] #545 closed

[2021-09-07 18:52] alex-3sr commented on #62
Hi all,

Sorry to bump a thread, I usually never do that .. but I'm still exciting to wait this feature ^^

Have a nice day to all
Regards
Alexandre

[2021-09-08 19:26] zhenlan commented on #62
Thanks for the query @alex-3sr. It may take some time, but we started working on this together with the App Service team now.

[2021-09-09 06:04] HarshitaSingh-MSFT opened #547 "I can't get these code snippets for authentication to work"
Moving Issue [#80672](https://github.com/MicrosoftDocs/azure-docs/issues/80672) from **azure-docs** repo to here.

I've tried the JS and C# code snippets and always get a 401 Unauthorized error saying
`HMAC-SHA256 error="invalid_token", error_description="Invalid Signature"`

I'm using the client id and secret from the portal for my app config and i'm passing in a base 64 encoded version of the se

[2021-09-09 15:31] zhenlan commented on #547
Answered on [Stack overflow](https://stackoverflow.com/questions/69046391/azure-app-config-hmac-authentication-returns-unauthorized-error/69092173#69092173) already. The C# sample code should be updated to include base64 decoding the secret, so it's consistent with other samples.

[2021-09-09 16:23] zhenlan commented on #547
PR to update the document https://github.com/MicrosoftDocs/azure-docs/pull/80865

[2021-09-09 22:35] zhenlan commented on #547
PR is merged.

[2021-09-09 22:35] #547 closed

[2021-09-10 19:07] webbsk opened #548 "Maximum value size is too small for a non-trivial JSON array"
We have an array of 32 json objects with 10 key-value properties. This file when stored is already 20kb, well past the 10kb limit for value size for App Configuration. Why is this limit in place and what are the plans to expand it? Even for AKV, the value size of a secret can be at least 25kb. I understand that we could shard the values but even so that would require multiple request to AppConfigu

[2021-09-10 22:07] ms-amakumar opened #549 "How to SetDirty on all instances of an Azure function app?"
I have an Azure function app deployed on 3 instances of App service plan, and I am using a httptrigger to SetDirty on Configuration Refresher. But as it turns out, configuration is only being refreshed on the original instance where SetDirty was executed. Other two instances are still returning the old config value. Even if I use event grid for app config events, wouldn't that also send the notifi

[2021-09-11 01:24] shenmuxiaosen commented on #548
The 10kb limit is per kv and the one AppConfiguration resource can use up to 1Gb storage. Any reason why you want to insert the whole thing into one key-value pair? By doing this, it will be hard to modify and maintain if you just want to change a very specific setting in your configuration. If you are worrying about multiple requests to pull data, there is an API to[ list key values ](https://doc

[2021-09-11 03:05] zhenlan commented on #549
@ms-amakumar when you have multiple instances of your application (Azure Functions in this case), you will need a way so the push notification events can be sent to all instances. Here is an example that uses Service Bus for this purpose.
https://docs.microsoft.com/en-us/azure/azure-app-configuration/enable-dynamic-configuration-dotnet-core-push-refresh

It does take an extra complexity to impleme

[2021-09-11 18:36] ArmandoPitotti opened #550 "##[error]Failed to parse: /home/vsts/work/1/b/publish_output/remote.settings.json, Unexpected token ﻿ in JSON at position 0"
**I am trying to use 'Azure App Configuration Push' in my pipeline, but I get the error:**
   Failed to parse: /home/vsts/work/1/b/publish_output/remote.settings.json, Unexpected token ﻿ in JSON at position 0

**My very simple json:**

{
 "FirstKey":"FirstValue"
}

**My task in pipeline for Configuration Push:**

- task: AzureAppConfigurationPush@1
  inputs:
    azureSubscription: 'ServConnection-

[2021-09-11 19:16] #546 closed

[2021-09-13 01:04] ms-amakumar commented on #549
@zhenlan

Still running into the same issue. Here is what I tried.
Implemented service bus handler and have 3 instances of the func app running. Updated a key, followed by Sentinel key. These two update notifications only went to 2 of the 3 instances and marked configurationRefresher dirty, but the other two instances are still returning the old value as the service bus notification never reached

[2021-09-14 18:51] MaryanneNjeri commented on #550
Hello @ArmandoPitotti, sorry for the delayed response. Am working on reproducing the issue you are currently facing.

[2021-09-14 20:28] MaryanneNjeri commented on #550
@ArmandoPitotti  I have been able to reproduce the error you are experiencing, kindly check the encoding format of the `remote.settings.json` file, if the encoding format is `UTF-8 with BOM` kindly update to `UTF-8`. Please let me know if this helps :) .
Thanks,
Maryanne

[2021-09-15 21:58] carlo-quinonez opened #551 "Difference between Free and Standard tier"
We're considering using AppConfig and had a question regarding the difference between the Free and Standard tiers. Namely, what is considered a "Resource" in the first line of the pricing table? Does this mean we can have only 1 Free AppConfig resource per subscription and if we want more than one, we have to use Standard tier?

![image](https://user-images.githubusercontent.com/53790047/133515111

[2021-09-15 22:01] carlo-quinonez commented on #551
NVM - of course I just found the info in the [docs](https://docs.microsoft.com/en-us/azure/azure-app-configuration/faq#which-app-configuration-tier-should-i-use). The info wasn't easy to find, but my question is answered.

![image](https://user-images.githubusercontent.com/53790047/133515647-7a7b629c-6b22-4cab-b3b5-b71e37e9a40c.png)

[2021-09-15 22:01] #551 closed

[2021-09-16 02:10] zhenlan commented on #549
@ms-amakumar I think you will need to create a separate service bus subscription for each Function instance.

[2021-09-16 04:40] realbart opened #552 "Manage all App Configuration data in one file"
I would very much like to be able to create/update app configuration values, with different labels and also keyvault references in one step. At this moment I'm forced to make a separate file AND pipeline step for every label/contenttype-combination.

I would expect the config file to look a bit like this:

[code]

Our company policy says all application code and configuration must originate from e

[2021-09-16 11:08] ArmandoPitotti commented on #550
@MaryanneNjeri It seems to work now. Thanks

[2021-09-16 11:08] #550 closed

[2021-09-16 15:04] zhenlan commented on #550
@MaryanneNjeri, any chance we can either detect the file format or give a better error message so users can confirm their file format?

[2021-09-16 15:16] zhenlan commented on #552
@realbart, great feedback. The design of the current file import/export is to enable users to consume those config files in their applications without any code change. What you bring up is a bit different scenario where you need to use files for configuration authoring. It's absolutely a reasonable scenario to me. We will look into it.

[2021-09-19 19:44] ms-amakumar commented on #549
@zhenlan  Is there a documentation I can follow? As those function instances are created dynamically it'll be tricky to create on demand subscription. Haven't seen that being done before.

[2021-09-20 11:27] MaryanneNjeri commented on #550
@zhenlan we can detect file format and give a better error message. Let me work on that.

[2021-09-21 08:39] RichardMuniu commented on #549
Hi @ms-amakumar!
Here’s the link to the [Service Bus Management Client reference](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.servicebus.management.managementclient?view=azure-dotnet). Additionally, here's a code sample of how you can create and use dynamic subscriptions.

[code]

If you'd like to programmatically clean up your created subscriptions at some point after creation, yo

[2021-09-22 18:40] cpdohert commented on #62
This feature is critical for properly implementing 12factor app design, which mandates that configuration be provided as orthogonal environment variables.  We have multiple Azure app services with dozens of settings each and we cannot use App Configuration because those apps are configured to get all their configuration from environment variables.

[2021-09-22 19:25] zhenlan commented on #548
@webbsk please let us know if you have further questions. Closing for now.

[2021-09-23 15:45] saiyedzaidi opened #554 "Change priority of AppConfigurationPropertySourceLocator to make it override locally loaded properties"
At this time, the Azure app config AppConfigurationPropertySourceLocator is added to the property sources without any Order. This makes the remote properties be overwritten by any local properties that were bundled with the deployable.
Ideally this behavior should be customizable and if not, the remote config being more manageable should override the values loaded from local property files.

Expec

[2021-09-28 01:25] byronbayer commented on #421
I have created a solution to this and posted it here https://medium.com/@byronbayer/accessing-azure-key-vault-values-from-azure-app-configuration-solving-the-403-forbidden-7ebc2a62e4f8

[2021-09-28 15:44] MaryanneNjeri commented on #513
@ctvanzandt42  the release notes for this fix were posted, [AzureDevOpspipelineExtension](https://github.com/Azure/AppConfiguration/blob/main/releaseNotes/AzureDevOpsPipelineExtension.md) and [AzureDevOpsPushPipelineExtension](https://github.com/Azure/AppConfiguration/blob/main/releaseNotes/AzureDevOpsPushPipelineExtension.md)

[2021-09-28 15:46] zhenlan commented on #554
@mrm9084 do you have any suggestions?

[2021-09-28 17:34] mrm9084 commented on #554
@zhenlan I am looking into it.

[2021-09-29 00:08] CSymes commented on #255
We just got stung by this as well, and although we're targeting 3.x (.NET Core 3.1 / Functions runtime 3.0.13), it definitely still takes 10 minutes to time out (I just double-checked to confirm), with no indication of what the problem is unless you leave it sitting there doing nothing for the full 10 minutes, at which point it does actually spit the error out and say that you've hit your quota li

[2021-10-01 17:15] anirugu opened #555 "Can not add app config type to keyvault reference type"
In our Azure Devops project we seen it's no longer work with ps1 file in which we are improving config from CSV file. Can anyone explain what changes introduced in 2.28.0 which make it fail.

Or something else need to be done to fix it. It's no longer work for us.

[2021-10-01 18:14] zhenlan commented on #555
@anirugu can you please elaborate on what exactly you are using and what errors you got? What are you referring to by version 2.28.0?

[2021-10-04 09:49] anirugu commented on #555
The 2.28.0 Azure CLI released in September. I got this logs from the failure deployment.

2021-09-27T15:10:16.4259178Z FunctionName : Can not add app config type to keyvault reference type
2021-09-27T15:10:16.4268631Z     + CategoryInfo          : NotSpecified: (:) [Write-Error], WriteErrorException
2021-09-27T15:10:16.4270875Z     + FullyQualifiedErrorId : Microsoft.PowerShell.Commands.WriteError

[2021-10-04 18:13] zhenlan commented on #555
@anirugu this doesn't look like errors from Azure CLI. I can't tell what's going on from your logs. Can you please share what Azure CLI command you ran and what output you got? If it's not the expected result, how is it different from your expectation?

[2021-10-04 18:15] zhenlan commented on #549
@ms-amakumar I hope @RichardMuniu answered your question. Closing.

[2021-10-04 18:15] #549 closed

[2021-10-04 18:17] zhenlan commented on #370
@et13 can this be closed?

[2021-10-04 19:37] zhenlan commented on #255
@CSymes thanks for sharing your feedback. Which version of the App Configuration provider library you are using?

@avanigupta please see if there is some logging we can do.

[2021-10-04 19:39] zhenlan commented on #513
@MaryanneNjeri can this be closed?

[2021-10-04 19:47] mslentz commented on #513
Yes, thank you so much!

[2021-10-04 19:59] #513 closed

[2021-10-04 21:47] et13 commented on #370
This scenario is now working is recent v8/v9 versions of postman - I tested with 8.11.1 and 9.0.5. `pm.request.url.getPathWithQuery()` no longer includes the disabled parameters

[2021-10-04 21:47] #370 closed

[2021-10-04 23:58] Nico-VanHaaster opened #556 "Azure DevOps Extension 3.6.16 Failing"
As of today our Pipelines have been failing using the version 3.6.16 which appears to be released today.

Using a starter pipeline with App configuration is showing the following output.

![image](https://user-images.githubusercontent.com/11223218/135939933-6bd4cf45-e91e-426d-a392-41b56ef89f2e.png)

[2021-10-05 00:03] zhenlan commented on #556
@Nico-VanHaaster thanks for reporting the issue. If this is blocking you, you can reference version 3.5.x for now.

@MaryanneNjeri can you take a look?

[2021-10-05 00:04] Nico-VanHaaster commented on #556
@zhenlan do you know how to reference the 3.5.x extension in devops?

[2021-10-05 00:10] Nico-VanHaaster commented on #556
I can confirm rolling back to 3.5.16 has unblocked us for now.

[code]

[2021-10-05 00:25] jruckert commented on #556
Still getting this issue when trying to manually run the pipelines.

![image](https://user-images.githubusercontent.com/4064588/135941803-668cfd14-6a68-4480-bbc9-4b829d1521d3.png)

[2021-10-05 00:26] MaryanneNjeri commented on #556
Hey @Nico-VanHaaster, apologies currently working on a fix.

[2021-10-05 00:28] jruckert commented on #556
Has the previous version been removed as we can't reference the older version

[2021-10-05 00:37] MaryanneNjeri commented on #556
The previous version is still there, try this `AzureAppConfiguration.azure-app-configuration-task.custom-build-release-task.AzureAppConfiguration@3.5.16`

[2021-10-05 00:40] jruckert commented on #556
@MaryanneNjeri no luck with that either. (we are using a template reference also)
![image](https://user-images.githubusercontent.com/4064588/135942791-b70772f5-b1d3-44e8-a9f0-29885a988d46.png)

[2021-10-05 02:31] MaryanneNjeri commented on #556
A new version is out [Azure App Configuration 3.6.17](https://marketplace.visualstudio.com/items?itemName=AzureAppConfiguration.azure-app-configuration-task) with the fix. My apologies for inconvenience. @jruckert please let me know if this unblocks you.

[2021-10-05 02:36] jruckert commented on #556
Thanks @MaryanneNjeri just running a build now, will let you know

[2021-10-05 02:53] jruckert commented on #556
Thanks, this has solved the issue @MaryanneNjeri!!

[2021-10-05 07:55] CSymes commented on #255
Apologies for neglecting that, we're using **Microsoft.Extensions.Configuration.AzureAppConfiguration** v4.2.1

[2021-10-05 13:54] jcnewman83 opened #557 "Stop Application configuration from causing web application to crash"
I have recently been in a situation where our request quota was exceeded and it caused the web application to completely crash/stop, it took me a while to get to application config as the root cause, but, I found that I had originally set the application configuration service up using the free tier for which we exceeded the day quota, once I upgraded our service to standard tier and rebooted our a

[2021-10-05 13:59] kedzior-io opened #558 "Access AppConfiguration from Container Instance using manged identity"
I have .net web api running inside the container with the following settings:

[code]

My containers are spinned up by azure function in azure container instance group:

[code]

The `api` containers starts and throws an exception:

[code]

I can confirm that my system identity is enabled on container group.

![image](https://user-images.githubusercontent.com/40808369/136030174-7ae7de06-87ec-495b-8

[2021-10-05 18:03] jimmyca15 commented on #558
@kedzior-io that error message `ManagedIdentityCredential authentication unavailable. No Managed Identity endpoint found` implies that the container instance doesn't have managed identity set up. I'm wondering if it could be that your code is starting up so quickly that the managed identity isn't ready for use yet. Is it possible for you to create the container instance, stop it and start it again

[2021-10-05 18:06] jimmyca15 commented on #557
@jcnewman83 [AddAzureAppConfiguration](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.configuration.azureappconfigurationextensions.addazureappconfiguration?view=azure-dotnet-preview#Microsoft_Extensions_Configuration_AzureAppConfigurationExtensions_AddAzureAppConfiguration_Microsoft_Extensions_Configuration_IConfigurationBuilder_System_Action_Microsoft_Extensions_Configuration_A

[2021-10-05 18:07] jimmyca15 commented on #556
@Nico-VanHaaster thank you for reporting this and enabling us to fix this early for any other users who were impacted. Closing the issue since it has been addressed.

[2021-10-05 18:07] #556 closed

[2021-10-05 19:39] kedzior-io commented on #558
Thanks. Tried that. Same error.

[2021-10-05 20:57] svrooij commented on #558
Really? I faced this issue multiple times when accessing the keyvault with a managed identity. I eventually give up decided that managed identities don’t work yet on container instances….

for those interested I wrote a blog post about how those identities actually work. https://svrooij.io/2021/07/20/managed-identity-without-azure/

[2021-10-05 21:23] kedzior-io commented on #558
@svrooij yes it does. I need to measure though how long it takes to propagate.

![image](https://user-images.githubusercontent.com/40808369/136103555-f06602ed-7a21-44bd-a9e3-20d0c45b37a4.png)

If it is too long I will probably get all those configs from app configuration and set them up as secured environment variables as I create containers:

` .WithEnvironmentVariableWithSecuredValue("AppSetting

[2021-10-06 07:15] jcnewman83 commented on #557
@jimmyca15 this is perfect, I will give it a go and if I have any further issues raise them if appropriate, thank you.

[2021-10-06 07:15] #557 closed

[2021-10-06 08:01] markleavesley commented on #192
It would be really nice if we could import/export to a file, with labels!

[2021-10-06 16:20] jimmyca15 commented on #558
@kedzior-io I am not aware of the expected time for when the managed identity service is expected to be available after provisioning an Azure Container Instance. This [feature is in preview](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-managed-identity) and this looks like some valuable feedback for the feature.

Any feedback for Managed Identities in Azure Contai

[2021-10-06 16:22] jimmyca15 commented on #555
@anirugu

Are you able to provide us any more details, such as those mentioned by Zhenlan?

[2021-10-06 18:34] kedzior-io commented on #558
@jimmyca15 thanks! I get this is preview and might not be all dandy just yet. I will try to get the average time of waiting for AAC being accesible. I have a feeling that user assigned identity will be slightly faster as it only needs to be assigned to the container group resource. As an alternative I fetch values from AAC and set them as secure env variables.

[2021-10-19 13:05] jayanath007 opened #566 "App Configuration CORS issue Anguler front end app"
![image](https://user-images.githubusercontent.com/2934182/137914449-5041535f-6ec2-44c0-8708-b776e7c763e6.png)

I connected angular application with azure app config .
when I call  client.getConfigurationSetting({ key: "newFeatureflag" }); this method it get errors CORS error

![image](https://user-images.githubusercontent.com/2934182/137915289-f9241fed-1a62-41de-87e2-9c711482f4a6.png)

[2021-10-21 18:28] david-peden-q2 opened #567 "Is it possible to put Azure App Configuration behind Azure Front Door?"
I have set up three resource groups, each with their own instance of App Configuration. All keys/values are synchronized between the configuration stores. I have also created an Azure Front Door instance and associated frontend, backendpool, and route linking the frontend and backendpool via forwarding. Everything is wired up successfully. However, when I attempt to call into the front door config

[2021-11-03 15:16] snehafar commented on #512
Hi, I see the audit logs for App configuration have two kind of operation getting logged i.e set-key value and other is list-config-sore. How can i get the UPN for set-keyvalue operation. Can we see this as a feature for Audit purpose?

[2021-11-03 16:28] jimmyca15 commented on #567
A clean solution for this scenario is going to require changes on our side and after having looked at this we have already started working on them. Until this work is finished on our side, any solution is going to be a workaround at best and I wouldn't consider it production ready. I'll provide some details on your questions though.

The reason that the request does not make it to your front door

[2021-11-03 17:14] kleky commented on #397
Hi, setting up app config for the first time and getting this error using connection string as provided via portal

[2021-11-03 21:50] arshadazeem opened #568 "Application Specific Access Control"
Provide an ability for individual teams to apply RBAC around configuration entries they manage. E.g. App1 should only have read/write access to entries for App1 and not other Apps. This would help multiple application teams in an organization use the same App Configuration instance

[2021-11-04 01:38] zhenlan commented on #568
Good suggestion, @arshadazeem. This is something we are interested in looking into in the future. There is a similar request in #484. I am going to close this one and use the other one for tracking purposes.

[2021-11-04 01:38] #568 closed

[2021-11-04 17:08] jimmyca15 commented on #566
This was also filed in the sdk repo where the conversation has been ongoing.
https://github.com/Azure/azure-sdk-for-js/issues/18270#issuecomment-960249200

[2021-11-04 18:14] tommck commented on #195
@zhenlan I'm confused by a lot of the discussion and conversation here.  Is it correct that you MUST use the ConfigRefresher, even if you are using IOptionsSnapshot and IOptionsMonitor in Azure Functions?  It will never auto-refresh like it will in regular .Net Core?

If so, has this changed in .Net 6?

[2021-11-05 02:03] zhenlan commented on #50
Logs and metrics regarding requests sent to App Configuration are available via Azure Monitoring. Please see the following document for more details.

https://docs.microsoft.com/azure/azure-app-configuration/monitor-app-configuration

[2021-11-05 02:03] #50 closed

[2021-11-05 02:20] zhenlan commented on #366
The auditing logs with user information are also available. Follow the doc below to enable auditing logs.
https://docs.microsoft.com/en-us/azure/azure-app-configuration/monitor-app-configuration

Note that, the user identity information is only available when the change request is authenticated with Azure AD (AAD). You can enforce AAD authentication of an App Configuration store by disabling Acces

[2021-11-05 02:20] #366 closed

[2021-11-05 03:07] zhenlan commented on #195
@tommck yes, to have dynamic configuration update, you must use the `ConfigureRefresh` (which is not the problem discussed in this thread) AND you must call `TryRefreshAsync` in every function (which is the problem discussed in this thread).

In a normal ASP.NET Core application, you can add the App Configuration middleware once in a central place. The middleware will call `TryRefreshAsync` for yo

[2021-11-05 09:29] tommck commented on #195
So this won't be fixed with Azure functions even in isolated mode where there is middleware support?

Seems like it should be supported in that instance at least

[2021-11-05 14:25] websolut opened #569 "Not able to create keys with prefixes ('/') as recommended via an ARM template"
When I try to create a key '/application/region/key1' with an ARM template getting the error -

`New-AzureRmResourceGroupDeployment : 14:18:16 - Error: Code=InvalidTemplate; Message=Deployment template validation failed: 'The template resource
'configservice/' for type 'Microsoft.AppConfiguration/configurationStores/keyValues' at line '45' and column '76' has incorrect segment lengths. A nested
re

[2021-11-05 16:33] drago-draganov commented on #195
To be honest, the recently added support for middleware in Azure functions is news to me. We will certainly look into supporting refresh in a similar fashion as ASP.NET Core app. Thanks for bringing it up @tommck!

[2021-11-05 16:40] websolut commented on #569
On closer inspection the "name" is prefixed with the App Configuration store name followed by a forward slash and then followed by the desired key name. The problem here is that it only expects one "/" in the entire string. However, we do have guidance on how to mitigate this in the documentation here - https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-resource-manager ...

[2021-11-05 16:40] #569 closed

[2021-11-06 06:12] zhenlan commented on #195
Now that Azure Functions introduced the isolated mode, you can centralize your configuration refresh now.

First, define the middleware
[code]

Then, use it in *Program.cs* alone with the connection to Azure App Configuration
[code]

In your function, now you don't need to call `TryRefreshAsync` anymore. Configuration data is accessible via `IConfiguration` obtained through the dependency injectio

[2021-11-07 16:55] drago-draganov commented on #195
I think it makes sense to put that in a package.

[2021-11-08 04:20] indigogiant commented on #267
Any news on this request? It seems like it should be something that's just there.

[2021-11-08 07:56] Sun5Kong opened #572 "Support for Azure China Subscriptions"
I'm using it to publish settings to an Azure China subscription, but got the error "AADSTS90002: Tenant '***' not found. Check to make sure you have the correct tenant ID and are signing into the correct cloud. Check with your subscription administrator, this may happen if there are no active subscriptions for the tenant."
I am sure that I have selected the correct service connection.
I think it's

[2021-11-08 15:09] mattboothman commented on #267
When can we have this? I can't use `Get-AzAccessToken`, I can't mix azure cli with azure pwsh in pipeline without a load of faff.  It's been a long while since it was requested, az cli has it, how long before pwsh gets it too?

Can we have a workaround that doesn't involve az cli, please?

[2021-11-08 15:10] mattboothman commented on #267
I'm not sure this is really true. I've used it for a bunch of other data plane stuff, I'm sure.

[2021-11-08 18:58] zhenlan commented on #572
@Sun5Kong thanks for reporting the issue. The App Config pipeline tasks don't support sovereign clouds yet. We are looking into it.

[2021-11-09 01:36] dingmeng-xue commented on #267
Hi @mattboothman ,

We are visiting `Invoke-AzRestMethod` now. Idea is cmdlet will analyze the domain of input URL and find the correct name of resource (resourceId) to use in further data plane request.  The limitation is we only can support data plane API which resourceId and domain suffix have been declared in Azure Environment `Get-AzEnvironment`

Can it cover your requirement?

Thanks,
Dingme

[2021-11-09 10:59] MaryanneNjeri commented on #572
@Sun5Kong apologies for the inconvenience, we are currently working on a fix for this.

[2021-11-09 17:53] zhenlan commented on #554
Closing due to lack of response.

[2021-11-09 17:53] #554 closed

[2021-11-09 17:55] zhenlan commented on #512
@shenmuxiaosen any suggestions to @snehafar's question?

[2021-11-09 21:09] shenmuxiaosen commented on #512
@snehafar Yes, this is a feature that we can add. BTW, not all data plane requests(key value related) can have UPN. If the request is authenticated with connection string, only key id is audited. If it is AAD, UPN will be available for personal identity only instead of service principal.

[2021-11-09 21:59] zhenlan commented on #552
We add the capability in **Azure CLI** so you can manage your App Configuration key-values with different labels, tags, content-types all in one JSON file. Please give it a try and share any feedback with us. If it works well, we will add the capability in other tools, such as Azure pipeline tasks, GitHub actions, portal, etc.

You will need to download [Azure CLI](https://docs.microsoft.com/cli/a

[2021-11-09 22:14] realbart commented on #552
Nice!

I just tried it on CloudShell and it does exactly what I need.
I’ll try and integrate it into our pipeline tomorrow, initially just with an Azure CLI Task<https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-cli?view=azure-devops>.

This makes things a lot easier for us.
Thanks!

Bart Kemps

From: Zhenlan Wang ***@***.***>
Sent: Tuesday, November 9, 2021 10:59 PM
To: A

[2021-11-11 06:41] snehafar commented on #512
Thanks for the reply @shenmuxiaosen  any ETA for thi? The problem that we are facing at present is we are unable to identify who has performed the modification on the app configuration "feature manager" when we take out the audit logs.

[2021-11-11 14:43] Madhufuture opened #574 "kv import not removing the key-value from AppConfiguration when they are deleted from json file"
We are able to achieve below when we run ```az appconfig kv import``` cli command
1) Import all the kv pair from json file into ACS
2) Updates performed to key-value in json file are getting reflected in the ACS

When we delete  any key-value from json and run the ```az appconfig kv import``` command, the deleted key-value are not getting removed/deleted from ACS.
We can explicitly run ```az appco

[2021-11-12 10:28] snehafar commented on #512
@shenmuxiaosen Also the data plane request operation we are referring here is for "set-keyvalue" operation Right?
Since for "list-config-store" operation I can see the  UPN.

[2021-11-12 21:46] avanigupta commented on #574
Hi @Madhufuture, currently we don't support deleting key-values from the config store during import. But we will be adding this support in the future.
In the meantime, you can use this 2 step approach to solving your problem:

Step 1: Delete key-values from your AppConfig store by running `az appconfig kv delete --key * --label <label>`
Step 2: Import from your config file using `az appconfig kv i

[2021-11-15 18:22] shenmuxiaosen commented on #512
Yes. We are working on adding UPN for "set-keyvalue". Considering the holiday season, we are planning to roll it out by the end of this year. BTW, to know the caller, we can still use the appId, tenantId, and objectId to identity which identity is used for the "set-keyvalue" operation. If the request authenticated with connection string, then only secret id will be available.

[2021-11-18 04:39] audex-nz commented on #397
Who is still facing this annoying problem - 2 steps to solve!

1) Visual Studio - Azure Service Authentication

2) In your project, launchSettings.json
Add variable under profiles>IIS Express>environmentVariables

"AZURE_TENANT_ID": "<your tenant id>"

Happy days! Cheers,
Dex

[2021-11-19 09:22] snehafar commented on #512
Thanks @shenmuxiaosen .
But w.r.t caller details the app id,objectid and tenant id comes only when list-configstore-keys operation is performed and also the caller identity type shown is upn and so can see the upn details as well. Problem is when set-key-value operation happens I dont see any object id,tenant id,app id rather get to see caller identity type as "KeyName" from which cannot figure ou

[2021-11-19 19:46] shenmuxiaosen commented on #512
This means requests authenticated with access keys (connection string) instead of using AAD. Anyone who has this key can use it to auth with server. There is no way to identify who is holding this key. For each App Configuration store, there are four access keys read-write vs read-only, primary vs secondary. The keyName in the audit log is the key identifier as in this screenshot.
![image](https:/

[2021-11-19 20:16] jimmyca15 commented on #566
@jayanath007 Azure App Configuration now allows the headers that were causing the CORS failures mentioned in this issue. This should no longer occur.

[2021-11-19 20:16] #566 closed

[2021-12-02 21:27] nvwolf418 commented on #370
Yes, looks all good, thanks again!

[2021-12-07 07:04] SAMBHAV1997 opened #580 "Need help to implement dynamic configuration change in push model for azure app config in asp.net mvc application"
I have created ASP.NET MVC application and I need to implement dynamic configuration using push model, I don't know how to refresh the configurations used in Dependency Injection pipeline in startup class.

[2021-12-07 16:14] zhenlan commented on #558
Please reopen if further assistance is needed. Closing.

[2021-12-07 16:14] #558 closed

[2021-12-08 11:56] kamlesh-nb opened #581 "Microsoft.Extensions.Configuration.AzureAppConfiguration.KeyVaultReferenceException: No key vault credential or secret resolver callback configured, and no matching secret client could be found."
I am trying to use managed identity to access app configuration and key vault secrets can get the app config but not the secret from the key vault that app config key points to. The code is deployed as a docker container in Azure app Service, that uses System-assigned managed identity, which has been given the following roles.

**App Configuration Data Reader**
**Key Vault Secrets User**

[code]

[2021-12-08 14:09] virtualvoid opened #582 "Unable to use in DevOps - Error: invalid_client"
`AADSTS7000216: 'client_assertion', 'client_secret' or 'request' is required for the 'client_credentials' grant type.`

The service connection was newly created: Azure Resource Manager/using publish profile based authentication.

edit: forgot to mention, that the `Azure App Configuration Push` is doing this.

[2021-12-08 19:36] zhenlan commented on #581
@kamlesh-nb in your code, did you call `ConfigureKeyVault` to let the config provider know which credential you want the provider to use to connect to your Key Vault? See examples in step 3 of the doc below.

https://docs.microsoft.com/en-us/azure/azure-app-configuration/use-key-vault-references-dotnet-core?tabs=core5x#update-your-code-to-use-a-key-vault-reference

[2021-12-08 19:46] zhenlan commented on #582
@virtualvoid did you create a new service principal or [use an existing service principal](https://docs.microsoft.com/en-us/azure/devops/pipelines/library/connect-to-azure?view=azure-devops#create-an-azure-resource-manager-service-connection-with-an-existing-service-principal) when creating your service connection?

@MaryanneNjeri any suggestions for the issue @virtualvoid ran into?

[2021-12-08 19:53] zhenlan commented on #580
@SAMBHAV1997 is this a .NET Framework or .NET Core-based MVC app? If it's the former, you can start with [this doc](https://docs.microsoft.com/en-us/azure/azure-app-configuration/enable-dynamic-configuration-aspnet-netfx) to set up the dynamic configuration using the _poll_ model first. Then you can follow [this doc ](https://docs.microsoft.com/en-us/azure/azure-app-configuration/enable-dynamic-co

[2021-12-09 00:33] AppFzx commented on #447
@zhenlan It's still broken in AzureKeyVault@2

![image](https://user-images.githubusercontent.com/6544880/145312872-2761e33a-87b4-42f1-af19-decdbfc0e15f.png)

[2021-12-09 07:44] kamlesh-nb commented on #581
@zhenlan I have tried all the options, but it still didn't work in the Azure App Service, on local it works with user secrets having AAC Endpoint.

[2021-12-09 09:59] zhenlan commented on #581
@kamlesh-nb hard to guess what went wrong. Could you please share your code?

[2021-12-09 10:06] zhenlan commented on #447
@AppFzx are you using [Azure App Configuration Push](https://marketplace.visualstudio.com/items?itemName=AzureAppConfiguration.azure-app-configuration-task-push) pipeline task? Looks like you are using a Key Vault pipeline task.

[2021-12-09 10:07] kamlesh-nb commented on #581
Following are the options that I tried;

a:

[code]

b.

[code]

c.

[code]

Option C is working as I have added AAC Connection String in App Service Configuration. But I did not want to use it via App Service Configuration have AAC Connection String.

[2021-12-09 16:32] zhenlan commented on #581
If option C works except it is using the connection string. You can update it to below to connect with managed identity:

[code]

- Make sure `settings["AppConfig:Endpoint"]` is something like "https://\<yourstorename\>.azconfig.io"
- Make sure you grant your App Service managed identity `App Configuration Data Reader` role in App Configuration.

[2021-12-09 20:36] MaryanneNjeri commented on #582
@zhenlan yes, a suggestion I have is @virtualvoid maybe you could try to create a new service connection ? Let me know if this helps or if you still run into the same issue after creating a new service connection.

[2021-12-10 05:06] SAMBHAV1997 commented on #580
Thanks @zhenlan for the resources.

[2021-12-10 05:23] SAMBHAV1997 opened #583 "How can we implement push model(through azure app configuration) in azure functions"
I have implemented dynamic configuration(through azure app configuration) in an Azure Functions app using this link(https://docs.microsoft.com/en-us/azure/azure-app-configuration/enable-dynamic-configuration-azure-functions-csharp),
This is poll model, Next I want to implement dynamic configuration using push model in azure functions.

[2021-12-10 07:51] kamlesh-nb commented on #581
@zhenlan I will give it a try, currently busy with the release, will update you once I try your suggestion.

[2021-12-10 11:22] virtualvoid commented on #582
Looks like that i misunderstood the "service principal" part of the documentation.

I thought that the "publish profile" based authentication will somehow work too. Anyway, I've recreated the connection the way it should be and now it's working. Thanks.

[2021-12-10 11:22] #582 closed

[2021-12-13 22:15] zhenlan commented on #583
Great, you already have the poll model implemented because in general, the push model is implemented with two modifications on top of the poll model.
1. A much longer config-refresh cache expiration time, for example, an hour or a day. As config refresh will normally be triggered by push events, this serves as a safety net just in case the push events were missed.
2. A callback function that will

[2021-12-14 15:59] SirElTomato commented on #500
Any update on this? Searching is the worst thing about this service.

[2021-12-14 16:32] SirElTomato opened #584 "Dynamic configuration stopped working"
Calling the below is no longer refreshing my configuration after changing the sentinel key. This was working fine before, has anything changed which I need to be aware of?
[code]

Here is my code for connecting to the app configuration service
[code]

Please let me know what logs I can get for you to help investigate.

[2021-12-14 17:24] SirElTomato commented on #584
Found that refreshing was working, custom binding code was broken

[2021-12-14 17:24] #584 closed

[2021-12-15 10:54] PanosKousidis opened #585 "Combine KeyVault values in an AppConfiguration setting along with custom strings and other AppConfiguration settings"
Is there any way or any plans to treat a KeyVault reference as a variable that you may combine with others? And to add references of other AppConfiguration values?

E.g.
I would like to have in a keyvault just the secret key of cosmos not the whole connectionstring.
I would also like to store my subscription name in another AppConfiguration setting.
Then I should be able to construct the connectio

[2021-12-15 21:24] avanigupta commented on #585
Hello @PanosKousidis, are you referring to key-values stored in [Azure App Configuration service](https://docs.microsoft.com/en-us/azure/azure-app-configuration/overview)? Or are you talking about the [app settings in Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/configure-common#configure-app-settings)?

[2021-12-16 00:58] MaryanneNjeri commented on #572
@Sun5Kong we have a new release for [Azure App configuration Push task version 3.0.0](https://marketplace.visualstudio.com/items?itemName=AzureAppConfiguration.azure-app-configuration-task-push)  that supports sovereign clouds.

[2021-12-16 11:40] Edgaras91 opened #587 "TrimKeyPrefix for FeatureFlagOptions"
This is my setup, see the last code line below
[code]

[2021-12-16 17:12] zhenlan commented on #587
It's correct that the `TrimKeyPrefix` API doesn't exist for feature flags because you don't need it if you create feature flags like below

<img width="615" alt="image" src="https://user-images.githubusercontent.com/10566826/146417004-d7168945-72e0-4971-bc65-a1bc4a6cb96e.png">

In feature flags, you can add any necessary prefixes to the key, but you don't have to trim them as long as they are not

[2021-12-16 17:45] zhenlan commented on #585
The intra-service reference is not supported in App Configuration on the server-side. This is normally achieved on the client-side. If your app runs on Java Spring Boot, you can compose new a new setting by referencing other settings, for example, `setting1=${setting2}-${setting3}` where `setting2` and `setting3` are from App Config key-values or Key Vault references. If you are on .NET, configura

[2021-12-16 18:00] PanosKousidis commented on #585
Yes, this is what I'm doing right now but I was just wondering if the options were only these 2:
1) Store the whole "_connectionstring_" in the keyvault
2) Compose the "_connectionstring_" on every client that wants to use it, and if something in the composition changes, all clients need to be updated.

The inter-service reference between app settings and app configuration doesn't help with this

[2021-12-16 18:02] PanosKousidis commented on #62
What would this mean for injection of `IConfigurationRefresher` checking sentinels etc or the feature flags with the `[FeatureGate]` attributes on the controllers?

[2021-12-16 18:09] mattboothman commented on #62
It'd be separate from that, wouldn't it?

[2021-12-16 18:27] zhenlan commented on #62
If you are using the App Configuration provider library, you won't need this because you can pull configuration and feature flags from App Configuration directly. This integration is useful for applications that don't know (or you don't want it to know) about App Configuration because key-values in App Configuration will be available as environment variables to your applications.

[2021-12-16 18:41] zhenlan commented on #585
This is correct. I understand the extra benefits of supporting it by the service, but the semantics vary a lot by different platforms.
As I mentioned earlier, this works for Spring Boot applications (and they have their own convention). In .NET, you can save a "format string" as a separate setting, so the client will compose the final value based on the format string. In case the format changes in

[2021-12-17 07:17] PanosKousidis commented on #585
Sorry, one last comment and we can close this.

I didn't get why it's important what the client is. I thought App Configuration is a standalone web service that provides values to clients based on literal values or references. So, it can have its own syntax convention and the client should be agnostic of how the evaluation is done server side. Take Octopus Deploy for example, you can reference var

[2021-12-17 20:47] zhenlan commented on #585
@PanosKousidis understood. Thanks for the feedback.

[2021-12-17 20:47] #585 closed

[2021-12-17 21:08] zhenlan commented on #195
We just released a preview of middleware to support dynamic configuration in Azure Functions running in an isolated process ([release notes](https://github.com/Azure/AppConfiguration/blob/main/releaseNotes/MicrosoftAzureAppConfigurationFunctionsWorker.md)). You can also find an [example Function app](https://github.com/Azure/AppConfiguration/tree/main/examples/DotNetCore/AzureFunction/FunctionAppI

[2021-12-17 21:08] #195 closed

[2021-12-18 07:14] PanosKousidis commented on #62
Understood @zhenlan, clients who care about these features should still be using the AppConfiguration library. Thanks.

[2021-12-21 08:44] Edgaras91 opened #591 "UseFeatureFlags are not updating using ConfigureRefresh"
Currently, my feature flags are not updating when refreshing all configs using a "sentinel" key, with a refresh all flag:

[code]

They are refreshing using ASP solution using
`IApplicationBuilder.UseAzureAppConfiguration()`

I also do not see an example in the documentation on how to set up a feature refresh in the Core application (not ASP Core) using HostBuilder (not WebHostBuilder).

Are featu

[2021-12-21 08:49] Edgaras91 commented on #591
Below is the code I am using for completeness.
[code]

[code]

[2021-12-21 10:07] Edgaras91 commented on #153
Curious if the priorities have changed for this? Seems like the "sentinel" key way should be an optional feature to achieve all key refresh, and by default, it should allow for all keys to be monitored and refreshed as per original post using KeyFilter.Any.

Is there a way around this? for example by enumerating the IConfiguration Azure provider's keys? And subscribe to each of them?

![image](htt

[2021-12-21 23:13] drago-draganov commented on #153
@Edgaras91 This is still on our radar. We are looking into service side solutions. Subscribing for individual keys on the client side would lead to significant amount of poll requests. I'm also thinking of instances with hundreds and thousands of key-values. That can easily go above the request quotas and result into unexpected overage charge and/or throttling.
In addition, client side may have is

[2021-12-22 04:03] sanjaybhagia opened #592 "Configurations not being refreshed on value change in App Config with Azure Functions"
Hi,
I'm trying to setup refresh (Poll/Push) for any change in the app setting but not able to get it to work with Azure functions.
I've tried it with both 'key-value' and 'Key Vault reference' settings but same behavior for both. ]
I've looked around the issues other people have raised but don't seem to make it work for myself

My Startup.cs:
[code]

My Function looks like this:
[code]

On changin

[2021-12-23 11:50] mrgurgle commented on #397
This worked for me:
1. Azure > App Configuration > Access Control > Added myself to "App Configuration Data Reader" role.
2. Fetched the tenant ID från Azure Active directory so I can use it in the code.
3. Update the program.cs in my .net 6 minimal API app using "VisualStudioTenantId" if you use VS. or VisualStudioCodeTenantId if you use VS code.

**Code:**
`builder.Services.AddAzureAppConfigurat

[2021-12-23 14:38] Edgaras91 commented on #587
Then the list of features would be without a prefix, and hard to find (hope features page will have filters and nesting in the future like configs).
We would prepare to see the prefixes and not worry about them in the application (just like the configs).
![image](https://user-images.githubusercontent.com/32236075/147255086-c8824c3d-caa5-47ba-8e21-91c39899c817.png)
![image](https://user-images.gith

[2021-12-28 20:11] avanigupta commented on #592
Hi @sanjaybhagia, the call to [IConfigurationRefresher.SetDirty](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.configuration.azureappconfiguration.iconfigurationrefresher.setdirty?view=azure-dotnet) adds a random delay up to 30 seconds before the cached value is invalidated. If you want the cache to be invalidated immediately after calling `SetDirty`, you may pass max random del

[2021-12-29 15:04] Edgaras91 commented on #335
Any progress on this? and are these features being considered? I particularly would want to request for Descriptions field. Would save documenting our configs separately elsewhere and have them out of sync.

[2022-01-04 05:54] avanigupta commented on #591
Hi @Edgaras91, feature refresh can be setup in any .NET Core application just like regular key-value refresh. If you are using HostBuilder in your .NET Core application, you need to add a call to `IServiceCollection.AddAzureAppConfiguration()` inside your `IHostBuilder.ConfigureServices()` method. This method registers the `IConfigurationRefresherProvider` type, which can be resolved in any contro

[2022-01-04 09:15] shkumesh commented on #447
Any update on this? We have faced the same issue with AzureKeyVault

[2022-01-04 16:41] jimmyca15 commented on #447
@shkumesh this issue, and repo, refers to the Azure App Configuration task, not Key Vault. We have resolved the issue for Azure App Configuration. Did you mean there was an issue with an Azure App Configuration task?

[2022-01-04 21:30] #580 closed

[2022-01-04 23:35] #583 closed

[2022-01-05 03:48] zhenlan commented on #587
@Edgaras91 in the Feature manager UI, you will see the prefix in the 'Key' column. Maybe we should enable sorting by the 'Key' column so feature flags with the same prefix are organized together. We will soon release an update so you can show/hide or rearrange the columns. We will continue iterating on the UI. Your feedback is appreciated.

[2022-01-05 04:01] shkumesh commented on #447
The issue is with AzureKeyVault.

[2022-01-05 04:06] zhenlan commented on #592
@sanjaybhagia, you registered key "shared-sentinel" _with no label_ as the key to monitor.  Just to confirm, is that the key you modified (for example, not one with any label) in App Configuration when you tried to trigger an update?

[2022-01-05 13:53] Edgaras91 commented on #591
Thank you for confirming this.

So am I right to assume that the `AzureAppConfigurationOptions.GetRefresher()` which returns `IConfigurationRefresher` and calling `TryRefreshAsync()` does not refresh the features, but injected `IConfigurationRefresherProvider` and calling `TryRefreshAsync` on each of the "refreshers" does refresh features? Something I may test later and update here if this is not

[2022-01-05 16:37] jimmyca15 commented on #447
@shkumesh apologies for the confusion. Since this issue is for Azure App Configuration it may not be the best place to resolve an issue you're facing with Azure Key Vault. In that case, the issue should be filed here: https://github.com/microsoft/azure-pipelines-tasks/issues

[2022-01-07 19:10] MaryanneNjeri commented on #572
@Sun5Kong a new release is out  [Azure App Configuration Push version 3.1.0](https://marketplace.visualstudio.com/items?itemName=AzureAppConfiguration.azure-app-configuration-task-push), that supports sovereign clouds. Please try it out, feel free to reach out in case you experience any issues. :)

[2022-01-08 07:11] sanjaybhagia commented on #592
@avanigupta Thanks for your suggestion. I tried but still the same results.

[2022-01-08 07:13] sanjaybhagia commented on #592
@zhenlan it's set with the label and yes it's the key I'm updating. which I've setup in my config:

   _.Select(KeyFilter.Any, "shared")

Is this the desired behavior with keys set with lablels?

Thanks
Sanjay

[2022-01-10 17:32] avanigupta commented on #592
@sanjaybhagia, you need to register the label too in your ConfigureRefresh call:
[code]

[2022-01-10 23:24] sanjaybhagia commented on #592
Thanks @avanigupta this indeed worked.

[2022-01-10 23:24] #592 closed

[2022-01-11 21:50] zhenlan commented on #591
@Edgaras91 the sections in the following documents have more discussion on this topic. Please let us know if they answer your questions.

For .NET Core app, https://docs.microsoft.com/azure/azure-app-configuration/enable-dynamic-configuration-dotnet-core#activity-driven-configuration-refresh

For ASP.NET Core app, https://docs.microsoft.com/azure/azure-app-configuration/enable-dynamic-configuratio

[2022-01-12 14:35] bloechan opened #595 "Extremely slow startup in .Net 6"
I am using the Azure App Configuration in an ASP.NET Api I built in .Net 6.0

When I run the app locally the initialize step takes around 20 seconds to complete.  We use the same initialize command in 3.1 and it is not a problem.

[code]

Any suggestions would be appreciated.

Thanks

[2022-01-13 16:37] Philippe85 opened #596 "Export error if no key-values are found"
If I try to export label or nolabel with a prefix and no key-values are found :
`az appconfig kv export`

I have these errors which fails my Azure DevOps task in a deployment pipeline :

![image](https://user-images.githubusercontent.com/25458469/149371071-af335357-ac6b-4b43-857c-5c5387cdc7b1.png)
![image](https://user-images.githubusercontent.com/25458469/149370134-68216756-c37a-4fad-8f19-c7fab8d

[2022-01-14 20:58] keggster101020 opened #597 "Overriding Entire Array Doesn't Affect Already Bound Option Objects"
When attempting to override an entire array originally set in appsetting.json with a new array value in azure app config results in an inconsistent state for already configured objects vs IConfiguration object.

Example array in appsettings:
[code]

Registration of Azure app configuration was done following the doc guide [here](https://docs.microsoft.com/en-us/azure/azure-app-configuration/enable-

[2022-01-17 03:26] avanigupta commented on #597
Hi @keggster101020,

If your appsettings.json file contains the following key-values:
[code]

This will be flattened to three key-values in your application configuration:
`Test:Array:0 = "prop1"`
`Test:Array:1 = "prop2"`
`Test:Array:2 = "prop3"`

In order to override all 3 configurations, you need to provide 3 corresponding values in AppConfig with a JSON content type.  For example, you can add t

[2022-01-17 05:35] avanigupta commented on #596
Hi @Philippe85, thanks for reporting this issue. Looks like this happens when the export command is run with the `--yes` option. We are working on the fix. In the meantime, you can run the command without the `--yes` option to avoid this error.

[2022-01-17 18:47] NickLydon opened #598 "Failure to authenticate with user defined managed identity on AKS"
I'm providing my credentials like so:
[code]
This works locally (using azure cli to login), and on dev (using managed identity). On staging however it fails with this long stack-trace. It may be due to a misconfiguration, but I'm pretty sure I've seen it working previously. What I'd like to ask about are a couple of points in particular:

1. Is this line something I need to be concerned about: `Sy

[2022-01-18 16:09] ericfran opened #599 "Feature Management for JavaScript"
Hi,

Looking for the Feature Management, but saw that the list of supported language is very limited also on the SDK.

Will a SDK for Ruby by provide in the future ?

Regards

[2022-01-18 17:28] davidpeden3 commented on #567
@jimmyca15 thanks for the detailed response. I no longer have access to the email that I originally posted under so didn't see your response until now. thank you for your help.

[2022-01-18 17:39] keggster101020 commented on #597
@avanigupta that makes sense as to why the IOptions typed version of the config didn't change values, but what about the drift between IOptions and IConfiguration? It seems like setting of values should be an all or nothing operation if that is under the control of configuration provider.

[2022-01-18 18:00] Philippe85 commented on #596
Ok, I wait your fix. I can't remove the `--yes` option because the command is run in an Azure DevOps pipeline to deploy applications.
Thanks

[2022-01-18 18:55] avanigupta commented on #597
@keggster101020 , if you set the value in AppConfig in the correct JSON syntax, i.e. value = ["override"] and content-type=application/json, you will see that both `IConfiguration` and `IOptionsSnapshot<TestSettings>` will reflect the overridden value from AppConfig:

[code]

[2022-01-18 19:11] keggster101020 commented on #597
@avanigupta thanks for clearing that up, perhaps something could be added to [this doc](https://docs.microsoft.com/en-us/azure/azure-app-configuration/howto-leverage-json-content-type) to denote the JSON array functionality for native .NET configuration provider is different than that of consuming it via the SDK/REST if it isn't already captured.

Closing.

[2022-01-18 19:11] #597 closed

[2022-01-18 19:17] drago-draganov commented on #595
Thanks for reaching out, @bloechan

What's the OS (and other environment specifics) you are seeing the issues on? Can you also help us with collecting perf traces ([see](https://docs.microsoft.com/en-us/aspnet/core/performance/diagnostic-tools?view=aspnetcore-6.0#perfview))

[2022-01-18 20:25] bloechan commented on #595
This is on Windows 10 Pro 10.0.19043 Build 19043.  I am using Visual Studio 2022.  I would prefer to not post the perf trace here, can I send it to you directly?

[2022-01-18 20:48] zhenlan commented on #598
@NickLydon looks like you are trying to use a **user-assigned managed identity** in your staging environment but failed to get it according to the error you shared:

Can you please confirm the following?

- Managed identity can _only_ work in Azure services. What Azure service is your staging environment, for example, Azure VM? Have you enabled the managed identity on your staging environment and

[2022-01-18 23:49] drago-draganov commented on #595
We were able to repro in house. Perf traces are not needed at this point in time.
I will update the thread with more details as soon as the investigation is completed.

[2022-01-19 18:40] NickLydon commented on #598
Hey @zhenlan, I'm pretty sure everything was set up correctly. It started working again today, which makes me believe it's an intermittent issue. No idea where to look to diagnose issues of that sort though.

Do you have any comments about this part of the exception message?

I was very curious about the timeout of 1 second.

[2022-01-20 18:14] spowser commented on #595
Just wanted to add that this seems to also be happening in other versions of .NET.  I have seen this behavior in both 4.7.2 and .NET 5 as well

[2022-01-24 16:41] binkiesjoris commented on #147
This doesn't seem to work for Azure App Service configurations, I still have to use the index notation for this to be picked up.  What would be required to apply this to an Azure App Service?

[2022-01-25 00:16] jiayi11 commented on #147
Hi @binkiesjoris
Could you help me understand what exactly doesn't work for you? What do your feature filters look like and how are you using App configurations with App Services?

[2022-01-25 03:09] avanigupta commented on #595
@bloechan, @spowser could you confirm if there were any other changes to your applications between different .NET versions?
Also, which version of these packages are you using:
- Microsoft.Azure.AppConfiguration.AspNetCore
- Azure.Identity

[2022-01-25 07:58] binkiesjoris commented on #147
@jiayi11 sorry for the confusion. I am NOT using App configurations with App Services. I have a App Service with an application setting of type array and was wondering if the fix discussed in this issue also applied to application settings for an App Service. I.e. I have a setting defined like this in appsettings.json:
`  "x": {
    "y": [
      "v1",
      "v2"
    ]
}`

and would like to use the

[2022-01-25 14:06] bloechan commented on #595
My application is a new ASP.NET Api using .Net 6.  I am using Microsoft.Azure.AppConfiguration.AspNetCore 4.5.1 and Azure.Identity 1.5.0

[2022-01-25 16:17] avanigupta commented on #595
Thanks @bloechan, were you using the same package versions in your .NET 3 application?

[2022-01-25 16:47] bloechan commented on #595
I did not report issues with 3.1.   But to answer your question, I did some timings with the same nuget versions with a 3.1 app and it took about 10 seconds.  In .net 6 it takes about 20 seconds.

[2022-01-25 18:33] avanigupta commented on #595
In that case, we would need the perf traces for both your applications since we are not seeing the same delay on our side. Can you send us an email at AzureAppConfig@microsoft.com?

[2022-01-25 19:39] drago-draganov commented on #595
@bloechan, a bit more context. We observed perf issues with Azure.Identity 1.5.0 ([details](https://github.com/Azure/azure-sdk-for-net/issues/24767)) in the range you are reporting here. Can you downgrade to Azure.Identity 1.4.0 and run your tests on dotnet 3.1 and dotnet 6?

[2022-01-25 19:45] jiayi11 commented on #147
Hi @binkiesjoris This repo is for [Azure App Configuration service](https://docs.microsoft.com/en-us/azure/azure-app-configuration/overview) and the thread is discussing feature filters. From your response you might be looking to reach App Service team.

[2022-01-26 14:27] bloechan commented on #595
I .Net 6 application went from 20 seconds to 5 seconds when using Azure.Identity 1.4.0.  The .Net 3.1 application went from 10 seconds to 4 seconds.

[2022-01-26 18:36] drago-draganov commented on #595
Thanks @bloechan!
Is it possible for you to use Azure.Identity 1.4.0 as mitigation, until the issue introduced in 1.5.0 is resolved?

[2022-01-26 19:21] bloechan commented on #595
No problem.  Thanks for you help.

[2022-01-26 19:44] drago-draganov commented on #595
Anytime! Thanks for helping us diagnose the root cause, @bloechan.

[2022-01-26 19:47] zhenlan commented on #587
Please let us know if there is further feedback. Closing for now.

[2022-01-26 19:47] #587 closed

[2022-01-26 19:48] zhenlan commented on #581
@kamlesh-nb please let us know if you have an update. Closing for now.

[2022-01-26 19:48] #581 closed

[2022-01-26 19:54] zhenlan commented on #591
@Edgaras91 it's the same refresher instance regardless of you obtained it from `AzureAppConfigurationOptions.GetRefresher()` or through dependency injection `IConfigurationRefresherProvider`, so the `TryRefreshAsync()` call behaves the same way. I hope the document I linked earlier explains the behavior. Please let us know if you have further questions. Closing for now.

[2022-01-26 19:54] #591 closed

[2022-01-26 20:04] zhenlan commented on #598
@NickLydon the App Config provider library does not use libsecret directly but looks like it is [used by Azure.Identity](https://github.com/Azure/azure-sdk-for-net/search?q=libsecret), which you used to create `DefaultAzureCredential`. Do you mind to open an issue in https://github.com/Azure/azure-sdk-for-net/ repo for experts in Azure.Identity to take a look?

[2022-01-26 21:03] #595 closed

[2022-01-26 21:05] drago-draganov commented on #595
External [perf issue](https://github.com/Azure/azure-sdk-for-net/issues/24767) introduced in Azure.Identity 1.15.0

[2022-01-26 21:18] #572 closed

[2022-01-28 17:17] DhavalShewale opened #600 "App Configuration Provider for Python"
Currently `azure-appconfiguration` library return the secret uri for keyvault referenced secrects. App Config Provider library should be created for python so that these secrets should be auto-resolved

The issue was originally reported [**here**](https://github.com/Azure/azure-sdk-for-python/issues/21882)

[2022-01-28 21:49] shenmuxiaosen commented on #600
We'd like to bring the feature parity to Python but the work is not trivial as we don't have a python provider at this moment. It's in our backlog and may not be available anytime soon. BTW, regarding to the original issue, for java provider we do offer resolving key vault reference. https://docs.microsoft.com/en-us/azure/azure-app-configuration/use-key-vault-references-spring-boot

[2022-01-31 15:28] DhavalShewale commented on #600
@shenmuxiaosen Tks for the update. I am already using `azure-spring-cloud-appconfiguration-config` for spring boot apps. I was looking to find a similar provider for python apps, but based on your comment it seems we will have to wait for it.

[2022-02-03 22:30] jimmyca15 commented on #427
We have discussed this, and in an effort to address the concerns here we'd like to offer an alternative approach that we feel solves the root problem of read-only access in a more optimal manner.

Granting read-only access to an Azure App Configuration instance is best done with [AAD authentication](https://docs.microsoft.com/en-us/azure/azure-app-configuration/concept-enable-rbac#overview). This

[2022-02-03 22:40] #598 closed

[2022-02-08 20:54] maskati opened #604 "Include user identity in HttpRequest logs"
The App Configuration request log table [AACHttpRequest](https://docs.microsoft.com/en-us/azure/azure-monitor/reference/tables/aachttprequest) does not include details about the requesting identity. This information should be available similarly to `CallerIdentity` in the [AACAudit](https://docs.microsoft.com/en-us/azure/azure-monitor/reference/tables/aacaudit) table as it is useful for both audit

[2022-02-08 21:09] maskati opened #605 "Azure portal blade intermittently fails to load / resource provider requests timeout"
The App Configuration Azure Portal blade intermittently fails to load, with the cause being a timeout from the [Configuration Stores - Get](https://docs.microsoft.com/en-us/rest/api/appconfiguration/configuration-stores/get) operation. Following an approx. 20 second duration waiting for the blade to load, the following is shown in the portal:

![image](https://user-images.githubusercontent.com/211

[2022-02-09 01:53] jmal1 commented on #605
Hi, thanks for reaching out! AppConfig does not support Sweden Central yet. It's in progress and will be available by the end of this quarter.

[2022-02-09 07:50] maskati commented on #605
The App Configuration resources causing this issue are actually mostly in West Europe, which is a supported region. The `x-ms-routing-request-id` response header is indicating that the Azure Management operation (REST request) is routed through Sweden Central, since that is the closest geographic region to where the request originates (Finland).

Could the gateway timeout error be that the App Con

[2022-02-09 08:31] m4m4m4 commented on #605
We are noticing the same problem
[code]

[2022-02-09 18:01] jmal1 commented on #605
You're right. I misread the error

@maskati  @m4m4m4 - Thank you both for the error messages. We will look into the issues you're facing.

@maskati, you mentioned West Europe. Please let us know if you see the issues elsewhere

[2022-02-10 08:51] frli commented on #605
Same issue for us with app configuration service resources in West Europe and calls (people using the portal) originating from Sweden.

[2022-02-10 12:21] cjohnsson commented on #605
Same issue, app config resource is in West Europe, trying to access them from Sweden.
Keep getting the error, retrying after a few minutes helps sometimes.

![image](https://user-images.githubusercontent.com/814161/153407433-7469efac-1a4a-46d3-9996-6cfec4869734.png)

[2022-02-10 12:35] andreas-sommer-engenious opened #606 "Got access denied message"
Hi,
I'm using the extension to read all key/values-pair from a DevOps-Pipeline. The DevOps-Server is running on premise. I created successfuly a service connection and set all role assignments in Azure. But I still get the following error:
##[error]Access to '[https://ac-xxx.io/kv?key=*&label=***&api-version=1.0'](https://xxx.io/kv?key=*&label=***&api-version=1.0%27) was denied. Please ensure the

[2022-02-10 18:40] avanigupta commented on #606
Hi @andreas-sommer-engenious, you need to assign `App Configuration Data Owner` or `App Configuration Data Reader` role to perform data operations like read/write/delete key-values. After assigning the role, please wait for 15 minutes before trying to access your data.
You can refer to [this document](https://docs.microsoft.com/en-us/azure/azure-app-configuration/concept-enable-rbac#azure-built-in

[2022-02-10 19:11] drago-draganov commented on #605
Update:
Actively working on this. It's a top priority at the moment. Stay tuned!

[2022-02-10 20:57] IanDobsonDevfacto opened #607 "App Configuration Load Order"
Is there documentation for the order of operations when loading configuration?  At the moment we are using the following code and appsettings.json is loading AFTER the Azure App config, and we're unsure if that's intended behaviour or not.  This [document ](https://devblogs.microsoft.com/premier-developer/order-of-precedence-when-configuring-asp-net-core/) makes it clear which order things load in

[2022-02-10 21:55] drago-draganov commented on #605
Update:
Should be back to normal. Please try again.

Thanks for your feedback!

[2022-02-11 03:40] avanigupta commented on #607
Hi @IanDobsonDevfacto, configuration providers that are added later override previous key values (last value wins). You can refer to [this document](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?tabs=basicconfiguration&view=aspnetcore-6.0) for more details.

For your code, the order of loading key-values will be:
 - Environment variables
 - appsettings.json file
 - Azure

[2022-02-11 10:29] xUborka opened #608 "Invalid Client"
Heyho,
im trying to use the AzureAppConfiguration@5 task from an azure devops pipeline. We have a service connection (already tested & working) and the service principal has the App Configuration Data Owner role.
The app config endpoint is set ('https://[my-app-config].azconfig.io'), but we are getting the following error: "##[error]Error: invalid_client" (Client assertion audience claim does not

[2022-02-11 12:40] maskati commented on #605
@drago-draganov thanks! Seems to be working so far.

[2022-02-11 22:33] drago-draganov commented on #607
Do you have key in your AppConfiguration that has corresponding label, defined by this:

[code]

If the key doesn't have the required label, it will not appear in the final Configuration.

Regardless appsetting.development.json override. That's intentional (convention) in .NET Core configuration [here](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-6.0)

a

[2022-02-11 22:41] IanDobsonDevfacto commented on #607
Yes I do have a "dev" key in my app configuration.

![image](https://user-images.githubusercontent.com/58046891/153680440-d338e645-060b-45c8-b95a-0c88fa8fcec0.png)

The problem is that the appsettings.json is overwriting the azure app configuration as well.

[2022-02-11 22:47] drago-draganov commented on #607
What's the value of ``appConfigLabelFilter``?

[2022-02-11 22:54] IanDobsonDevfacto commented on #607
"dev".  That value in azure app config WILL load, but only if I remove the key from appsettings.development.json as well as appsettings.json.

[2022-02-11 23:29] drago-draganov commented on #607
Can you set ``reloadOnChange = false`` for both AddJsonFile?

[2022-02-12 14:10] IanDobsonDevfacto commented on #607
Updating the code to appear as so:

[code]

Still leads to appsettings being loaded after the azure config.

[2022-02-15 00:45] MaryanneNjeri commented on #608
Hello @xUborka , apologies for the delayed response and thank you for reaching out. I've been able to reproduce the issue you are currently facing. Currently looking into it. In case you are blocked, you can use client secret to authenticate in the meantime.

[2022-02-15 12:48] voltaire-at-coretek opened #609 "Adding a prefix without a label in a DevOps pipeline AppConfigurationPush@3 task"
Using the Azure App Configuration Push (version 3.1.0) extension, the pipeline task is unable to update/replace a key-val pair while using the `Prefix:` and `Strict: true` control options. However, it will work if I use the `Label:` option with a value.

But when using the task for a key vault reference, the `Label:` option is not required.

Is this by design?

[2022-02-15 16:33] #605 closed

[2022-02-15 16:33] drago-draganov commented on #605
Mitigated

[2022-02-15 17:30] frli commented on #605
Thanks @drago-draganov 👍

[2022-02-15 18:38] landonbass opened #610 "Unexpected Behavior When Applying Labels Using .net Client With Null Label Overrides"
**Problem Summary:**

When applying labels conditionally (based on environment variables), if the label string is null or empty, the last label created is applied.

**Expected Outcome:**
The no label value would be applied.

**Actual Outcome:**
The last label created is applied.

**Reproduction Steps:**
- Create a key-value with no label
- Add a value with a label
- Conditionally register the labe

[2022-02-15 21:02] voltaire-at-coretek commented on #609
Scratch this issue. Found out it was because I was running two tasks - one for the kv pairs, and the other with vault references and using the same value (or non-value). Because the Strict parameter was set to true, the second task was removing the ones created by the first.

[2022-02-16 03:54] #609 closed

[2022-02-16 16:46] IanDobsonDevfacto commented on #607
That's very frustrating.  Even with updating to .NetCore 5.0, using version 5.0 of `Microsoft.Extensions.Configuration.AzureAppConfiguration`, setting `reloadOnChange` to false and removing the `isDevelopment` check entirely I still get the normal appsettings,json file before Azures.  Not sure if there's a remedy.

[2022-02-17 01:10] drago-draganov commented on #607
@IanDobsonDevfacto we will get to the bottom of this.

Can you email me or put your full repro app in github repo?

Please, make sure to remove all config store and security related stuff (endpoints, connection strings, etc.)

[2022-02-17 05:08] drago-draganov commented on #610
``Select`` isn't conditional operation. It applies the specified filter. Passing ``null`` is the same as  LabelFilter.Null (valid input).
Multiple ``Select`` perform configuration composition - the last existing wins.

If you need conditional filtering, extending AzureAppConfigurationOptions is decent alternative.

[code]

**Usage**

[code]

Hope that helps.

[2022-02-18 17:40] landonbass commented on #610
Yes this works - I am just surprised that the default behavior would be to return the newest label if a null selector is used. Closing the issue since there is a workaround.

[2022-02-18 17:40] #610 closed

[2022-02-18 19:32] drago-draganov commented on #610
Keep in mind that ``null`` is valid value for label. ``Select` composition doesn't get the newest label, but rather the last one specified in Select sequence. That's the composition I mentioned. The idea behind is to allow hierarchical setup. Something like this:

[code]

1. Get items that don't have label (null label) - think of common app defaults
2. Get items with label ``prod`` and override an

[2022-02-24 00:00] drago-draganov commented on #610
@landonbass, upon further investigation we found indeed an issue related to passing empty string as label filter. Please refer to https://github.com/Azure/AppConfiguration-DotnetProvider/issues/311

Apologies for my misunderstanding.

Thanks for your feedback!

[2022-02-24 14:25] DhavalShewale opened #611 "Fix vulnerabilities in azure-spring-cloud-appconfiguration-config AppConfiguration Provider"
Fix vulnerabilities in azure-spring-cloud-appconfiguration-config AppConfiguration Provider

## Library
[code]

## Vulnerabilities
[code]

## Vulnerable Paths
[code]

[2022-02-24 14:27] DhavalShewale opened #612 "Fix vulnerabilities in azure-spring-cloud-appconfiguration-config AppConfiguration Provider"
Fix vulnerabilities in azure-spring-cloud-appconfiguration-config AppConfiguration Provider

## Library
[code]

## Vulnerabilities
[code]

## Vulnerable Paths
[code]

[2022-02-24 14:47] DhavalShewale commented on #612
Duplicate of #611

[2022-02-24 14:47] #612 closed

[2022-02-24 17:58] mrm9084 commented on #611
@DhavalShewale the updates have already been made and should be release in the next release. It should have been earlier in the week, I am checking on why it was delayed.

[2022-02-25 08:17] sabbadino opened #613 "syntax keyfilter in .Select"
in the documentation of themethid it's written :
 // Parameters:
        //   keyFilter:
        //     The key filter to apply when querying Azure App Configuration for key-values.
        //     The characters asterisk (*), comma (,) and backslash (\) are reserved and must
        //     be escaped using a backslash (\). Built-in key filter options: Microsoft.Extensions.Configuration.AzureAppCon

[2022-02-25 23:18] pratiksanglikar commented on #574
Hi @Madhufuture,
With [Azure CLI version 2.33.1](https://github.com/MicrosoftDocs/azure-docs-cli/blob/main/docs-ref-conceptual/release-notes-azure-cli.md), we released a new flag, `--strict` which when specified, will delete the key values that are not present in the JSON file.
Please give it a try and let us know.

[2022-02-25 23:18] #574 closed

[2022-02-28 12:39] carlblanchard commented on #48
Any news on the development of this feature? it's been sat in planned for quite some time now?

[2022-02-28 20:47] zhenlan commented on #613
`mykeysprefix*` will get you all keys that start with "mykeysprefix".

If you want the key with the name "mykeysprefix*", you will have to escape the asterisk like `mykeysprefix\*`

[2022-02-28 20:48] #606 closed

[2022-02-28 21:48] sabbadino commented on #613
Thanks , as far as I can tell, there is no documentation /  samples on the query syntax

[2022-02-28 23:41] zhenlan commented on #613
The API document can be found here:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.configuration.azureappconfiguration.azureappconfigurationoptions.select?view=azure-dotnet#microsoft-extensions-configuration-azureappconfiguration-azureappconfigurationoptions-select(system-string-system-string)

The same can also be found at REST API documentation
https://docs.microsoft.com/en-us/

[2022-03-01 08:42] oyvindi opened #614 "Accessing AppConfiguration from on-premise / Registered App"
We got a few services running on-premise, but uses Azure services.

Is it possible to access App Configuration in the same manner as KeyVault, by simply using  Registered App / ClientCertificateCredential ?

At the moment, I
1) Store the connection string in KeyVault
2) Fetch the connection string (synchronously) with SecretClient during startup
3) Add App Configuration based on connection string

[2022-03-01 19:05] jimmyca15 commented on #614
@oyvindi Yes Azure App Configuration supports [AAD Authentication](https://docs.microsoft.com/en-us/azure/azure-app-configuration/rest-api-authentication-azure-ad).

To enable the identity that you would like to authenticate as with the `ClientCertificateCredential` to access Azure App Configuration make sure to assign one of the [App Configuration data plane roles](https://docs.microsoft.com/en-u

[2022-03-02 00:51] MaryanneNjeri commented on #608
Hi @xUborka, we have a new release [Azure App Configuration
@5.2.0 ](https://marketplace.visualstudio.com/items?itemName=AzureAppConfiguration.azure-app-configuration-task) that addresses the fix for the issue, please check it out . Feel free to reach out incase you experience any issues.

[2022-03-02 12:13] tap1992 opened #615 "Allow the AzureDevOps extension to extract multiple labels at once"
Currently the Azure DevOps extension doesn't allow * or , in the label filter limiting us to have to run the task multiple times to extract config with different labels.

It would be really useful if this functionality could be added.

[2022-03-02 13:38] DhavalShewale commented on #611
@mrm9084: Tks for fixing these vulnerabilities in `2.4.0`

[2022-03-02 17:34] #611 closed

[2022-03-02 18:22] jimmyca15 commented on #615
Thanks for the suggestion @tap1992. In your case, if the the same key gets pulled with two different labels are you looking for one to override the other in the DevOps variables or are you looking for both to be available?

[2022-03-03 10:30] tap1992 commented on #615
Thanks for getting back to me.

In our scenario we wouldn't have duplicates as we have environments that share some config but also have some that are dedicated. We want to extract the values against the specific env label as well as a 'shared' label, but where the shared label exists there isn't any specific env labels.

Currently I am working around this by running the App Config task 3 times wi

[2022-03-03 11:02] Philippe85 commented on #596
Hello,

I always wait your fix. My AzureDevOps pipelines always fails. How do you think to deliver the fix ?

Thanks

[2022-03-03 11:04] Philippe85 commented on #474
Hello,

This issue is always opened. How do you think to deliver this fonctionnality ?

Thanks

[2022-03-03 11:05] Philippe85 commented on #467
Hello,

This issue is always opened. How do you think to deliver this fonctionnality ?

Thanks

[2022-03-03 20:21] avanigupta commented on #596
Hello @Philippe85, sorry about the delay. This fix should be included in the next CLI release.

[2022-03-04 17:07] tiliev opened #616 "Disabled feature flag returns "true" from time to time"
I have an issue with a disabled feature flag that returns `true` from time to time.
In our Azure App config I have two flags with the same name:
- Flag1 with no label and value `true`
- Flag1 with environment `prod` and value `false`

Sometimes on environment `prod` I get value `true` for Flag1.

Our setup:
- We do not want to load all of the flags with no label. That's why we do `options.Select("

[2022-03-04 17:18] jimmyca15 commented on #614
Thanks for reaching out. Feel free to re-open if the issue hasn't been addressed.

[2022-03-04 17:18] #614 closed

[2022-03-04 17:25] jimmyca15 commented on #615
@tap1992 thanks for the suggestion. This is an improvement we can track for the DevOps extension.

In our configuration providers that support multiple queries to Azure App Configuration in a single flow we default to overriding keys when they exist in two labels. Most likely we would do this DevOps. It would behave similarly as if you ran the dev ops extension twice, as you are now, and had the s

[2022-03-04 17:30] jimmyca15 commented on #613
@sabbadino I see how that could be confusing. At a glance it can make it seem that using '*' for wildcard is not allowed.

@zhenlan I think we may be able to change the wording on KeyFilter description to clear it up a bit.

[2022-03-04 18:11] tap1992 commented on #615
Works for me! Thankyou very much!

[2022-03-04 18:21] sabbadino commented on #613
That's exactly my point .
I think API documentation is more correct on the matter

[2022-03-04 23:39] jimmyca15 commented on #616
@tiliev Do you modify feature flags with null label while the application is running. And is this what causes the symptom? Or does this happen even if no changes are made to feature flags?

[2022-03-05 04:23] chrisb-playstudios opened #618 "Importing feature flags with ClientFilters through ConfigurationClient"
Hi,

I'm trying to use the ConfigurationClient in Azure.Data.AppConfiguration to add a FeatureFlagConfigurationSetting that utilizes a targeting filter.

Something like this:
`var featureFlag = new FeatureFlagConfigurationSetting("feature1", true) { ClientFilters = ... }   // doesn't work because there is no setter

ConfigurationClient.AddConfigurationSettingAsync(featureFlag)
`

Is there any way

[2022-03-06 21:42] xzuttz commented on #192
Is it possible to import/export from one subscription to another using az appconfig kv export ? I see there is a --subscription field but it seems that it looks for the primary store and destionation in that subscription.

[2022-03-07 07:57] tiliev commented on #616
@jimmyca15 in the beginning I had both flags (with and without the label) set to `true`. I can't be sure whether it has worked for 100% of the time though. While the application was running, I turned off the flag with a label and noticed that the flag returned `true` once (~24 h after the change).

[2022-03-07 08:27] oyvindi commented on #614
Hi, sorry for delayed response.

This is what I tried:

In my App Configuration, I enabled "App Configuration Data Reader" for the registered app.

Client code (using the endpoint URL from "Access Keys"):

[code]

This gives me:
 _=> Unhandled exception. Azure.RequestFailedException: Service request failed.
Status: 403 (Forbidden)_

[2022-03-07 18:14] avanigupta commented on #192
@markleavesley, please see this issue for importing/exporting to a file with all labels: https://github.com/Azure/AppConfiguration/issues/552#issuecomment-964584196

[2022-03-07 18:14] avanigupta commented on #192
@xzuttz, yes, that's possible with a command like this:

`az appconfig kv export -d appconfig --endpoint <SourceStoreEndpoint> --auth-mode login --dest-endpoint <SourceStoreEndpoint> --dest-auth-mode login  `

[2022-03-07 22:41] jimmyca15 commented on #608
The new release should fix this issue. Please reach out if there are any other problems.

[2022-03-07 22:41] #608 closed

[2022-03-07 22:50] jimmyca15 commented on #614
There can be a ~15 minute propagation period between assigning the role and when the permissions are ready. Can you confirm that the request happened after that time window?

[2022-03-07 22:57] jimmyca15 commented on #192
It looks like this issue has been resolved. Avani has also provided details on file export capabilities. Please let us know if anything else comes up.

[2022-03-07 23:04] zhenlan commented on #192
This issue is to track the portal work.

[2022-03-07 23:06] jimmyca15 commented on #192
This capability exists in the Azure CLI. Re-opening as work is ongoing for inclusion in the Azure Portal.

[2022-03-08 09:17] oyvindi commented on #614
Yep, been a week now ! :D

[2022-03-08 11:26] SirElTomato commented on #500
Any update? I want to switch all my apps to Azure App Configuration but all my colleagues hate the poor search functionality

[2022-03-08 11:35] xzuttz commented on #192
Thanks, works with cli!

[2022-03-08 17:27] #427 closed

[2022-03-08 17:41] zhenlan commented on #509
@jiayi11 I remember this was a regression and fixed. Empty spaces are highlighted with dots. Can you please confirm?

[2022-03-08 17:44] zhenlan commented on #512
@shenmuxiaosen is this done?

[2022-03-08 17:46] jimmyca15 commented on #616
@tiliev I'm able to reproduce a similar issue by having a slightly different situation than you described. If I have the following flags, and loading feature flags with your setup:

* Flag1 with no label and value true
* Flag1 with environment prod and value false

The application will start with Flag1 as false. However, if Flag1 with no label is modified during the runtime of the application it w

[2022-03-08 17:57] jimmyca15 commented on #614
The code looks good. The only way I would expect this to return an HTTP 403 response is if the role is not assigned to the applicationId being used in the ClientCertificateCredential or if you have private endpoints enabled.

[2022-03-08 19:07] jiayi11 commented on #457
We already have the option "Hide matching key-value pairs" to achieve it. I think the issue left now is the compare options are not easy to understand.

I'll follow up with the options naming.

[2022-03-09 10:54] tiliev commented on #616
@jimmyca15 thanks for looking into this so quickly.

I think what you describe is a bug.

To your question - nope, we update feature flags via the UI only. Services have read-only permissions.

I suspected there might be some issues with the overriding part and I simplified our configuration:
[code]
These are our settings in the UI - that's the same key:
![Capture](https://user-images.githubuserco

[2022-03-09 14:23] DhavalShewale opened #619 "[BUG] Inconsistent routing of traffic via HTTPS_PROXY"
We are setting HTTPS_PROXY environment variable for routing traffic via proxy, however, we have observed that behavior of this library is not consistent for proxy and hence we are observing intermittent failures as the traffic does not get routed via proxy always.

We are setting HTTPS_PROXY as follows:
[code]

We are using `ClientCertificateCredentialBuilder` for authentication
[code]

We are obs

[2022-03-09 17:10] jimmyca15 commented on #616
Do you mean you had a single web app, and you evaluated the flag multiple times? Or do you mean you had multiple different applications and in one of them the flag was false?

With the symptoms you are describing in your simplified scenario, the following code should be able to reproduce the issue:

[code]

I don't see it happening in repeated iterations. Also, unable to find a code defect which c

[2022-03-09 17:54] mrm9084 commented on #619
This does seem like an SDK issue https://github.com/Azure/azure-sdk-for-java/issues/27546.

[2022-03-10 23:29] zhenlan commented on #519
The support for feature flag namespace/prefix has been added to the Azure portal for a while, but we forgot to update this thread. You may see it already.

<img width="625" alt="image" src="https://user-images.githubusercontent.com/10566826/157772099-08327d02-919d-4962-8cef-a86bce134b8b.png">

Regarding exporting all data in App Configuration to a single file, the support is added in Azure CLI. Pl

[2022-03-11 02:54] zhenlan commented on #619
Given the issue is tracked in the SDK repo. I'm going to close this one. We can reopen if we find otherwise.

[2022-03-11 02:54] #619 closed

[2022-03-11 12:19] briiipr commented on #48
I think this functionality should be available in the UI. Seems pretty UX-unfriendly at least for me...

[2022-03-11 16:58] psollaud opened #620 "Do not overide feature flag already present in app configuration while pushing via azure pipeline"
I'm trying to push feature flags from an azure pipeline via the "Azure App Configuration Push" extension.
I have created a json file in my repo containing all feature flag definition like the following:
`{
  ".appconfig.featureflag/f3": "{\"id\":\"f3\",\"description\":\"\",\"enabled\":false,\"conditions\":{\"client_filters\":[]}}"
}`

It is working fine to create new feature flag that does not exi

[2022-03-14 08:39] tiliev commented on #616
Hello, our use case for the time being is one application on multiple nodes.

We reduced our configuration even more and we do not use feature flags without a label anymore:

[code]

This appears to be working 100% although we'll monitor the results for some more time.

Could you let us know when the defect with the flags with default values is fixed so we can test it on our side?

Thanks a lot fo

[2022-03-15 19:47] zhenlan commented on #620
@psollaud this is not supported. When you choose to use files as your "source of truth", you should manage all your data via files, which includes enabling/disabling feature flags.

[2022-03-15 23:06] v-kentro opened #621 "How to convert Microsoft.Identity.Web to Azure.Core?"
How can I use a token retrieved using the Microsoft.Identity.Web library (TokenAcquisition.GetAuthenticationResultForUserAsync) to authenticate an Azure.Data.AppConfiguration.ConfigurationClient? It seems to only accept implementations of Azure.Core.TokenCredential, but I don't see a way of creating one of the provided implementations with the data I have.

_Originally posted by @AerikAwesome in h

[2022-03-15 23:31] v-kentro commented on #621
The more general question is where to find an implementation of `TokenCredential` that uses the Microsoft identity platform.

[2022-03-16 17:03] jimmyca15 commented on #613
We put out the following summary update to help alleviate the confusion: https://github.com/Azure/AppConfiguration-DotnetProvider/pull/313

[2022-03-16 20:23] sabbadino commented on #613
rest API documentation

https://docs.microsoft.com/en-us/azure/azure-app-configuration/rest-api-key-value#filtering

also mention this

key=abc,xyz | Matches keys names abc or xyz (limited to 5 CSV)
-- | --
I cannot see this mentioned in the update

[2022-03-17 17:53] TharinduK opened #622 "Migrating feature flags/configuration between App Configuration Service resources"
what is the recommended method to migrate feature setting setup under feature flag or configuration setting to a different app config environment.  We currently have multiple development environments (QA, UAT, Production). We have setup individual app configuration service resources  for each environment (different access control rules based on environment).    When we have completed validation of

[2022-03-17 21:39] jimmyca15 commented on #613
Hello @sabbadino

You are right. Although I don't expect that usage much in the configuration provider which is used mostly for querying complete configuration sets. I'm wondering if maybe we should keep it excluded for simplicity?

[2022-03-17 22:27] sabbadino commented on #613
I agree, i personally see real use cases for label filleting , but not for keys.. still ,if underlying API support it, just copy and paste rest API documentation :)

[2022-03-18 07:47] psollaud commented on #620
thanks @zhenlan for your reply. I'll try with az cli commands then.

[2022-03-18 07:47] #620 closed

[2022-03-18 19:48] #621 closed

[2022-03-18 19:48] zhenlan commented on #621
Issue moved to [Azure/azure-sdk-for-net #27642](https://github.com/Azure/azure-sdk-for-net/issues/27642) via [**ZenHub**](https://www.zenhub.com/)

[2022-03-23 17:54] Bhanu88 opened #623 "Azure app configuration Cli parsing issue for feature filter"
Azure app configuration

i want to insert following feature filter in the app configuration with CLI but Users arrage section is not getting parsed correctly please help me .
{
"id": "check",
"description": "",
"enabled": true,
"conditions": {
"client_filters": [
{
"name": "Microsoft.Targeting",
"parameters": {
"Audience": {
"Users": [
"[a.n@c.com](mailto:a.n@c.com)",
"[d.g@f.com](mailto:d.g@f.com

[2022-03-23 18:51] zhenlan commented on #622
@TharinduK the scenario you described makes sense to me. You can bulk-import key-values from one App Configuration store to another using Azure CLI today. Please let us know if that's a viable solution for you. We are adding the same support in Azure Portal tracked by the issued @avanigupta shared above.

[2022-03-23 21:12] jimmyca15 commented on #613
The new wording should help clarify the usage of '*' in the key filter. I don't think we want to update the summary to be anymore verbose given the expected usage. The label filter in the .NET provider does not allow commas. I believe key filter should be easier to understand now for users, I will go ahead and close this.

[2022-03-23 21:12] #613 closed

[2022-03-28 18:40] avanigupta commented on #623
Hi @Bhanu88, the filter parameter value should be a JSON escaped string. Something like this:
`az appconfig feature filter add -n azureDBconfig  --feature check --filter-name Microsoft.Targeting --filter-parameters Audience={\"DefaultRolloutPercentage\":0,\"Users\":[\"d.g@f.com\",\"a.n@c.com\"]}`

[2022-03-29 02:50] bradshaw84nz opened #625 "Pull Configuration Using Github Actions"
Would be great to be able to pull configuration from the App Configuration Service into Git Hub Actions much like the current functionality of Azure Dev Ops Pipelines here https://docs.microsoft.com/en-us/azure/azure-app-configuration/pull-key-value-devops-pipeline

[2022-03-29 14:25] mariagullickson opened #626 "Feature flags not refreshing with sentinel"
We've got an app service that is set up to use azure app configuration, and refreshing config does not seem to be updating any actual config. I've noticed this with both standard configuration values accessed through IOptionsMonitor, and with feature flags using IFeatureManager. I call TryRefreshAsync(), which returns success, but the config values never change even though I have updated my sentin

[2022-03-29 19:23] AlexandraKemperMS commented on #62
Hi @arkiaconsulting, @alex-3sr, @adriend-advz, @mattboothman, @cpdohert, @PanosKousidis, @BzSpi, @Kittoes0124, and @Azalenski,
based on your requests, we have been building the @Microsoft.AppConfiguration Reference in App Service and it is now available in Private Preview! We would love for you to try out this feature and hear your feedback. To get access to the private preview, please fill out th

[2022-03-31 09:40] #623 closed

[2022-04-01 03:14] jingao-msft commented on #626
Hi @mariagullickson   Do you have label set up for sentinel key?  If you set up label for this sentinel key, you should also include label when register the key in the code.  Something like

appConfigurationRefreshOptions
                                .Register("RefreshConfig", "mylabel", true)

[2022-04-01 10:18] mariagullickson commented on #626
@jingao-msft Nope, there is no label on the sentinel.

[2022-04-02 11:58] jingao-msft commented on #626
Hi @mariagullickson. I don't see anything wrong in your code at first glance. You said you got another service set up similarly, but that works fine. May I know what's the difference between those 2? And also, can you copy and paste the code  "Startup.cs" to here as well?

[2022-04-04 10:38] Bhanu88 opened #628 "adding or deleting a specific user or group in Azure app configuration feature filter CLI"
i created a filter by following command in azure app configuration

`az appconfig feature filter add -n azureDBconfig --feature check --filter-name Microsoft.Targeting --filter-parameters Audience={\"DefaultRolloutPercentage\":0,\"Users\":[\"d.g@f.com\",\"a.n@c.com\"]}`

[code]

now i want to add d.q@c.com and delete d.g@f.com from the user list without affecting any other attribute of the feature

[2022-04-04 12:29] mariagullickson commented on #626
The services serve two different purposes, but as far as how they initialize app configuration, there is no difference at all.

[2022-04-04 12:34] mariagullickson commented on #626
Our startup.cs is rather long, but here's a version of it with some of the irrelevant stuff skipped over...

[code]

[2022-04-04 20:40] avanigupta commented on #628
Hi @Bhanu88, thanks for the feedback! We will add this capability in Azure CLI and keep you posted.
In the meantime, you can achieve this in 2 steps:
1. Delete the existing filter named "Microsoft.Targeting":
- `az appconfig feature filter delete -n <storeName> --feature <featureName> --filter-name Microsoft.Targeting`
3. Add a new filter called "Microsoft.Targeting" with the updated filter params

[2022-04-05 03:06] jingao-msft commented on #626
Hi @mariagullickson.  It should have some difference between those 2 services, or it won't succeed in one, but failed the other. Well can you be more specific about what is minimum thing to establish differences between those 2.
Plus, I'm wondering if you use app insight anywhere in you service?

[2022-04-05 11:54] mariagullickson commented on #626
That's what's confusing. I have literally tried copying & pasting the code from the working service into this one to make sure they are identical, and syncing up versions of all related nuget packages. Still failing.

We do use app insights.

[2022-04-05 15:45] vijayanand-msft opened #629 "Microservices using App Configuration via providers in AKS"
Based on MSDocs - https://docs.microsoft.com/en-us/azure/azure-app-configuration/integrate-kubernetes-deployment-helm it is possible to use Helm to integrate APP configuration in AKS.
Is there any recommendation/ disadvantages in using App configuration with App settings and the secrets accessed directly within the Api's via the providers.
Instead of managing the secrets and app settings file expo

[2022-04-05 17:04] zhenlan commented on #629
@vijayanand-msft there are no issues with your plan.

Your microservices get access to settings, key vault references, and feature flags by directly using the App Config provider in your microservices. Everything can also be updated dynamically without redeployment. App Config provider has built-in caching and refreshing capabilities.

The Helm template approach is helpful for users who cannot (or

[2022-04-05 20:37] vijayanand-msft commented on #629
Thank you for clarifying @zhenlan :)

[2022-04-05 23:07] Bhanu88 commented on #628
@avanigupta thanks for the workaround i will wait for the enhancement

[2022-04-06 01:21] jingao-msft commented on #626
@mariagullickson. Considering one app works but the other doesn't,  it is possibly due to some library/api you used which could breaks refresh.   Can you also provide the code which you think irrelevant and skip in previous paste.    Also do both of you service use application insight?

[2022-04-06 15:00] mariagullickson commented on #626
Yes, that does seem possible. Both services are making use of app insights. Here's the whole Startup.

[code]

[2022-04-07 08:57] jingao-msft commented on #626
@mariagullickson Thank you for providing the code.
I have a few more questions.

 1. Does your problematic service have the same startup.cs with working service?  Do they use any different sdk/api when they initialize configuration?
  2. Does your problematic service use method called "AddApplicationInsightsKubernetesEnricher" in app insight sdk, it is known issue which will break app config refre

[2022-04-11 08:48] jingao-msft commented on #626
@mariagullickson  By checking the backend log, app config service did return the response successfully, so I assume something breaks the refresh at client side.  I guess maybe some problematic sdk breaks the config reload callback in .net.

I think the easiest way to debugging the issue, is to try to modify the problematic service to be as identical as possible with the normal service, until it wo

[2022-04-14 13:05] HugoSousa commented on #552
It seems that this does not allow to export to a file for all labels in a single shot. I am only able to export a single label at a time. Reading the documentation for flag _--label_, it says:

_Only keys and feature flags with this label will be exported. If no label specified, export keys and feature flags with null label by default. **Only when export destination is appconfig**, we support star

[2022-04-14 14:47] zhenlan commented on #552
@HugoSousa give it a try with `--label *`. It should export all labels at once. We realized we missed updating the help message you mentioned above. It will be updated in the next CLI release. I also updated my message above inline.

[2022-04-14 17:26] zhenlan commented on #629
Good suggestion, @vijayanand-msft. I have a [PR ](https://github.com/MicrosoftDocs/azure-docs/pull/91556) out to update the documentation.

[2022-04-15 12:25] vijayanand-msft commented on #629
@zhenlan  Thank you for doing this PR :)

[2022-04-15 18:03] #629 closed

[2022-04-15 18:04] zhenlan commented on #552
We have an official document on this topic out now
https://docs.microsoft.com/azure/azure-app-configuration/concept-config-file

[2022-04-15 18:10] #519 closed

[2022-04-15 18:17] zhenlan commented on #622
Close this one. The request is tracked in #192.

[2022-04-15 18:17] #622 closed

[2022-04-15 18:19] zhenlan commented on #616
@jimmyca15 is there an issue opened to track the issue you mentioned earlier? Is that the same issue @tiliev mentioned above?

[2022-04-15 18:20] zhenlan commented on #607
Please reopen if there are any updates about this issue.

[2022-04-15 18:20] #607 closed

[2022-04-15 18:24] zhenlan commented on #596
@avanigupta has the fix been released?

[2022-04-15 18:29] zhenlan commented on #567
@jimmyca15 has this issue been addressed?

[2022-04-15 18:30] zhenlan commented on #509
@jiayi11 can this issue be closed?

[2022-04-15 18:37] avanigupta commented on #596
Yes, this has been released in Azure CLI version 2.35.0 - [Release Notes](https://github.com/MicrosoftDocs/azure-docs-cli/blob/main/docs-ref-conceptual/release-notes-azure-cli.md#app-config).

[2022-04-15 18:37] #596 closed

[2022-04-15 18:40] jiayi11 commented on #509
Yes this is fixed

[2022-04-15 18:40] #509 closed

[2022-04-15 19:05] zhenlan commented on #235
Given the security implications and our focus on service availability/reliability, we decided to move away from offering offline solutions. Users may choose to fall back to local configuration files for offline scenarios.

[2022-04-15 19:05] #235 closed

[2022-04-15 19:07] zhenlan commented on #79
Given the security implications and our focus on service availability/reliability, we decided to move away from offering offline solutions.

[2022-04-15 19:07] #79 closed

[2022-04-15 19:10] #190 closed

[2022-04-15 19:18] zhenlan commented on #209
Not exactly the same as what was proposed in this thread, but we are working on the support for geo-replication (#178). It will provide functionality very similar.

[2022-04-15 19:18] #209 closed

[2022-04-15 22:27] jimmyca15 commented on #567
@davidpeden3

Were you able to come to a working solution, or are you still seeking guidance on this issue?

[2022-04-15 23:24] jimmyca15 commented on #616
@zhenlan

No issue was ever filed. I filed it here: https://github.com/Azure/AppConfiguration-DotnetProvider/issues/317

[2022-04-15 23:30] zhenlan commented on #616
Cool. Thanks, @jimmyca15. I am closing this one since the issue discovered in this thread is tracked separately.

[2022-04-15 23:30] #616 closed

[2022-04-22 22:19] zhenlan commented on #626
@mariagullickson please let us know if you have an update.

[2022-04-23 10:40] mariagullickson commented on #626
I spent a while playing with adding and removing different things from each service. Finally found that if I removed calls to a nuget package from another team in our company, the not-working package started working again. It's a package that we definitely have to use, so I'm working on narrowing down what in that package might be causing the issue.

[2022-04-23 18:28] zhenlan commented on #626
Thanks for sharing the progress, @mariagullickson. You may see if this helps you as we [documented in the note](https://docs.microsoft.com/en-us/azure/azure-app-configuration/enable-dynamic-configuration-aspnet-core). Please let us know what you find out. It may help other users.

"_To ensure the middleware is triggered, call app.UseAzureAppConfiguration() as early as appropriate in your request p

[2022-04-23 18:35] zhenlan commented on #527
@AlexandraKemperMS we are the authors of this library :). We need to follow up just like what we did for `Microsoft.Extensions.Configuration.AzureAppConfiguration` namespace and move the doc out of the preview.

[2022-04-25 16:12] AlexandraKemperMS commented on #527
@zhenlan Yes, we are the authors, you are right. This post was before we knew how to make this change on our side - Avani and I were investigating so I created a github comment to see if the docs authors knew. Should be a breeze that we now know.

[2022-04-25 16:12] #527 closed

[2022-04-26 18:04] mariagullickson commented on #626
Ah ha! That was is. I updated our code to move the call into the nuget package I mentioned _after_ the call the UseAzureAppConfiguration() and everything is working as it should now. Thanks!

[2022-05-02 16:16] schen1880 opened #634 "Sentinel key not refreshing configuration but interval refreshes"
I had dynamic app configuration working but then added some new keys and now the sentinel key does not seem to be refreshing the values. I ended up starting a new project and brand new app configuration and it still will not refresh using the sentinel key. I feel like I might be missing something but not sure what it could be.

I've tried creating a sentinel key with both a label and without but n

[2022-05-03 00:37] avanigupta commented on #634
Hi @schen1880 ,
In your `Select()` clause, you are loading all key-values starting with `MortgageSurveyService*` and label ` hostingContext.HostingEnvironment.EnvironmentName`. But in your `refresh.Register()` method, you are registering the sentinel key with label `Development`.

Is it possible that you actually want to register the same label as your `Select` clause?

[code]

Also, can you confi

[2022-05-03 01:44] schen1880 commented on #634
@avanigupta thanks for your help.

I checked again and it looks like I just misunderstood how the sentinel key worked. I was under the impression the sentinel key would trigger a refresh or the cache expiration would trigger a refresh but it only checks the sentinel key after the cache expires.

[2022-05-03 01:44] #634 closed

[2022-05-04 14:12] nareshkaloha opened #635 "Proxy Service to access Config Store"
Hello , This question is based on the Best Practices listed here - https://docs.microsoft.com/en-us/azure/azure-app-configuration/howto-best-practices .It says - for managed identities access and excessive poling , MS recommends using a proxy service .

We have over 50 applications and we can create a proxy centralized service so each application does not need to authenticate with the config store

[2022-05-04 14:25] nareshkaloha opened #636 "KVSet Profile in Portal"
Hello ,

When exporting/importing through the portal , there is no option to specify the profile . Is this is something that will be supported in future ?

Thank You!

[2022-05-04 19:53] mwmardis commented on #567
@jimmyca15 Are there still plans on your side to address this use case of allowing Azure App Configuration to be put behind Azure Front Door?

[2022-05-05 00:35] zhenlan commented on #636
@nareshkaloha yes, the KVSet profile will be supported in the portal in the future. The work is tracked in #552. As noted in the document, it is only supported in CLI for now.

https://docs.microsoft.com/en-us/azure/azure-app-configuration/concept-config-file#file-content-profile-kvset

[2022-05-05 00:35] #636 closed

[2022-05-08 17:53] davidpeden3 commented on #567
hey @jimmyca15 i'm no longer working on the effort that originally triggered this question. having said that, i still think it would be a valuable addition. i am likely to start a new endeavor soon where i would be interested in this capability. as @mwmardis asked, i would also like to know the official stance on this topic. thanks!

[2022-05-09 15:12] DhavalShewale opened #638 "Fix vulnerabilities in azure-spring-cloud-appconfiguration-config AppConfiguration Provider"
Fix vulnerabilities in azure-spring-cloud-appconfiguration-config AppConfiguration Provider

## Library
[code]

## Vulnerabilities
[code]

## Vulnerable Paths
[code]

[2022-05-09 17:32] jimmyca15 commented on #567
@mwmardis @davidpeden3

There was a blocker that prevented this scenario when the original issue was filed. Now it should be good to go. The change that we made is that we started supporting the following AAD token audience: `https://azconfig.io`.

Now the following suggestion I gave in an earlier comment no longer has any blockers and should be able to be used to make this scenario work.

In the

[2022-05-09 19:29] mrm9084 commented on #638
@DhavalShewale This is updated here https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml. A new release will be out soon with the change.

[2022-05-10 17:04] markoctg opened #639 "Azure App Configuration Tags not showing up in Cost Analysis"
We have an Azure App Configuration deployed in our subscription and we have put 2 tags to every resource ('costType' and 'environment'). All resources are tagged and appearing when we pull the Cost Analysis report by Tags except the App Configuration. They show the Tags column as blank.

We would expect this would work like for every other resource (VMSS, storage accounts, API management, applicat

[2022-05-10 17:06] ghost opened #640 "Wrong location reported in cost analysis"
In cost analysis the location of App Configuration is shown as 'US west' even though the location set to 'EU west' on the resource.

[2022-05-11 13:40] jtterry2856 opened #641 "Azure App Configuration Task error "ClientConfigurationError: untrusted_authority""
I am receiving below error when using the Azure App Configuration Task (5.2.0) in a deployment job. This job is running on on-prem server behind a proxy using self-hosted azure devops agent (2.202.1) with Agent.ProxyUrl set to proxy used for that server.

`##[error]An unexpected error occurred. endpoints_resolution_error: Error: could not resolve endpoints. Please check network and try again. Deta

[2022-05-12 08:42] GerardoGrecoPorini opened #642 "Purge a deleted App Configuration from Azure CLI"
It is possible to purge the deleted App Configuration from Azure CLI?
I was able to find this feature only from portal.

[2022-05-12 17:30] #642 closed

[2022-05-13 07:26] MaryanneNjeri commented on #641
Hi @jtterry2856, thank you for reaching out. Apologies for the delayed response. Currently looking into the issue you are experiencing.

[2022-05-13 07:48] MaryanneNjeri commented on #641
@jtterry2856 might you be  using an authenticated proxy if yes please set authenticate proxy credential through the environment variable
`VSTS_HTTP_PROXY_USERNAME` and `VSTS_HTTP_PROXY_PASSWORD`.
Might I also suggest a workaround for  [Using VSTS Agent behind Proxy](https://github.com/microsoft/azure-pipelines-agent/blob/61b82a80f224e444932e1a830ca49276872f3c54/docs/start/proxyconfig.md)

[2022-05-13 13:47] jtterry2856 commented on #641
@MaryanneNjeri thanks for quick response on this. Do you have eta when we can expect to see updated version of the task with the change?

[2022-05-13 19:01] MaryanneNjeri commented on #641
@jtterry2856 its a bit hard to give an eta since msal node is a dependecy to [azure/identity](https://www.npmjs.com/package/@azure/identity) which is a library we use. I have already filed a Github issue [#21867](https://github.com/Azure/azure-sdk-for-js/issues/21867) I can follow up with.

Also I came across this [workaround](https://github.com/microsoft/azure-pipelines-agent/blob/61b82a80f224e44

[2022-05-16 17:27] nareshkaloha commented on #635
Thanks for your reply. Yes, we don't want all our apps to connect to the config store but concerned that a centralized proxy service will add latency to the client application .We thought of local caching but do not want to write more code there  .. will check what will work best for us. Thanks for answering my question.

[2022-05-16 17:43] nareshkaloha opened #643 "Question : Overriding secrets with local appsettings.json file"
Hello ,

We are exploring the app config service before we can start using in our org applications .We would like to load the keys/secrets from local appsettings.json file and then from the app config store. This works fine in case of regular keys .Keys get loaded from the local file when config store is unavailable .The local file settings is overridden when config store is available .The code ca

[2022-05-16 18:28] MaryanneNjeri commented on #641
@jtterry2856 @azure/identity got back, the eta to see the updated version is 3 to 4 weeks.

[2022-05-16 22:14] traberc commented on #267
This original request is now 2 years old. This seems like plenty of time to implement data plane cmdlets for App Configuration. Every other Azure resource I work with regularly has full support for native PowerShell actions, for both management and data plane operations. Why is this not forthcoming for App Configuration?

At this point should users assume this will just never happen? If so, can th

[2022-05-17 00:19] jtterry2856 commented on #641
@MaryanneNjeri thanks for the update. I will give the work around a try

[2022-05-17 19:00] avanigupta commented on #643
Hi @nareshkaloha, the Key Vault references in App Config contain a reference to the secret which is stored in KeyVault. You are not actually storing the secret value in AppConfig. The `Microsoft.Extensions.Configuration.AzureAppConfiguration` library fetches the secret value for you so you dont have to write the code yourself to fetch secrets from KeyVault.  The "uri" field in AppConfig is just a

[2022-05-18 22:04] microsoft-github-policy-service opened #646 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-05-18 23:08] #646 closed, assigned to nobody

[2022-05-19 15:58] anza19 opened #647 "LabelFilter to get all labels for a configuration"
Hello,

I have a question regarding the `LabelFilter` that we set up with `.Select(key, label)` at `Startup.cs` to get key-value pair from App Configuration.

This class exposes a `Null` label that loads configuration with no label for a specific key. Does there exist a filter that can get us **all** the labels for a configuration? My use case is to get all the labels for a configuration and curre

[2022-05-19 16:09] zhenlan commented on #647
The short answer is no, but for a reason. Maybe you can answer the question below to help us understand what you are trying to achieve.

Data retrieved from App Config is put into `IConfiguration`, which supports one value for one key. If you had multiple values (corresponding to multiple labels) of a key retrieved from App Config, which value would you want it to be put in `IConfiguration`?

[2022-05-19 16:13] #635 closed

[2022-05-19 16:14] anza19 commented on #647
Hello, thank you so much for getting back to me so quick.

So, our use case is such that we get the label from a request and I was hoping I could say get a list of all the values of a configuration, at startup, and then match the label from the request to configurations loaded into `IConfiguration.`

I hope I was able to explain the use case well enough.

[2022-05-19 16:27] zhenlan commented on #647
`IConfiguration` doesn't give you a way to store or search more than one value for a given key.

In your scenario, you probably shouldn't use the label to differentiate key-values for different requests. You can use prefix to your key names instead. This way you can retrieve all key-values with different prefixes at once in startup and then you can find the key that matches the prefix coming from

[2022-05-19 18:23] nareshkaloha commented on #643
Hi Avani , thanks for your reply. Yes , we need to fetch secrets from the KV on start up. We thinking of this option or export all the config data during CICD with resolve-kevault parameter, place this file on the application root directory and first read from it. Thanks!

[2022-05-19 18:23] #643 closed

[2022-05-20 14:22] nareshkaloha opened #648 "Question : about resiliency"
Hello , I have below questions regarding the resiliency .Below are models suggested in the documentation to achieve high availability.

1). have primary and secondary stores in different regions . link - https://docs.microsoft.com/en-us/azure/azure-app-configuration/concept-disaster-recovery?tabs=core3x.

In this example if primary is unavailable then config data will be loaded from the secondary

[2022-05-23 10:08] johanolssoncab opened #650 "[Feature request] Add network bypass for 'AzureServices' in ARM deployments"
According to the documentation [here](https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-resource-manager#review-the-template) a 'note'(1) indicates that the App Configuration resource need to have `enable public network` set to `true` when a ARM deploy of `Microsoft.appconfiguration/2020-07-01-preview/configurationstores/keyvalues` is executed.

In my scenario I want to int

[2022-05-23 22:00] zhenlan commented on #650
@johanolssoncab we don't have a viable solution for this problem at this point. We cannot control who can send requests to ARM, so from the security perspective, any backdoor given to ARM will effectively be the same as the opening to the whole public network. Until we have a better solution, we don't want to give you a false impression of security by bypassing Azure services. As suggested in the

[2022-05-23 22:13] zhenlan commented on #648
@nareshkaloha
1. If you registered refresh for the primary store, data will be loaded from the primary store when it becomes available.
2. Similar to 1, if you registered refresh for the App Config store, data will be loaded from the App Config store when it becomes available.

BTW, we are working on geo-replication support (#178), which should give you better experience in the future.

[2022-05-24 06:15] johanolssoncab commented on #650
Ok, thanks for the quick reply.

There are no plans, as of today, to support this feature?

[2022-05-25 00:54] zhenlan commented on #324
We added support for **KVSet file content type** in import/export. It is very similar to what @WarrenFerrell originally proposed. More details can be found at https://docs.microsoft.com/azure/azure-app-configuration/concept-config-file.

[2022-05-25 00:54] #324 closed

[2022-05-25 01:03] zhenlan commented on #501
The support for the hierarchical view is tracked in #537. Close this out.

[2022-05-25 01:03] #501 closed

[2022-05-25 01:07] zhenlan commented on #148
A similar issue is tracked in #474. Close this one.

[2022-05-25 01:07] #148 closed

[2022-05-30 13:36] MaryanneNjeri commented on #48
We have included the bulk delete functionality in the UI in the latest Portal version. Please give it a try and feel free to reach out in case of anything.

[2022-05-30 15:56] carlblanchard commented on #48
Nice, Yeah I have the checkboxes :) Happy Days

[2022-05-31 01:34] indigogiant commented on #267
In case it helps someone else, here's an example of how to use `Get-AzAccessToken` with App Configuration to get a list of keys and add a new key/value pair.
[code]

_NB: While it's fine for this example, when passing more complex objects to `ConvertTo-Json` you may need to pass `-Depth N` because the default depth is only 2, meaning anything more than two levels deep in the object hierarchy will

[2022-06-01 02:46] davidpeden3 commented on #567
The idea is to emulate (replicate?) the redundancy [automatically provided by Azure Key Vault](https://docs.microsoft.com/en-us/azure/key-vault/general/disaster-recovery-guidance). When using ACS backed by AKV, it makes no sense not to have redundant ACS instances. Instead of relying on a chain of configured instances, relying on a pool fronted by Azure Front Door means that all clients get neares

[2022-06-01 10:44] christianarg opened #651 "Azure functions Isolated, QueueTriggers and ConnectionStrings"
Given an Azure functions Isolated with a QueueTriggers that get's the queue name by configuration and the ConnectionString also by configuration

[code]
myqueue and MyQueueConnection are never read from Azure app Configuration.
If I do a _logger with the values from IConfiguration the values are correct, but the Azure Function never get's this values as it seems they are loaded even before the deb

[2022-06-01 12:56] mrjamiebowman commented on #48
Such a great feature! This will be heavily used in environments, especially like dev where configuration may change drastically.

[2022-06-01 13:39] kipergil commented on #48
Well done guys. It's very nice to see that this feature is implemented almost after 3 years 👍 better late than never 😁

[2022-06-01 17:12] zhenlan commented on #650
We will keep looking for a solution and would like to enable the scenario in the future, but no viable solution as of today.

[2022-06-01 17:12] #650 closed

[2022-06-01 17:14] #647 closed

[2022-06-02 03:00] Ryan9017 opened #652 "follow Use dynamic configuration using push refresh in a Java Spring app step，get some trouble"
<1st>
     https://docs.microsoft.com/en-us/azure/azure-app-configuration/enable-dynamic-configuration-java-spring-push-refresh?tabs=cmd
spring.cloud.azure.appconfiguration.stores[0].monitoring.cacheExpiration= 30d
the '30d',if i change to 'abcd',
eg. spring.cloud.azure.appconfiguration.stores[0].monitoring.cacheExpiration= abcd
it passed.
i can't find the filed named 'cacheExpiration' in AppConfi

[2022-06-06 23:19] mrm9084 commented on #652
`spring.cloud.azure.appconfiguration.refresh-interval ` is correct. Thanks for letting us know, that doc will be updated.

[2022-06-07 00:05] davicbaba commented on #203
I have the same problem, did you find any solution?

[2022-06-07 08:24] beukerz commented on #203
No unfortunately not. I am using the functions configuration for now.

[2022-06-07 10:07] DhavalShewale opened #653 "Fix vulnerabilities in azure-spring-cloud-appconfiguration-config AppConfiguration Provider"
Fix vulnerabilities in azure-spring-cloud-appconfiguration-config AppConfiguration Provider

## Library
[code]

## Vulnerabilities
[code]

## Vulnerable Paths
[code]

[2022-06-07 13:41] christianarg commented on #651
It does work

Even if you use managed identity, con can have multiple storage accounts that you need to process and you need to include the connection string for your account (without secrets with manage identity)

Can you kindly tell me where do I have to open the issue for de Azure Functions Team. Is it here https://github.com/Azure/azure-functions-dotnet-worker?

[2022-06-08 10:47] mho105 opened #655 "Azure Functions and IOptionsMonitor refresh"
Hi, I'm trying to get IOptionsMonitor and App Configuration refresh working with Azure Functions.

I took the following example:
https://github.com/Azure/AppConfiguration/tree/main/examples/DotNetCore/AzureFunction/FunctionApp

And instead of just injecting `IConfiguration` I also injected `IOptionsSnapshot<HelloConfiguration>` and `IOptionsMonitor<HelloConfiguration>`

As well as registering this

[2022-06-09 02:08] sharvaridesai123 opened #656 "Azure App Configuration Pull task is not loading keys."
I want to use Azure App Configuration Pull task to load the key-value pair as variables in my pipeline to be used in the integration tests.

I get a warning Access denied. Please ensure the required role assignment is made for the identity running this task for all the Keys that are  Key vault references to secrets.

The identity running the pipeline task has App Configuration Data Owner Role assi

[2022-06-09 23:50] zhenlan commented on #655
Glad it worked out and thanks for sharing, @mho105.

[2022-06-09 23:50] #655 closed

[2022-06-10 19:49] mrm9084 opened #657 "Azure App Configuration Python Provider - Design Proposal"
We are planning to build App Config Provider for Python, same as .Net and Spring. We will love for you to share your Python expertise and comment on our initial API design for the provider.

# Usage Design

## API

[code]

## Usage

This will load all configuration settings with empty label in the store via connection string

[code]

This will load all configuration settings in the store with Azur

[2022-06-10 19:50] mrm9084 commented on #600
https://github.com/Azure/AppConfiguration/issues/657

[2022-06-10 20:00] #48 closed

[2022-06-14 15:42] christianarg commented on #651
@zhenlan can you take a look at my last reply?

[2022-06-15 19:55] theo-albers opened #658 "Validate JSON value"
There have been several improvements to support JSON values in the Azure Portal:
- support for application/json in the first place
- multiline edit box
- larger edit box

What's missing is JSON validation on save. It has happened to us a couple of times that we added a JSON property to an existing JSON value and we created invalid JSON by leaving a trailing comma.

Invalid JSON values will be igno

[2022-06-18 12:24] thara0402 opened #660 "Azure App Configuration Blob Storage reference feature"
Can I design to references to Blob Storage with the same as Key Vault reference feature?

I designed to store any configuration data using App Configuration .
However, some types of data may better suited to reside in other sources.
For example, store secrets in Key Vault, files in Azure Storage.

References to external data
https://docs.microsoft.com/en-us/azure/azure-app-configuration/howto-best

[2022-06-20 14:34] DhavalShewale opened #661 "App Configuration Provider for Java (Non Spring Boot)"
While we have a great library - `azure-spring-cloud-appconfiguration-config` for spring boot based java applications but we currently lack a java provider for applications that work on normal spring configuration.

While spring boot is the new technology that has been on the trend for quite some time, there would be quite a few projects which have been developed and running in the past using norma

[2022-06-20 21:22] zhenlan commented on #661
@DhavalShewale the App Config Java SDK can be used in generic Java applications. Does that solve your need?

https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/appconfiguration/azure-data-appconfiguration

[2022-06-20 21:24] zhenlan commented on #660
@thara0402 yes, you can do that. That's a recommended approach.

[2022-06-20 21:27] zhenlan commented on #658
@theo-albers that's a good suggestion. App Config Azure portal should have better JSON support including validation. Thanks!

[2022-06-21 10:00] DhavalShewale commented on #661
@zhenlan This is a java SDK for app configuration but it does not resolve key-vault referenced secrets.
This feature request is for an app configuration provider that can auto resolve key-vault referenced secrets.

[2022-06-28 07:23] vermegi commented on #484
It would also be nice to have 'read' permissions on a per label basis. Currently I have a customer who has a lot of applications, a lot of config and a lot of environments. They are ok with splitting up app config for their production environment (they have 10 of these where they promote an app 10 times between environments and they have even more non-production environments).
They need apps to no

[2022-06-28 11:54] 5Heinzelmann opened #663 "Locking a feature flag / key leads to invalid state"
To reproduce:
- Go to Feature manager
- Right click a feature / key -> Lock
- Everything seems fine (Success message appears)
- Refresh page
- You an error "Some of your feature flags are not valid. Please navigate to Advanced Edit for more details."

The name + id of the flag are missing in the list.
If you open it in Advanced edit you see random (hashed?) characters like
"BGNCL2sUEmbC8Uxx [...]

[2022-06-28 11:55] 5Heinzelmann commented on #663
![Screenshot from 2022-06-28 13-55-07](https://user-images.githubusercontent.com/23219135/176172418-d402c0a3-0194-494e-8902-59cfbc59aa1f.png)

[2022-06-29 00:07] drago-draganov commented on #663
Thanks for reporting this, @5Heinzelmann! We identified the problem, and the fix is rolling out as we speak. Please allow for a few hours to apply.

[2022-06-29 06:45] drago-draganov commented on #663
The fix is deployed.

[2022-07-04 15:25] m-adami commented on #604
It would be indeed great to have such logging as for it's otherwise unclear who accesses a certain key.

[2022-07-05 11:36] Shuvajyoti opened #664 "Recommendations of using Azure app configurations with staging slots"
We are planning to use azure app configurations for our Azure Function app which uses slots in dedicated App service.
As of today (without Azure App Configuration), in our CI/CD pipeline we update Configs along with Code changes.

We wanted to know the recommendations for maintaining/updating configurations in Azure App Configurations considering these slots (staging and production).
Wanted to kno

[2022-07-06 14:38] wngjian4814 opened #665 "Looking for an API to create/update feature flags through SDK"
Hi team, I'm trying to fly the App Configuration Service to our service, at the same time, I would like to have an API to enable me create/update feature flags through SDK. Could you please tell me where I could find this kind of API? It will be great if you could provide some examples. Thanks!

[2022-07-06 22:57] drago-draganov commented on #660
Here is a quick code snippet that utilizes IOptions pattern to bind configuration data and link blob content.
The idea is to store your blob uri in the configuration system and let an option instance to fetch the data from Azure Blob as needed.

[code]

[2022-07-07 23:11] spowser opened #666 "Add documentation and code examples for multi key vault setups"
I could not find any documentation on the proper way to register multiple key vaults that support a given app configuration setup.  This seemed to be the solution:

[code]

Can we add something around this topic to the documentation so others don't have to trial and error?

[2022-07-08 01:44] thara0402 commented on #660
@drago-draganov Thank you for giving me a hand.

[2022-07-11 19:59] zhenlan commented on #666
Hi @spowser if all your Key Vaults have been granted permission to be accessed by the same credential, you can call the API below once and you don't have to call it for every Key Vault.

[code]

More details of the API reference can be found at
https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.configuration.azureappconfiguration.azureappconfigurationkeyvaultoptions.setcredential?vie

[2022-07-11 20:03] zhenlan commented on #652
@mrm9084 is the doc fixed? Can this be closed now?

[2022-07-11 20:09] mrm9084 commented on #652
Yes it has been.

[2022-07-11 20:09] #652 closed

[2022-07-12 02:19] #663 closed

[2022-07-12 08:39] arpitmishra-eaton opened #667 "Connection String is invalid"

[2022-07-12 19:49] zhenlan commented on #667
Dup of https://github.com/Azure/AppConfiguration-Sync/issues/29

[2022-07-12 19:49] #667 closed

[2022-07-13 02:36] zhenlan commented on #651
Yes, you can reach the Azure Functions team from https://github.com/Azure/azure-functions-host.

Closing this issue as the Azure Functions trigger is tracked in https://github.com/Azure/AppConfiguration/issues/203.

[2022-07-13 02:36] #651 closed

[2022-07-13 02:37] zhenlan commented on #641
@MaryanneNjeri is this issue addressed? Can it be closed?

[2022-07-13 19:51] spowser commented on #666
@zhenlan That works great.  I just checked the documentation again and [this suggests](https://docs.microsoft.com/en-us/azure/azure-app-configuration/use-key-vault-references-dotnet-core?tabs=core5x#update-your-code-to-use-a-key-vault-reference) your solution.  Tried to find where the .Register() documentation came from so I think we are ok to close this.  My only suggestion is that step 4 of the

[2022-07-14 01:19] #666 closed, assigned to zhenlan

[2022-07-14 06:37] #656 closed

[2022-07-14 06:47] MaryanneNjeri commented on #641
Yes, we can close the issue. We reference [msal-node version 1.6.0](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-node/CHANGELOG.md#160)

[2022-07-14 06:47] #641 closed

[2022-07-14 06:57] MaryanneNjeri commented on #552
A new release is out [Azure App configuration Push task version 3.3.0](https://marketplace.visualstudio.com/items?itemName=AzureAppConfiguration.azure-app-configuration-task-push) allows you to manage your App Configuration key-values with different labels, tags, content-types all in one JSON file. Please give it a try and share feedback with us.
You will need to specify the FileContentProfile as

[2022-07-16 08:22] beukerz opened #669 "Reference another app configuration item"
In an App Configuration entry can I reference another entries value?

For example I have 2 app configuration entries. One called MyApi:Uri with value https://myapi.azurewebsites.net and I have an entry ReverseProxy:Clusters:MyApi:Destinations:destination1:Address. This value should also be https://myapi.azurewebsites.net but I would like to add/maintain it only once.

Note I am using one app confi

[2022-07-19 05:07] zhenlan commented on #665
An FAQ is added to the documentation for this question.

https://docs.microsoft.com/azure/azure-app-configuration/faq#can-i-create-and-update-feature-flags-or-key-vault-references-programmatically

[2022-07-19 05:07] #665 closed

[2022-07-19 05:08] #660 closed

[2022-07-19 05:28] zhenlan commented on #669
@beukerz, this is not supported natively by the App Configuration service today.

While I understand what you described could be useful, this is, however, often handled by the application or the framework depending on the type of the application. For example,
- .NET doesn't have a concept/convention for one setting to reference another. .NET applications often use different variables referring to

[2022-07-19 13:58] theo-albers commented on #658
Yes, it works, fantastic!

![image](https://user-images.githubusercontent.com/9417380/179768494-4617eb33-08f8-4145-901b-db674a0e3e84.png)

[2022-07-20 22:15] #658 closed

[2022-07-20 22:33] zhenlan commented on #493
Not exactly the same, but I hope the hierarchical view support (#537) can help this scenario too.

[2022-07-27 17:52] zeqk commented on #438
Thank you very much! This solution helped me too!

This another documentacion [Azure App Configuration support for configuration files: File content profile: default](https://docs.microsoft.com/en-us/azure/azure-app-configuration/concept-config-file#file-content-profile-default) is wrong or outdated

![image](https://user-images.githubusercontent.com/11799393/181332098-157da9e2-ced3-4353-b6dd-c385

[2022-07-27 19:57] zhenlan commented on #438
Glad this 2-year-old thread still helps :)

There are multiple ways to achieve the same result.
- If you prefer to have a multi-level JSON file (i.e., a `ConnectionString` node is under a `Database` node), you can use the CLI command outlined in the document with the `--separator` parameter. This may work better for JSON files with complex hierarchical structures. The document is not wrong or outd

[2022-07-27 20:10] zhenlan commented on #474
The function is available now in the "Configuration explorer" when you click the triple-dots of a key-value.
![image](https://user-images.githubusercontent.com/10566826/181362734-a332ff88-aa76-41f4-84f1-926655cfe1ed.png)

[2022-07-27 23:21] #474 closed

[2022-07-27 23:31] #669 closed

[2022-07-29 17:12] zeqk commented on #438
Thank you @zhenlan! This is true for import no-key-vault-references

But in the case of import key-vault-references, if you use the format suggested in the [documentation](https://docs.microsoft.com/en-us/azure/azure-app-configuration/concept-config-file#file-content-profile-default) the result is a invalid key vault reference

![image](https://user-images.githubusercontent.com/11799393/181809692-

[2022-07-29 20:18] RohanRao27 commented on #599
Following for something like this for JavaScript/TypeScript

[2022-08-08 22:24] drago-draganov commented on #178
Please check [Geo-replication overview](https://docs.microsoft.com/en-us/azure/azure-app-configuration/concept-geo-replication)

[2022-08-10 13:09] maxkoshevoi opened #673 "`Create from existing` for multiple labels at once"
`Create from existing` is great, but it only works for one label at a time.
Could you please enable it to work with all labels added for a single key at once?

Intended use is as in  https://github.com/Azure/AppConfiguration/issues/474 - to rename the key.

[2022-08-11 22:26] drago-draganov commented on #673
Thanks for reaching out, @maxkoshevoi. Do you mind elaborating a bit on the scenario needs creating duplicates for all labels of a key?

[2022-08-12 00:50] zhenlan commented on #673
@maxkoshevoi thanks for the suggestion. We are looking into some bulk editing/creation functionalities for the portal.

[2022-08-16 13:30] artisticcheese opened #674 "List by Configuration Store API is not working as expected (HTTP 404) received."
Hello,

Using following API (https://docs.microsoft.com/en-us/rest/api/appconfiguration/stable/key-values/list-by-configuration-store?tabs=HTTP) I'm receiving HTTP 404. I'm owner of both control plane and `App Configuration Data Owner`. All other APIs are working fine, just this specific one returns HTTP 404

[code]

[2022-08-16 22:41] drago-draganov commented on #674
List of KeyValues through the management plane (ARM) isn't supported. Only individual GET/PUT/DELETE per key-value. This is to enable ARM template scenarios, where key-values are read/modified during ARM template deployment.
There is discrepancy with the documentation and should be addressed with the next API version.

For any key-value operation (except ARM template references), please consider u

[2022-08-16 22:42] #674 closed

[2022-08-16 22:43] artisticcheese commented on #674
What do you mean by `use dataplane directly`. How do we list all values in one sweep?

[2022-08-16 22:53] drago-draganov commented on #674
- The direct way is via any of [Azure AppConfiguration SDKs](https://github.com/Azure/AppConfiguration#sdks)
- To integrate and use into application, consider any of [Azure AppConfiguration Providers] (https://github.com/Azure/AppConfiguration#configuration-providers)

In terms of REST, the endpoint is:
https://<your-config-store-name>.azconfig.io/kv

[2022-08-22 07:09] sindhu-r opened #675 "Feature Flag API not returning updated value on first call"
I have created an API for fetching feature flag from Azure. If we change a feature flag, the updated value is getting reflected only on the second API call.

But if we add a Task.Delay , updated or the changed value is getting in the first call itself

[HttpGet("Get")]
public async Task<ActionResult<FeatureFlag>> GetAllFeatureFlags()
        {

            await _configurationRefresher.TryRefreshA

[2022-08-22 21:39] zhenlan commented on #675
Given you have `await` for `TryRefreshAsync`, I do expect the data from App Configuration will be refreshed for the same call. Do you see regular key-values are updated or is it only about feature flags?

In most real-world apps, it doesn't really matter which requests (the first or second) get the refreshed data, so normally I don't recommend `await`, which potentially slows down your overall thr

[2022-08-23 13:13] sindhu-r commented on #675
Even if I removed TryRefreshAzync , and update a feature flag the changed data not reflecting on the first API call.
I have created feature flag with no labels.

 .UseFeatureFlags(featureFlagOptions => {
                       featureFlagOptions.CacheExpirationInterval = TimeSpan.FromSeconds(1);
                       featureFlagOptions.Label = LabelFilter.Null;
                   })

[2022-08-23 14:35] lissdy opened #676 "How to delete key-value with configure as code deployment"
We are adopting configuration as code deployment to make sure configurations are managed under version control.
But the question is, some configurations are JSON array,
AAC keys are expressed as
Test:Setting:0, Test:Setting:1

it works well for add, update. But if  Test:Setting:1 is deleted in configuration file, how to delete AAC related key-value with configuration as code model?

[2022-08-23 17:27] drago-draganov commented on #676
Please use JSON based configuration settings for JSON arrays.
https://docs.microsoft.com/en-us/azure/azure-app-configuration/howto-leverage-json-content-type

That allows arrays to be expressed in a singular form:

Test:Setting -> ["a", "b", "c"]

_Update of the array simply means to replace the value_

instead of .NET Config specific binding.

Test:Setting:0 -> "a"
Test:Setting:1 -> "b"
Test:Sett

[2022-08-24 05:36] lissdy commented on #676
Thanks for replying, appending and updating work well.
But If I need to remove the last item Test:Setting -> ["a", "b", "c"] to Test:Setting -> ["a", "b"] and import the configuration file again, Test:Setting:2 -> "c" still exist in AAC.
Any suggestion to handle deletion?