[2019-01-23 23:54] jimmyca15 opened #1 "Portal: App Configuration Hubs are listed as "Configuration Stores""
![image](https://user-images.githubusercontent.com/21000428/51645007-49522900-1f40-11e9-8533-64616c626493.png)

All the documentation for App Configuration Hubs calls the resource by that name. However in the portal when we sort by resource type it says Configuration Stores.

[2019-01-23 23:58] jimmyca15 opened #2 "Portal: Filtering key-values by date doesn't allow the date format used in key-values."
![image](https://user-images.githubusercontent.com/21000428/51645133-d9906e00-1f40-11e9-8bab-2db176f7a727.png)

The portal show's last modified in a form like "12/14/2018, 15:33:39", but If I put this in the date time filter field then I get an error.

[2019-01-24 00:04] jimmyca15 opened #3 "Portal: Apply needs to be clicked twice when changing the date time filtering value."
When I change the date time filter value, I must click apply twice in order for the filtering to work.

![image](https://user-images.githubusercontent.com/21000428/51645298-ac908b00-1f41-11e9-8137-9c265fba6c18.png)

[2019-01-24 00:09] jimmyca15 opened #4 "Portal: Loading prompt is duplicated."
![image](https://user-images.githubusercontent.com/21000428/51645469-730c4f80-1f42-11e9-84ca-7bfe5d73fae0.png)

As can be seen a loading info bar is duplicated on the portal. It also has a typo. Should be "3 item(s) with 3 key(s) **have** been loaded."

[2019-01-24 18:34] jimmyca15 opened #5 "CLI: Unexpected error message when store doesn't exist."
I tried to list revisions of a configuration store with the CLI and I happened to type in the wrong name for my configuration hub. The CLI replied with the following error:

`Cannot find connection-string of the configuration hub jimmyca-wcus.`

I found this slightly odd because it makes it seem like the CLI is having trouble accessing my hub, when in **reality** the hub I specified **did not exis

[2019-01-24 19:23] jimmyca15 opened #6 ".NET Core provider: Selecting only empty label key-values is unclear."
Some of the key-values in my configuration store's have multiple labels. For example I have the key-value "abc" which exists with an empty label and also with a label named "someLabel".

I wanted to use the .NET Core config provider to query the key-values with an empty label. For some reason I was expecting key-values with a null label to always take priority. What I found was that when I accesse

[2019-01-24 23:59] #1 closed, assigned to mlacouture

[2019-01-25 00:43] mlacouture opened #7 "Portal: Key/value explorer time filter should not allow for future dates"
The date filter is meant to show a snapshot of the keys (the value of the key at this point), it doesn't make sense for future dates as we can't tell what the future holds :)

![image](https://user-images.githubusercontent.com/7647255/51717750-fbe4c300-1ff6-11e9-926a-788fba719259.png)

[2019-01-25 00:47] mlacouture opened #8 "Portal: improve key/value explorer time filter title to better convey what this is about"
It is hard to understand what "at time" means, I first thought it meant "at creation time", then "at modified time" but it is about how the key looked at "a specific time". Maybe a informational icon with a tooltip explaining would do

![image](https://user-images.githubusercontent.com/7647255/51717914-ab219a00-1ff7-11e9-9b46-b3f838947cc3.png)

[2019-01-25 01:00] mlacouture opened #9 "Portal: Import/Export feature: should the import operation offer an option to overwrite existing key?"
Currently, keys would get overwritten w/o a prompt.

[2019-01-25 01:07] mlacouture opened #10 "Portal: import/export: Import completion message provides unclear information that seems to come from the service"
![image](https://user-images.githubusercontent.com/7647255/51718436-094f7c80-1ffa-11e9-9067-45f51058d3cf.png)

41.45 KiB | "Streaming upload" // is this Kibibyte? the message is not clear.

[2019-01-25 01:14] mlacouture opened #11 "Portal: Import/Export: Should the import operation block any further imports?"
When the import operation starts, the import/export blade is disabled for the duration of the operation.  However, if you go to another blade and then back the import/export blade is enabled and you can perform another import operation.  This seems a bug to me, if we are disabling the blade we should not allow for another operation.  Also, this is likely to be a source of race conditions.

![image

[2019-01-25 01:16] mlacouture opened #12 "Portal: Import/Export: Operation can not be cancelled."
We should provide a way to cancel the import/export operations.

[2019-01-25 01:50] mlacouture opened #13 "Portal: Pagination feature seems to load too much data per page or too many pages."
Currently the feature loads 500 records.  The PgDn keyboard button jumps about 10 records so in order to move to the end of the loaded records you would have to hit the button 50 times.

Just as a reference, for Amazon orders you need to hit the PgDn button 3 times to get to last loaded record.

[2019-01-25 01:53] mlacouture opened #14 "Portal: Import/Export feature won't round-trip"
You can import a full set of keys but you can only export specific keys, this is limited by the label filter which is populated with a default value (cannot be empty).

[2019-01-25 22:05] Yiming-Jia opened #15 "Docs: ASP.NET core provider"
https://review.docs.microsoft.com/en-us/azure/app-configuration-hubs/quickstart-aspnet-core-app?branch=pr-en-us-63864#create-an-app-configuration-hubs-instance

Under section No.5, ```Endpoint=<service_endpoint>;Id=<hub_id>;Secret=<secret_key>=```, should remove last ```=```.

Under section No.6, change ```Data from an App Configuration Hub``` to ```Data from an App Configuration Hubs```

[2019-01-25 23:26] Yiming-Jia opened #16 "Docs: ASP.NET Core github doc not up-to-date"
Please update the doc: https://github.com/Azure/Azconfig-DotnetProvider#examples

[2019-01-26 00:52] shenmuxiaosen opened #17 "Docs:ASP.NET quick start doc incomplete instructions"
1. Under Create a .NET Framework console app project section:
https://review.docs.microsoft.com/en-us/azure/app-configuration-hubs/quickstart-dotnet-app?branch=pr-en-us-63864#create-a-net-framework-console-app-project

When creating a .Net Console App,  we should choose Visual C# > **Windows Desktop** instead of Visual C# > Windows Classic Desktop in visual studio 2017.
Also we should add comments

[2019-01-26 02:50] zhenlan opened #18 "Add a section in all quickstart docs to suggest to use Managed Identity"
We can suggest users that connecting through managed identity to ACH is supported if their application is deployed to other managed identity supported Azure services such as App Service, VM, Azure Container Instance etc. We can include a link to the doc that discusses our managed identity support in more detail.

[2019-01-29 00:47] shenmuxiaosen opened #19 "ASP.NET builder swallow exception flag "optional" doesn't work"
Regardless of the value of optional, exceptions are swallowed.
      `<add name="MyConfigStore" mode="Greedy" labelFilter="l1*"  optional="false" connectionString="wrongstring" type="Microsoft.Configuration.ConfigurationBuilders.AzconfigBuilder, Microsoft.Configuration.ConfigurationBuilders.Azconfig" />`

For example, when we use a wrong connection string, or in labelFilter it contains "*" or ","

[2019-01-29 01:54] #11 closed, assigned to nobody

[2019-01-29 01:58] #12 closed, assigned to nobody

[2019-01-29 02:02] #14 closed, assigned to MSGaryWang

[2019-01-29 02:38] sophiaso opened #20 "Docs: Java - Quick start search by "app configuration hub" found no result"
On the [quickstart-java-spring-app](https://review.docs.microsoft.com/en-us/azure/app-configuration-hubs/quickstart-java-spring-app?branch=pr-en-us-63864), it's written as search "App Configuration Hub", but configuration service is not found when I am searching with this key word.

![image](https://user-images.githubusercontent.com/3401820/51880394-0ebe1580-23b2-11e9-85cc-7cd2381bf6d2.png)

[2019-01-29 02:42] sophiaso opened #21 "Docs: Java - properties in bootstrap.yaml has incorrect indention in quick start"
On the [quickstart-java-spring-app](https://review.docs.microsoft.com/en-us/azure/app-configuration-hubs/quickstart-java-spring-app?branch=pr-en-us-63864), "Configure your app with App Configuration Hubs dependency" section, step 6, `bootstrap.yaml` is written as:
[code]

[2019-01-29 02:49] shenmuxiaosen opened #22 "ASP.NET builder dependencies mismatch"
The current version of asp.net builder (1.0.0-preview10124) has a dependency of Microsoft.Configuration.ConfigurationBuilder.Base(>=1.0.0-preview10124)

![image](https://user-images.githubusercontent.com/17617627/51880058-b55ed380-232a-11e9-82a2-609194e3fde8.png)

But when we built the project, it will throw an ConfigurationErrorException complaining about the ConfigurationBuilder.Base version to

[2019-01-29 03:12] sophiaso opened #23 "Portal: Import/Export Java(Spring Cloud) scope does not include other Spring cases"
Not sure whether it's by design, but `properties` can be also used in Spring application or Spring Boot application, prefer to use Java(Spring).

[2019-01-29 22:43] zhenlan opened #24 "Portal: We should add a text indicating the connection string and key type/value should be presented in a fixed order (Primary, Secondary)"
We should have "Connection String" in front of the connection string box.
![image](https://user-images.githubusercontent.com/10566826/51945513-c9aadb00-23d3-11e9-9294-7dd66a34fc2c.png)

In addition, in the screenshot above, the "Secondary" comes before the "Primary", which sounds like another bug.

[2019-01-30 22:49] #17 closed, assigned to shenmuxiaosen, yegu-ms

[2019-01-31 22:43] mlacouture opened #25 "Docs: Quickstart - Create a .NET Core app: the example is about a console app but it refers to an ASP.NET Core MVC Web App"
![image](https://user-images.githubusercontent.com/7647255/52090540-846ae280-2566-11e9-838a-5c3db66aefde.png)

[2019-01-31 22:47] zhenlan opened #26 "Change (empty) label to (no label)"

[2019-01-31 22:55] mlacouture opened #27 "Docs: Tutorials: Code Samples link is broken"

[2019-01-31 23:06] mlacouture opened #28 "Docs (Design): Should the key "label" be changed to "version"?"
The fact that we need to use "version" to explain what a label is seems to indicate it should be called version.

![image](https://user-images.githubusercontent.com/7647255/52091592-c5182b00-2569-11e9-9bb1-0cdf3489dfb0.png)

Label is quite confusing, it seems more like "tag" … observe the docs

![image](https://user-images.githubusercontent.com/7647255/52091410-31465f00-2569-11e9-8790-e653edfdc727

[2019-02-01 01:52] recao opened #29 "Portal: after user types in an existing label, he must select again, otherwise reverts to Empty"
When user creates a new KV on Portal, after he/she types in an existing label, the user must select the label again with mouse, otherwise the label would revert to Empty by default, hence causing user miss-config potentially.

1) User types in an existing label, now he/she must select again with mouse:

![image](https://user-images.githubusercontent.com/20957260/52097559-6316f000-2580-11e9-906b-1a

[2019-02-01 02:00] recao opened #30 "Add "clear filters""
After user specified a filter, if he wants to remove filters and see current config, he must refresh the entire Web page, or click another section in Portal and come back again:

![image](https://user-images.githubusercontent.com/20957260/52097893-9c9c2b00-2581-11e9-84b0-831f65add469.png)

It would be great if we have a "clear filter" button that removes filters, so that user could check current c

[2019-02-01 02:18] recao opened #31 ""Compare" shows partial key-values"
When user compare two configuration hubs, the page would list ALL key-values, which has two problems when KV number > 500 :
1) page & operations become very laggy
2) user needs to scroll all the way down to find the keys with different value

![image](https://user-images.githubusercontent.com/20957260/52098543-4086d600-2584-11e9-9054-e00fef1cf45a.png)

user has to scroll to very bottom to see ever

[2019-02-01 02:23] recao opened #32 "Importing performance"
Currently importing takes 1min for every 500 KVs, which is a bit long for people in front of monitors. Potential performance improve?

Experiments:
10 -> 2s
100 -> 10s
200 -> 23s
500 -> 1min
1000 -> 2min

[2019-02-01 02:36] recao opened #33 "Invalid JSON could also be imported"
Our current JSON Parser allows importing invalid Json.

Valid JSON:
{ "key": "value" }

Invalid JSON that we still imports successfully:
{ "key" : value }
{ "key" :  }
{ key }
{ : }

We should add a validator before our JSON parser starts parsing.

[2019-02-01 02:49] recao opened #34 "when exporting configs, user has to select a separator even it doesn't have one"
When user exports configs on Portal, even if the config is a flat json with no separator, he must select a one on the list, which is confusing:

![image](https://user-images.githubusercontent.com/20957260/52099639-dae91880-2588-11e9-8a23-2320cd6d570a.png)

[2019-02-01 05:07] #22 closed, assigned to StephenMolloy

[2019-02-01 16:37] #27 closed, assigned to yegu-ms

[2019-02-01 16:50] #18 closed, assigned to yegu-ms

[2019-02-01 16:53] #25 closed, assigned to yegu-ms

[2019-02-01 19:20] shenmuxiaosen opened #35 "Docs: MSI integration for different frameworks"
In the Quickstarts sections there are five pages each for different frameworks. At the end of every page there is a link to msi integration tutorial, which only shows how to do that for DotNet Core provider. https://review.docs.microsoft.com/en-us/azure/app-configuration-hubs/quickstart-dotnet-app?branch=pr-en-us-63864#next-steps
There should be different pages for DotNet Full framework builder an

[2019-02-01 19:27] #19 closed, assigned to StephenMolloy

[2019-02-01 20:07] #20 closed, assigned to mlacouture

[2019-02-01 20:09] #10 closed, assigned to mlacouture

[2019-02-05 00:09] zhenlan opened #36 "Failed to watch a non-existing key in a Java spring app"
I got the error below when watching (`spring.cloud.azure.config.stores[0].watched-key`) for changes of a not-yet-created key.
[code]
All 3 scenarios below should be considered as valid
1. A watched key does not exist and it is created after the app started
2. A watched key is an existing key and its value is changed after the app started
3. A watched key is an existing key and it is deleted after

[2019-02-05 02:59] #16 closed, assigned to zhenlan

[2019-02-05 03:01] #6 closed, assigned to Yiming-Jia

[2019-02-05 22:56] x9xu opened #37 "Docs: some confusion points with MSI doc part of "Add a managed identity to your App Service""
Contents from doc (https://review.docs.microsoft.com/en-us/azure/app-configuration-hubs/integrate-azure-managed-service-identity?branch=pr-en-us-63864#configure-your-app-to-use-a-managed-identity)
"Add a managed identity to your App Service
To set up a managed identity in the portal, you will first create an application as normal and then enable the feature.
1 Create an app in the Azure portal as

[2019-02-06 23:33] x9xu opened #38 "Portal: add "at time" label above time fields"
On portal, when I was doing key value comparison, I was confused with time option since there is no text explaining what the field is. I would recommend adding text such as "at time" above the time field so that new user could figure out what the field represents for.

[2019-02-06 23:54] #13 closed, assigned to mlacouture

[2019-02-06 23:54] #8 closed, assigned to mlacouture

[2019-02-06 23:55] #7 closed, assigned to mlacouture

[2019-02-06 23:55] #4 closed, assigned to mlacouture

[2019-02-07 03:02] #38 closed, assigned to mlacouture

[2019-02-08 03:25] #24 closed, assigned to mlacouture

[2019-02-16 01:26] #23 closed, assigned to MSGaryWang

[2019-02-16 01:26] #26 closed, assigned to MSGaryWang

[2019-02-16 01:28] #34 closed, assigned to MSGaryWang

[2019-02-16 01:29] #21 closed, assigned to yegu-ms

[2019-02-16 01:30] #5 closed, assigned to shenmuxiaosen

[2019-02-25 16:23] #15 closed, assigned to yegu-ms

[2019-02-25 16:27] #37 closed, assigned to yegu-ms

[2019-02-26 02:42] #35 closed, assigned to yegu-ms

[2019-02-26 17:34] #36 closed, assigned to sophiaso

[2019-02-28 18:42] jimmyca15 opened #40 ".NET Core provider: The preferred date time feature may throw an invalid header exception for some cultures"
The preferred date time feature of the AzureAppConfiguration configuration provider formats date times using the current thread culture and tries to add this formatted date to an HTTP header. This causes cultures such as japanese that use non-ASCII characters to represent the current day to throw an `HttpRequestException` (`"Request headers must contain only ASCII characters."`)

## Repro
[code]

[2019-03-01 04:00] zhenlan commented on #28
Will stick with "label" for now.

[2019-03-01 04:00] #28 closed

[2019-03-01 23:48] maririos opened #41 "Error in docs.microsoft for add package reference"
Following the instructions in https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-dotnet-core-app, when doing:
[code]
I get the following error:
[code]

My dotnet version is `2.1.504`

The way to make it work is to explicitly add the version that is defined in [NuGet](https://www.nuget.org/packages/Microsoft.Extensions.Configuration.AzureAppConfiguration/1.0.0-preview-0078300

[2019-03-01 23:52] maririos opened #42 "Add using statements to C# example in docs.microsoft"
Following the instructions in https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-dotnet-core-app, when doing step #3 of `Connect to app configuration store`, it will be good to also point out that the user needs to add the corresponding using statement in the file, for the application to compile.

By just following the instructions, the user will get the error:
[code]

Accor

[2019-03-02 01:51] zhenlan commented on #42
Good feedback. Thanks, @maririos.

@yegu-ms can we update the doc accordingly?

[2019-03-02 01:52] zhenlan commented on #41
Good catch. Thanks, @maririos.

@yegu-ms can we update the doc accordingly?

[2019-03-10 04:41] kamalsivalingam opened #43 "Duplicate Keys with different Labels"
If I add two entries with the same Key but different value and Label, I am not able to access these duplicate Keys from the .Net Core App/Azure Function.

What is the use of Label? Is this similar to Version?
If that is the case, still shouldn't all the Keys with different values still be accessible?

[2019-03-10 04:47] kamalsivalingam opened #44 "Future of VSTS Variables"
We have been using VSTS Variables heavily to store configuration for some of our microservices.
There is a huge limitation that when a configuration is incorrect, we would have to redeploy the microservice, since VSTS variables are tightly coupled with deployment.

We see a huge breakthrough with App Configuration. How do we manage configuration across different environments like QA/UAT/Production

[2019-03-10 19:27] zhenlan commented on #43
Thanks for trying this out @kamalsivalingam.

By default, the config provider of the App Configuration will load keys with no labels for simplicity. When labels are used, they can be loaded with the `Use` function. The example below loads all keys with the label `mylabel`.
[code]
Labels provide an extra dimension to key-values, so each key can have multiple values at the same time. It can be used

[2019-03-10 23:09] kamalsivalingam opened #45 "Offline Cache"
We are building many microservices that might depend on Service Registry based Key Value Store. We originally thought of using either Consul from HashiCorp or use VSTS as the store since it has release variables.
However We are now thinking of using AppConfiguration for that purpose.,
Since this is going to be central configuration store, we do not want our services go kaboom when the AppConfigura

[2019-03-11 18:28] zhenlan commented on #45
Hi @kamalsivalingam, yes, the idea behind the offline cache is to save a last known good (LKG) copy of config that the application requested previously to the local environment of the user's application, so the application can still use LKG config when unexpected happens (for example, a network hiccup at the application start-up).

However, the users' application environments can be very different

[2019-03-11 18:51] kamalsivalingam commented on #45
This is Awesome :..All the problems we wanted to solve using custom implementation is already taken care
:100:

[2019-03-11 22:37] sjwaight opened #47 "Provide a Consul compatible API"
Consul is a great open source, platform agnostic offering that is popular with many folks. In the same vein as the Cassandra API capability provided by Cosmos DB it would be great if App Configuration provided a Consul compatible API so existing (or new) app components could leverage Consul clients but benefit from the backend power of App Configuration.

[2019-03-12 18:11] yegu-ms commented on #44
Hi @kamalsivalingam,

Our App Configuration service is designed specifically for your scenario. There are a number of ways to set up multiple environments in our service. Using label is what we recommend. I can't comment on the future of VSTS variables. We always have customers who need something different. :)

[2019-03-12 20:48] mlacouture commented on #47
@sjwaight, thank you for your suggestion, we'll consider it when prioritizing the enhancements to be added to the service.

[2019-03-14 00:54] drago-draganov commented on #44
@kamalsivalingam,

While it's certainly possible to utilize Labels as deployment environment filter, keep in mind that the access to App Configuration is singular - access to the App Configuration assumes access to all key-value entries.
A good security practice is to limit the exposure (read/write) of production settings only to the parties that require such.  One option is to utilize different A

[2019-04-01 17:38] zhenlan commented on #41
Fixed

[2019-04-01 17:38] #41 closed

[2019-04-01 17:43] zhenlan commented on #42
Fixed.

[2019-04-01 17:43] #42 closed

[2019-04-01 17:46] #43 closed

[2019-04-01 17:48] #45 closed

[2019-04-19 20:30] Abhra1992 opened #48 "Portal: Bulk Delete Configuration"
How does one delete config keys in bulk? Or clear/reset the entire config store?
I tried importing a blank file but it did not work.
Can we have a documented way to do this either via portal or REST API?

[2019-04-20 02:49] zhenlan commented on #48
Thanks for the feedback @Abhra1992.

You can use Azure CLI (install with `az extension add -n appconfig`) to delete in bulk. For example, the command below clear the entire config store.
[code]
You can use `--key` and `--label` parameters to filter a subset of key-values you want to delete.

The Azure portal currently does not provide a way to delete key-values in bulk.

[2019-04-20 13:13] osudude opened #49 "Can AppConfiguration be used with Azure VNET (directly or service endpoint)?"
If not, are there plans to add this functionality?

[2019-04-21 18:59] zhenlan commented on #49
Hi @osudude, the AppConfig service does not support Azure VNET currently, but it is definitely on our roadmap. Is this a blocker for you?

[2019-04-21 20:11] osudude commented on #49
No, just unfortunate.  Will have to stick with app service environment variables 😱

[2019-04-21 20:11] #49 closed

[2019-04-23 01:47] zhenlan commented on #49
In case anyone comes across this thread in the future and have the same request, please vote at
https://feedback.azure.com/forums/920545-azure-app-configuration/suggestions/37430311-allow-vnet-integration-support

[2019-04-23 17:49] osudude opened #50 "How to report on key use?"
It would be helpful if we could report on the last time a given key / keys were used and from what user / ip address.  Is there any way to accomplish this?

[2019-04-23 19:11] drago-draganov commented on #50
@osudude

Can you provide some details on how do you see such feature serving you? Is it from auditing/security prospective or do you have something else in mind?

[2019-04-23 22:00] osudude commented on #50
Over time we will want to retire settings in favor of new settings but need to see who (if anyone) is still using a given key.   Usage report can show us the apps / users that are still using a given key. We can contact that team and instruct them to quit using that key and switch to a new key.

[2019-04-23 22:24] drago-draganov commented on #50
Thanks, @osudude. We also think that tracking stale configuration is important and we are looking at  related issues.
Technically, we can provide the last-accessed time, but I'm concern that it may not be enough to solve the root problem. Applications (as well as portal/cli/ci-cd, etc.) will most likely request key-values at bulk (ex: get all keys that start with '/myservice'). It doesn't directly

[2019-04-23 22:38] osudude commented on #50
One way I have seen the bulk retrieval tackled in similar apps,  have keys that can be assigned to one or more assigned packages (container).  The consumer then resolves settings through packages of keys.

[2019-04-24 05:49] SeanFeldman opened #51 "A key with leading/trailing space creates a "duplicate" that is hard to distinguish"
I had both a key `"Slack:ReportWebHook"` and a key `" Slack:ReportWebHook"`. In portal, they are indistinguishable unless use Azure CLI to get the keys exported as JSON with values surrounded in double quotes.

![image](https://user-images.githubusercontent.com/1309622/56635267-4390e000-6622-11e9-8e7c-3dae8e9846f6.png)

[2019-04-24 05:50] SeanFeldman opened #52 "Search should not be case-sensitive"
Search by key should be not case-sensitive. Assumption should be that when a search by a pattern is performed it's likely because one doesn't remember the exact key or casing.

[2019-04-24 05:51] SeanFeldman opened #53 "Enter key in the search pattern should perform the search."
<kbd>Enter</kbd> key in the search pattern should perform the search. No need to force customers to use the mouse to click "Apply" button or tab several times to reach the button.

[2019-04-25 04:20] zhenlan commented on #53
@SeanFeldman, good suggestion. Thank you!

[2019-04-25 04:31] zhenlan commented on #52
@SeanFeldman, you have a good point. The App Configuration service is a case-sensitive config system, so all operations are *case-sensitive* at this point. Supporting *case-insensitive* searching requires the service to be updated to support this functionality. We will consider this in our future improvement. Thanks for the feedback!

[2019-04-26 09:47] RehanSaeed opened #54 "Feature Parity with Azure Key Vault"
Does Azure App Configuration have the following features and if not are they planned:

1. ARM template to create an Azure App Configuration.
2. Create settings in Azure App Configuration from an ARM template. Similar to how Key Vault can.
3. Refer to Azure App Configuration settings from Azure DevOps.

[2019-04-26 21:35] drago-draganov commented on #54
@RehanSaeed

These are planned and in progress.

[2019-04-28 06:28] dawwa opened #55 "What would be the possible reason for null returned value for the configuration item?"
**Question**:
I was following the tutorial, but get NULL returned value, wondering how to troubleshoot it and what would be the possible reason for it?
Please see the screenshot that shows the null property value in the injected object at HomeController ctor, if I put the following line to resolve the registered config, it is also has null value for the LUIS_ENV property.

            // TBD: Cann

[2019-04-29 13:46] TheReaLee opened #56 "Would it be possible to remove prefixes upon configuration bind?"
`config.AddAzureAppConfiguration(options =>
                    {
                        options.ConnectWithManagedIdentity(appConfigEndpoint)
                        .Use("AppName:Service1:*","Production")
                        .WatchAndReloadAll("AppName:Service1:Trigger", "Production", watchPolingInterval)
                        .RemovePrefix("AppName:Service1");
                    });`

.

[2019-04-29 17:16] zhenlan commented on #56
@TheReaLee, I think this is a good suggestion. Thanks!

I am thinking of an API something like this
[code]
Unlike `keyFilter`, anything specified as "prefix" will be stripped out automatically.

[2019-04-29 17:40] jimmyca15 commented on #55
There are a few moving pieces here that all would need to be inspected to ensure that we know what the issue is, but from a glance it looks like you should be calling `services.Configure<DynamicSettings>(this.Configuration.GetSection("DynamicSettings")` rather than `services.Configure<DynamicSettings>(this.Configuration.GetSection("DynamicSettings:LUIS_ENV")`

Can you provide the code where you ar

[2019-04-29 18:38] SeanFeldman opened #57 "Expand a key with multiple labels by click on the key name"
In the portal, to expand a key with multiple labels, one has to click the arrow. Please allow clicking the name to do so.

[2019-04-29 18:40] SeanFeldman opened #58 "Overview blade to show Key-Value explorer"
Most often than not I'm going to the AppConfig service to manage/look-up keys and values. The default `Overview` blade is not useful and I always end up navigating to the `Key-Value Explorer` blade. So fill the `Overview` blade space with `Key-Value Explorer`.

[2019-04-30 00:50] dawwa commented on #55
Thanks @jimmyca15

[2019-04-30 02:37] dawwa commented on #54
Vote on this, also please make an example of how to reference the access key and endpoint string in the ARM template, so that we can assign the value to an environment variable of the app service. Such as how we similarly do for assigning the app insights instrumentation key.

"APPINSIGHTS_INSTRUMENTATIONKEY": "[reference(resourceId('microsoft.insights/components', parameters('appInsightsName')),

[2019-04-30 02:38] #55 closed

[2019-04-30 02:57] zhenlan commented on #58
Thanks for the feedback, @SeanFeldman. I know the overview page is pretty empty today so it feels reasonable to just put key-values there. At some point, I think we will want to put usage and other statistical information there just like other Azure services, so it won't be empty and may look weird to see key-values in the overview page.

[2019-04-30 03:05] zhenlan commented on #57
Sounds like a good suggestion to me. Thanks, @SeanFeldman. We could even hide/unhide value when the value is clicked, not sure if this is doable by the portal SDK or whether this violates Accessibility requirements though.

cc: @mlacouture @MSGaryWang for their opinions

[2019-04-30 10:15] dawwa opened #59 "Unhandled Exception: What Role Assignment to the MSI for accessing Configuration store?"
The [doc ](https://docs.microsoft.com/en-us/azure/azure-app-configuration/howto-integrate-azure-managed-service-identity)suggested contributor role, but I even tried Owner role, but still seems getting the following error. The App Service does already have the A system assigned managed identity (MSI).

Unhandled Exception: System.AggregateException: One or more errors occurred. (**The specified us

[2019-04-30 15:59] mlacouture commented on #57
Yes, this is a good suggestion.  We'll look into it.

[2019-04-30 22:07] dawwa commented on #59
Seems like it has to be exactly Contributor Role. Closing the issue.

[2019-04-30 22:07] #59 closed

[2019-05-01 00:58] drago-draganov commented on #54
@dawwa

I will update the thread here with the official documentation links once available. We share the importance of detailed and easy to follow examples of how to utilize App Configuration as reference in ARM templates.

Stay tuned. Thanks!

[2019-05-02 06:06] David-Stark opened #60 "Use App configuration as a feature toggle service?"
Hello!

With a high chance that this question sounds like a stupid one.

How well will App Configuration work as a simple feature toggle service? We look for a service that can help us to toggle a feature without we have to restart our app.

Thanks in advance

[2019-05-02 17:05] yegu-ms commented on #60
@David-Stark App Configuration can be used to store feature toggles as configuration data. You'll need to do some work to consume the data as toggles in your application. We'll be releasing specific support for this use case very shortly. Please stay tuned! :)

[2019-05-02 23:00] c-owens commented on #54
@dawwa I worked out how to get the connection string as output from an ARM template for the current preview API: [appConfigTemplate.json](https://gist.github.com/c-owens/74ab96f669c764e4073b7c8af6522ab5)

[2019-05-03 05:22] David-Stark commented on #60
Sounds great!

Thanks for the fast response =)

[2019-05-04 06:20] dawwa opened #61 "Initial Configuration is not loaded at the first shot"
**Step 1:**  Add a configuration MySetting=1 from Azure Portal
**Step 2:**  Started the application and wait until fully loaded, observed MySetting is null
**Step 3:**  Wait 30 seconds and check the MySetting value, it is still null
**Step 4:**  Change the configuration to MySetting=0 from Azure Portal and wait for 30 seconds
**Step 5:**  Mysetting reads 0 now

**Problem:**
You can see the Step#4

[2019-05-04 07:11] zhenlan commented on #61
@dawwa could you please share the code snippet (remove connection string) that is related to how you consume the app config store?

[2019-05-06 04:22] dawwa commented on #61
@zhenlan, pretty much like what the tutorial does.
[code]

[code]

[2019-05-06 22:40] Yiming-Jia commented on #44
Hello @kamalsivalingam ,

We just published our VSTS extension, [Azure App Configuration](https://marketplace.visualstudio.com/items?itemName=AzureAppConfiguration.azure-app-configuration-task), in the VSTS marketplace. The extension is in preview mode now.

With the extension, you can add it into your build/release pipelines, and it will pull the configurations from your App Configuration and set

[2019-05-07 05:44] zhenlan commented on #61
Hi @dawwa, when the value of the `labelFilter` parameter is not provided, the [`Use(keyFilter, labelFilter)`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.configuration.azureappconfiguration.azureappconfigurationoptions.use?view=azure-dotnet-preview) function will use *null label (no label)* as the default value. Therefore, in your code, you only load keys with no label for app

[2019-05-07 05:57] zhenlan commented on #56
After some discussion with @drago-draganov, he convinced me a dedicated API to remove the prefix is actually a better idea (@TheReaLee's original suggestion 👍).
- It can be called multiple times in the chain to remove different prefixes
- Decoupling the key filtering and the prefix to trim provides better flexibility

Here is the proposed API
[code]

[2019-05-07 06:01] TheReaLee commented on #56
@zhenlan sounds perfect! Thanks for looking into it.
When are you planning to release it?

[2019-05-08 03:42] zhenlan commented on #56
@TheReaLee, there are a few other changes I'd like to have before we roll out another release, but this shouldn't take too long.

[2019-05-08 03:49] zhenlan commented on #60
@David-Stark we just rolled out feature management support. Plesae check it out.
https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-feature-flag-aspnet-core

Any feedback is welcome.

[2019-05-08 03:51] #44 closed

[2019-05-08 05:14] zhenlan commented on #40
This issue is fixed in the recent release of version **1.0.0-preview-008520001**
https://www.nuget.org/packages/Microsoft.Extensions.Configuration.AzureAppConfiguration

[2019-05-08 05:14] #40 closed

[2019-05-08 05:20] zhenlan commented on #53
This works now in a new update of the portal this week. After inputting *key* filter, the `enter` key will trigger the `Apply`.

[2019-05-08 05:20] #53 closed

[2019-05-08 05:28] SeanFeldman commented on #51
Just noticed it's been fixed. Thanks!
![image](https://user-images.githubusercontent.com/1309622/57351611-cab07e80-711f-11e9-9bf2-cefd01eb5eec.png)

[2019-05-08 05:31] zhenlan commented on #51
Yes, this is fixed in the update of the portal this week too. Thanks for your feedback and keep them coming 😄.

[2019-05-08 05:31] #51 closed

[2019-05-08 05:35] #58 closed

[2019-05-08 05:45] zhenlan commented on #54
We just had a release of Azure DevOps pipeline task that will download key-values to build/release pipeline task variables from Azure App Configuration. Please check it out. Feedback is welcome.
https://marketplace.visualstudio.com/items?itemName=AzureAppConfiguration.azure-app-configuration-task

[2019-05-08 06:06] zhenlan commented on #29
This is fixed in the portal update this week.

[2019-05-08 06:06] #29 closed

[2019-05-09 05:14] zhenlan commented on #60
@chris-eg that's a reasonable scenario. Yes, we will allow labels for feature management just like key/values.

[2019-05-09 05:16] #61 closed

[2019-05-09 17:19] #60 closed

[2019-05-10 21:31] dawwa commented on #61
@zhenlan, thanks for the details, and what you suggested perfectly resolve my issue. : )

[2019-05-13 08:55] arkiaconsulting opened #62 "Referencing configuration as in Key Vault References"
What about offering the opportunity to reference App Configuration values the same way we can do with [Key Vault References](https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references).

Key Vault: @Microsoft.KeyVault(SecretUri=https://myvault.vault.azure.net/secrets/mysecret/ec96f02080254f109c51a1f14cdb1931)

App Configuration: @Microsoft.AppConfiguration(ConfigurationUri

[2019-05-14 19:14] drago-draganov commented on #62
@arkiaconsulting,

It's great suggestion indeed! My understanding is that specific reference is only applicable for Azure App Services/Azure Functions. Nevertheless, we should work with these respective teams to help App Configuration feel native across Azure.

[2019-05-14 20:16] arkiaconsulting commented on #54
@dawwa And if you need the endpoint, you can have a look at [this](https://github.com/arkiaconsulting/feature-toggling/blob/master/Resources/tf/arm/app-config.json)

[2019-05-15 14:57] shibayan opened #63 "AspNetCore: Specify multiple features with "feature" tag helper"
I want it to have the same functionality as the `environment` tag helper built-in ASP.NET Core.

https://docs.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/built-in/environment-tag-helper?view=aspnetcore-2.2
https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/Mvc.TagHelpers/src/EnvironmentTagHelper.cs

The `name` attribute is not listed in intellisense, so please fix it as well.

[2019-05-15 23:02] jimmyca15 commented on #63
Thanks @shibayan, it's a great suggestion! We can include this in our next release.

[2019-05-17 20:22] calloncampbell opened #64 "Feature Management for all frameworks"
This is a great feature and I'm wondering if Feature Management will come to the other framework (.NET Core, .NET, Azure Functions, Java)?

[2019-05-17 23:53] zhenlan commented on #64
Thanks, @calloncampbell. The short answer is yes, we do plan to make it available to all popular frameworks.

Please note, the `Microsoft.FeatureManagement` is a .NET Standard library, which means it already can be used in ASP.NET Core, .NET Core, .NET Framework and Azure Functions written in .NET.

[2019-05-19 15:47] ddobric opened #65 "Config value invisible"
Every time I create a config value with TAG and not specified CONTENTTYPE, configuration value cannot be read by .NET Core client.

Example: Read all config values:
[code]

Missing value is AAA:
![image](https://user-images.githubusercontent.com/1756871/57984627-fad01980-7a5d-11e9-9231-88a38318a6e2.png)

Not sure what exact behaviour should be. Do we need to specifiy content type or it is optional

[2019-05-21 20:41] giggio opened #66 "How much is Microsoft.FeatureManagement.AspNetCore tied to Azure?"
The `Microsoft.FeatureManagement.AspNetCore` package points to this repo as the source. It is not clear if this package is supposed to be used only with Azure AppConfiguration, or as a generic package for feature management. Would you please clarify?

[2019-05-22 02:31] jimmyca15 commented on #66
@giggio

`Microsoft.FeatureManagement.AspNetCore` is decoupled from Azure App Configuration. It is built on top of .NET Core's `IConfiguration` system and can be used to it's full capabilities simply through the use of an appsettings.json file. It can be thought of as a thin layer on top of existing .NET Core framework packages.

Azure App Configuration exposes a .NET Core configuration provider i

[2019-05-22 03:04] zhenlan commented on #65
Hi @ddobric, the **ContentType** is _optional_ so is **Tag**. In your example, however, I noticed you had **label** `aaa` for the key `AAA`, so in your .NET Core code, you must specify label `aaa` for the key `AAA` to be loaded. Please check out https://github.com/Azure/AppConfiguration/issues/43#issuecomment-471335983 for more details.

Please let me know if this solves your issue.

[2019-05-22 03:07] #64 closed

[2019-05-22 18:11] grahamehorner opened #67 "Q: using FeatureManagement with ApiExplorer and ApiVersioningExplorer"
I've been watching the live.asp.net community standard and was wondering how/if the FeatureManagement would be used and/or be supported in an Web API with/without versioning and things like Swagger/Open API documentation? or is FeatureManagement focused on MVC Razor View/Pages?

[2019-05-23 15:52] philcarbone opened #68 "Microsoft.FeatureManagement Feature-Based Injection"
Please consider adding the ability to inject based on a feature. For instance, If we had multiple versions of an algorithm and we wanted to toggle between versions 1, 2 and 3... We would prefer to implement this functionality in different classes, which implement the same interface. Then we would like to inject the proper implementation based on the feature.

**Code for feature implementation**
[c

[2019-05-23 18:39] jeenaabraham opened #69 "AppConfiguration Label Filter"
Is there an API to filter by label?

[2019-05-23 18:42] #69 closed

[2019-05-23 18:42] jeenaabraham commented on #69
KeyFilter.Any

[2019-05-23 20:49] Iscgx opened #70 "TaskCanceledException at System.Reactive, .Net Framework"
Hello all,

I'm facing some issue using the latest pre-release version of the .Net library (at the time of this writing 1.0.0-preview-0085200001). It appears to be specific to .Net Framework (using version 4.7.1) as I'm unable to reproduce it with the same code in .Net Core 2.1.

I'm using the [.Net Generic Host ](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/generic-host?view=asp

[2019-05-23 21:27] VaclavElias commented on #48
Is this something planned to be in UI? e.g. Checkboxes to select what I would like to delete?

[2019-05-23 23:42] dawwa commented on #70
Same here, we started getting this error this morning, and still happening.
Seems some service side issue?

Unhandled Exception: System.Net.Http.HttpRequestException: The operation was canceled. ---> **System.Threading.Tasks.TaskCanceledException: The operation was canceled.**
   at System.Net.Http.ConnectHelper.ConnectAsync(String host, Int32 port, CancellationToken cancellationToken)
   --- End

[2019-05-24 00:16] jimmyca15 commented on #70
Hello @Iscgx and @dawwa. This is currently a known issue with our provider that we are seeking to address. The watch capability does not retry at an adequate level when presented with transient network errors. Unfortunately, this causes the polling to stop when an exception like this occurs. Currently, there is no work around, the entire configuration object would have to be **created again** to k

[2019-05-24 00:40] jimmyca15 commented on #68
Hey Phil, I'm wondering how this would work when choosing between implementations when the features that enable them are all met. So far feature management is about enabling functionality, we don't have much of the notion of choosing between things. For example, with the current design it is very reasonable to expect an `IEnumerable<ISpecialFunctionality>` who's items will be populated based on th

[2019-05-24 03:04] philcarbone commented on #68
Hi @jimmyca15

Thanks for the response! I think what you are talking about makes sense... **Having a default where a feature can then override that functionality if turned on.**

For the software that I work with, we are usually enhancing a feature and performing dark launches. When we enhance the feature, we toggle between old and new functionality.

We've seen, in some toggle frameworks (e.g. La

[2019-05-24 03:11] philcarbone commented on #68
Another thought:
My team is trying to avoid using the toggles in control flow code (if-statements). I would prefer that we inject or use a technique that allows the feature-implementation to be decoupled from feature-toggle-logic. While also supporting the old/new toggle requirement as described in my previous post.

[2019-05-24 03:21] zhenlan commented on #48
Not planned, but we could if people find it useful to have the bulk deletion in the portal too.

[2019-05-24 08:32] VaclavElias commented on #48
Yes, it is difficult to say in the early stage if this is going to be desired. I am learning how this App Configuration works so I am adding and deleting. But once I learnt/set it up all as I want then probably I might not bother about deleting too much.

However, in this case I saw in App Service that you can edit All by clicking on Advanced Edit which opens configuration in json editor, so I cou

[2019-05-25 16:13] andrii-litvinov opened #73 "Observable feature flag values"
I just watched ASP.NET Community Standup from May 21st and I really like the idea to have standardized API for feature flags.

In our system we have backend services that don't expose any HTTP API but perform some asynchronous processing or execute tasks on schedule. And it is useful for us to have a notification mechanism for when feature flag value changes. For instance to enable or disable even

[2019-05-27 12:23] spatnaik77 opened #74 "Updated configurations are not getting refreshed in my application"
Hi - I am using the Java SDK. When i update a key value in portal, it does not reflect in my running application. I have set the following properties explicitly.

spring.cloud.azure.config.watch.enabled=true
spring.cloud.azure.config.watch.delay=10s

Thanks,
Siddharth

[2019-05-29 12:08] AhmedSa3d-MS opened #75 "Watch and WatchAndReloadAll doesn't work with labels and TimeSpan"
Hi,

I'm trying the connect to Config Explorer using connect(connectionstring)

and I wanted to watch a value and change the polling interval and set the label of what I want to reload , but then when I run the code, change the value I'm watching in the portal, I got task cancelled then the process crashes with a TaskCancelledException

options.Connect("").watchAndReloadAll("LastUpdated", "*Versio

[2019-05-29 17:15] zhenlan commented on #74
Hi @spatnaik77, sorry for running into this. Looks like our document may not be accurate. I will follow up.

Can you please try this instead (replace 'config' with 'appconfiguration')?

spring.cloud.azure.**appconfiguration**.watch.enabled=true

[2019-05-29 17:31] zhenlan commented on #75
Hi @AhmedSa3d-MS, you may run into an issue discussed in #70. We are reworking in this area and will fix this issue. Thanks for the feedback!

[2019-05-29 19:33] vany0114 opened #76 "Is there a way to updated some key/s thru the API?"
Hi guys,

I was wondering if is there a way to update the keys thru the REST API? I might want to update them from my app. I took a look at the API documentation but I haven't seen a resource to update keys, all of them are Get methods.

Thanks.

[2019-05-30 01:55] zhenlan commented on #76
Hi @vany0114, yes, all CRUD operations are supported through REST APIs. For example, please check out the `Set` and `Delete` operations of the `/kv` endpoint.
https://github.com/Azure/AppConfiguration/blob/master/docs/REST/kv.md

If you are using .NET, an SDK is also available for "write" operations.
https://go.microsoft.com/fwlink/?linkid=2092056

[2019-05-30 02:23] vany0114 commented on #76
Oops, I hadn't seen it. Thanks @zhenlan

[2019-05-30 02:47] zhenlan commented on #74
While we are fixing the documentation, here is the link of the doc for Java spring configuration provider.
https://go.microsoft.com/fwlink/?linkid=2074659

[2019-05-30 03:25] #76 closed

[2019-05-30 16:11] charleshamel73 opened #77 "Azure Pipeline Task for pulling configurations not maintaining case"
The Azure Pipeline Task which pulls app configuration does not maintain the case.
For example A key like Dev_Connection in App Configuration gets set as dev_connection in the release pipeline.
This is making XML Variable transformation fail to match and replace configs due to it being case sensitive.

[2019-05-31 04:47] zhenlan commented on #77
Hi @charleshamel73, correct me if I am wrong - it's my understanding that the variables in Azure DevOps pipeline are case **insensitive**. Though the App Configuration service is case *sensitive*, the casing cannot be preserved when keys are pulled into DevOps pipeline unless pipeline supports it.

Does your XML variable transformation work without using the App Configuration service?

[2019-05-31 04:54] zhenlan commented on #73
Hi @andrii-litvinov, we will be soon rolling out the support of Azure Event Grid. You can then sign up and get notification from Event Grid when any changes are made in an App Configuration store (including feature flags). Will this be a viable solution for you?

[2019-05-31 04:55] zhenlan commented on #75
Duplicate of #70

[2019-05-31 04:55] #75 closed

[2019-05-31 04:58] zhenlan commented on #74
The documentation has been fixed.

@spatnaik77, please let us know if you run into any other issues.

[2019-05-31 04:58] #74 closed

[2019-05-31 04:58] #66 closed

[2019-05-31 04:59] #65 closed

[2019-05-31 06:42] dazmsft opened #78 "Azure CLI + Terraform Support"
Can App Configuration be used with

a) Azure CLI - I can't see any support
b) terraform, if so which version

If not, when is support planned

[2019-05-31 06:49] arkiaconsulting commented on #78
I don't think the Azure CLI nor terraform already support App Configuration.
You could use a `azurerm_template_deployment` resource type, example [here](https://github.com/arkiaconsulting/feature-toggling/blob/master/Resources/tf/arm/app-config.json)

[2019-05-31 16:25] zhenlan commented on #78
App Configuration does have Azure CLI support. You can enable it with the command below
[code]
Please check out the document below for more examples
https://docs.microsoft.com/en-us/azure/azure-app-configuration/scripts/cli-create-service

Terraform is not supported. As @arkiaconsulting mentioned, you can use Azure Resource Manager (ARM) template to provision App Configuration.

[2019-05-31 20:32] jimmyca15 commented on #67
Hello @grahamehorner, our goal is to make feature management easily usable by Web API as well as MVC.  For generation of swagger/open API documentation we will not be focusing too much on this front. This would be up to the authors of such generators to interpret our constructs such as the `FeatureAttribute`.

[2019-05-31 20:48] grahamehorner commented on #67
@jimmyca15 so if I understand you correctly given swagger/openAPI (Swashbuckle and NSwag) make use of the ApiExplorer for discovery of paths/routes/actions etc. it would require a change to the ApiExplorer to allow these to understand and document features or would it be possible to extend/derive an attribute from the already existing ApiExplorer attributes ?

[2019-05-31 21:01] jimmyca15 commented on #67
ApiExplorer can reveal things that make sense like `FeatureAttribute`. I don't imagine that the generators would be able to understand this though because they would have to take a dependency on feature management. Although, most of these generators offer extensibility points to understand how to generate Open API for mechanisms that the base generator is unaware of.

The topic of how features pla

[2019-06-03 08:08] andrii-litvinov commented on #73
Hey @zhenlan I don't use Azure for hosting my apps, but I can achieve similar behavior when I update feature flag value in the DB. That's what we do in my team. I was thinking of some common way of doing it reflected in the feature flags API you guys design.

[2019-06-03 21:07] charleshamel73 commented on #77
Pipelines do support setting variables that have uppercase in them.
So tested this out and found out:
1) powershell pipeline task are capable of resolving case-insensitive
2) vso variables can be set to maintain casing
3) App Configuration Service Task is in fact setting the variables with all lowercase
4) Xml variable transformation is in fact case-sensitive and tested this by seeing if a lowerca

[2019-06-03 22:01] Yiming-Jia commented on #77
Hello @charleshamel73 ,

I had the same question against the pipeline team, [issue](https://github.com/microsoft/azure-pipelines-task-lib/issues/534); as well as followed up offline. I was told that this is their by-design, and they currently  don't have a plan to make the case sensitive because it could potentially break any existing customer's changes.

Previously, we lowercase all variable name

[2019-06-04 13:16] jboczek opened #79 "Offline support for feature flags"
Is there any way to use offline cache with feature flags?

Now I'm getting Exception when AppConfiguration Endpoint is down. Rather than exception I'd like to use settings from file or configure it that way: If endpoint can be reached get values from there if not, get default values from appsettings.

[2019-06-04 17:20] ehuggz opened #80 "AppConfiguration Public Preview not available in CSP Subscription"
Receive an error in the Portal when trying to create a new App Configuration Service in a CSP Subscription: {"code":"DisallowedProvider","message":"The operation is not permitted for namespace 'Microsoft.AppConfiguration'. List of permitted provider namespaces is ...

[2019-06-04 18:31] jimmyca15 commented on #79
@jboczek,

Are you using the Azure App Configuration .NET Core configuration provider? If so there is a way to set an offline file cache to do exactly the scenario you are describing.

[2019-06-04 19:52] jimmyca15 commented on #79
Here's a .NET Core code snippet using the offline file cache functionality.

[code]

[2019-06-04 20:38] zhenlan commented on #80
@yegu-ms do you know whom we can follow up to allow AppConfig in CSP subscriptions?

[2019-06-04 23:18] mlacouture commented on #30
filters will be redesigned, will consider this ask.

[2019-06-04 23:22] mlacouture commented on #3
filters will be redesigned and the apply button will go away …

[2019-06-04 23:22] #3 closed

[2019-06-04 23:24] mlacouture commented on #9
We will redesign this blade to have a diff view and will warn about keys being overwritten.

[2019-06-04 23:24] #9 closed

[2019-06-04 23:27] mlacouture commented on #31
We will redesign this blade to have a diff viewer with change type filtering …

[2019-06-04 23:27] #31 closed

[2019-06-04 23:35] #30 closed

[2019-06-04 23:45] mlacouture commented on #2
we'll look into this ...

[2019-06-05 10:24] jboczek commented on #79
Hi, thanks for your answer.

Yes, I'm doing it in a similar way:
[code]
The only difference is that I'm using custom implementation of IOfflineCache.
What I noticed is when I run the app and features get downloaded for the first time the Export method is called with data from feature manager and it's ok, but when I change the value or switch off the feature nothing happened in my CustomOfflineFile

[2019-06-05 16:58] newsunwu opened #81 "Any example about how to create credential and secret?"
I am investigating how to use AppConfiguration in my prototype service.
The REST API has great example about using AppConfiguration API, link is below. But it does not
mention how to get the credential and secret. Are the credential and secret retrieved from
AppConfiguration service or it is generated on the fly.

Could document include an example how to get credential and secret?

Thank you very

[2019-06-05 17:40] jimmyca15 commented on #81
@newsunwu the credential and secret are obtained from the Azure App Configuration access keys. If using the portal to view the access keys then only the connection string is shown, but the connection string contains the secret and credential.

Endpoint={endpoint};Id={credential};Secret={secret}

I see that the authentication doc is a bit out of sync with the fact that credential is also referred t

[2019-06-05 18:42] zhenlan commented on #81
@mlacouture let's also update our portal UI to list the `id` and `secret` separately in addition to the connection string.

[2019-06-05 20:04] klogan12 opened #82 "Integration with azure functions."
NuGet install fails with version conflict for newtonsoft.json.  How to get this working with function apps?

Install-Package : NU1107: Version conflict detected for Newtonsoft.Json. Install/reference Newtonsoft.Json 11.0.2 directly to project TurinFunctionApps to resolve this issue.
 DemoFunctionApps -> Microsoft.Extensions.Configuration.AzureAppConfiguration 1.0.0-preview-008520001 -> Newtonsoft.

[2019-06-06 07:36] zhenlan commented on #82
Hi @klogan12, did you try to add the package reference of the version 11.0.2 `Newtonsoft.Json` package to your `DemoFunctionApps` directly?

[2019-06-06 18:17] charleshamel73 commented on #77
Did you ever release the fix? How do I ingest the fix and any place I can take a look for the update?

[2019-06-06 18:39] Yiming-Jia commented on #77
Yes, the release is already included in the version 1.6.3, which is printed out when you run the extension. Also, I'm writing a release notes, and will update this issue when publish it.

[2019-06-06 19:56] klogan12 commented on #82
That conflicts with version requirement of microsoft.net.sdk.functions.  sdk.function requires Newtonsoft json version 9 and below.

[2019-06-06 22:55] Yiming-Jia commented on #77
@charleshamel73 This is our Azure DevOps pipeline task [release notes](https://github.com/Azure/AppConfiguration/blob/master/releaseNotes/AzureDevOpsPipelineExtension.md)

[2019-06-06 22:59] Yiming-Jia commented on #77
Please let me know if you have other questions. Thanks

[2019-06-07 00:38] zhenlan commented on #82
The issue is caused by the `Microsoft.NET.Sdk.Functions` package asking for the specific 9.0.1 version of `Newtonsoft.json`. The solution is to force it to use a different version by adding 11.0.2 version of `Newtonsoft.json` **directly** to your project. I remember I tried it last time and it worked for me. @klogan12, did you get a chance to try it out or do you still get the error?

[2019-06-07 18:21] jimmyca15 commented on #79
@jboczek the current design of offline caching is only for caching configuration values retrieved during startup. This way the application can still start up even when it is unable to reach app configuration. You raise a good point about the scenario of wanting feature flags to be cached as well if they are updated during runtime. We can look into this scenario.

Do you mind sharing what exception

[2019-06-07 20:49] andrewlock opened #85 "Async API for featuremanagement"
HI, I've been trying out the feature management package, and one of the design aspects that feels a little strange is that the API is entirely synchronous.

This totally makes sense from the consuming point of view, and when you consider you're driving it from `IConfiguration`, but it feels like it will severely limit what you can do in `IFeatureFilter`. Doing a database lookup for example becomes

[2019-06-10 12:17] ArieJones opened #86 "AddSessionManager not in IFeatureManager"
It looks like IFeatureManagementBuilder does not expose AddSessionManager which I thought was supposed to be for when we wanted feature flags to be set per session. Is this by design right now or should there be some other way we should handle this that I am not seeing in the examples.

Cheers!

[2019-06-10 16:45] zhenlan commented on #80
We are working on enabling CSP subscription to access App Configuration service.

[2019-06-10 16:46] #78 closed

[2019-06-11 14:54] jboczek commented on #79
@jimmyca15 I look closer and what I found is:

1. When the app starts it's using LoadAll method and when the endpoint is wrong or there is no Internet connection the HttpRequestException is caught and the OfflineCache.Import is called (it works fine), but then it set observable and after default 30s it's trying to `GET /kv/ `which crash the app because the `System.Net.Http.HttpRequestException: 'N

[2019-06-11 16:13] jimmyca15 commented on #79
Thanks for the investigation @jboczek! These are good points. The original design for offline file support was for loading startup configuration and did not take into account observing key-values. This means it's not fully supportive of feature-flag functionality. We will track this issue and fix it for our next release. We are about to have a release today, but it will not have all of the fixes n

[2019-06-11 19:50] jimmyca15 commented on #86
@ArieJones thanks for the feedback! We can expose a method like this in the `IFeatureManagementBuilder` in the next release of the feature management library. For now it can be done like this

[code]

[2019-06-11 22:13] jimmyca15 commented on #56
This feature has been added in our most recent release. The `AzureAppConfigurationOptions` class now exposes `TrimKeyPrefix`.

Package: https://www.nuget.org/packages/Microsoft.Extensions.Configuration.AzureAppConfiguration/1.0.0-preview-008920001-990

Release Notes: https://github.com/Azure/AppConfiguration/blob/master/releaseNotes/MicrosoftExtensionsConfigurationAzureAppConfiguration.md

[2019-06-11 22:13] #56 closed

[2019-06-11 22:15] jimmyca15 commented on #70
This should be fixed in our latest release. We updated the observable to not enter a detached state if there are transient network errors.

Package: https://www.nuget.org/packages/Microsoft.Extensions.Configuration.AzureAppConfiguration/1.0.0-preview-008920001-990

Release Notes: https://github.com/Azure/AppConfiguration/blob/master/releaseNotes/MicrosoftExtensionsConfigurationAzureAppConfiguratio

[2019-06-11 22:15] #70 closed

[2019-06-11 22:19] jimmyca15 commented on #77
Hello @charleshamel73, this issue appears to be resolved. Please re-open if there is anything pending that I have missed. Thanks!

[2019-06-11 22:19] #77 closed

[2019-06-12 15:39] sdib opened #88 "AzureDevOps tasks to manage configuration and features"
It could be interesting to add AzureDevOps Tasks to manage configuration and feature in the CI/CD pipeline.

Actually, it's only possible to pull configuration.

[2019-06-12 16:37] zhenlan commented on #88
@sdib is this something you are looking for?
https://github.com/Azure/AppConfiguration/blob/master/releaseNotes/AzureDevOpsPipelineExtension.md

[2019-06-12 16:50] sdib commented on #88
@zhenlan yes but this task only enable users to pull config and not put / edit configuration in Azure App Configuration service.

[2019-06-12 16:57] zhenlan commented on #88
@sdib can you please help me to understand the scenario where a pipeline task that can add/edit configuration in App Configuration can be useful. How does the pipeline task may look like?

[2019-06-12 17:31] sdib commented on #88
@zhenlan I was thinking about a Release pipeline that would enable a feature to Azure App Configuration after deploying new version of an application containing a feature that was disabled until this version.
Or a pipeline that adds new configurations needed for an application.
We could also have a dedicated pipeline that adds/edits configuration in Azure App Configuration to prevent manual action

[2019-06-12 18:19] chivandikwa opened #89 "FeatureFlagAttribute does not exist 1.0.0-preview-008560001-910"
I have noticed decoration of the feature flags definition enums with an attribute [FeatureFlag]. This however does not exist when I try it out using 1.0.0-preview-008560001-910. Does this attribute exist, is it public?

I saw this in the docs here: https://github.com/Azure/AppConfiguration/blob/master/docs/FeatureManagement/Clients/AspNetCore/Microsoft.FeatureManagement.AspNetCore.md for the MyFea

[2019-06-12 20:55] klogan12 commented on #82
It worked. Thanks

[2019-06-12 20:55] #82 closed

[2019-06-13 21:14] mlacouture commented on #81
the portal part is done and will be available in the next prod deployment!

[2019-06-13 21:14] mlacouture commented on #57
a fix for this will be available in the next portal prod deployment.

[2019-06-13 22:35] jimmyca15 commented on #89
Hi @chivandikwa it doesn't exist. It was removed because it didn't add any functionality. The docs should be updated.

[2019-06-14 03:23] zhenlan commented on #88
@sdib thanks for sharing. The idea of current pipeline task is that it pulls configuration from the AppConfig service and make them available as build or release *pipeline variables* so any tasks after the AppConfig pipeline task in your build or release pipeline can consume configuration from pipeline variables just like before without knowing about the AppConfig service at all. So if you have an

[2019-06-14 18:23] maphil007 opened #91 "Azure App Service: 502.5 – ANCM Out-Of-Process Startup Failure error"

[2019-06-14 18:39] maphil007 commented on #91
I have a .Net Core app that I added support for App Configuration using a managed Identity.  It works perfectly when I am debugging and testing on my local machine, but when I deploy to an Azure App Service, I get a "502.5 - ANCM Out-Of-Process Startup Failure error".

If I use the connection string to connect to the App Configuration service, I do not have any problems when deployed to an Azure A

[2019-06-14 20:21] zhenlan commented on #91
@maphil007 just to confirm, did you grant your app service access to the App Configuration?
https://docs.microsoft.com/en-us/azure/azure-app-configuration/howto-integrate-azure-managed-service-identity#grant-access-to-app-configuration

[2019-06-17 15:45] jimmyca15 commented on #91
@maphil007
Are you using system assigned identity for the App Service or a User assigned identity?

[2019-06-17 15:45] jimmyca15 commented on #91
@maphil007
Are you using system assigned identity for the App Service or a User assigned identity?

[2019-06-17 15:53] jimmyca15 commented on #63
The environment tag didn't cover all the possible use cases of the feature tag helper so our design will be a bit different. We need to be able to

1. Show if **all** specified features are enabled
2. Show if **any** specified features are enabled
3. Hide if **all** specified features are disabled
4. Hide if **any** specified features are disabled

So we will be looking at a design like this where

[2019-06-17 16:37] #89 closed

[2019-06-17 16:53] jimmyca15 commented on #80
Azure App Configuration (provider name: Microsoft.AppConfiguration) has enabled CSP support as of today.

[2019-06-17 16:53] #80 closed

[2019-06-17 16:54] #67 closed

[2019-06-18 00:21] mlacouture commented on #57
this is now fix on prod.

[2019-06-18 00:21] #57 closed

[2019-06-18 00:21] mlacouture commented on #81
this is now fixed in prod.

[2019-06-18 00:38] shibayan commented on #63
It looks good to me. It would be enough for me to make the tag helper implementation conform to the ASP.NET Core standard.
Please use properties to make the function understandable by intellisense :)

[2019-06-18 01:31] zhenlan commented on #81
@jimmyca15 do you think anything needs to be changed in the doc?

[2019-06-18 16:49] jimmyca15 commented on #81
I think it could be a little unclear so I updated it with pr #94.

[2019-06-18 20:25] maphil007 commented on #91
It is a system assigned identity that does have contributor role access to the app configuration.

[2019-06-18 23:13] jimmyca15 commented on #91
We haven't seen this error happen on our end. I'm going to try to reproduce what you're doing to see if we can figure out what's going on. I'll need some info to do it.

What package of Microsoft.Extensions.Configuration.AzureAppConfiguration are you using?
What version of ASP.NET Core runtime are you using?
Are you using Kestrel or HTTP Server?

[2019-06-19 00:42] jimmyca15 commented on #91
@maphil007 Was unable to reproduce the issue just now using

  * Microsoft.ExtensionsConfiguration.AzureAppConfiguration: 1.0.0-preview-008920001-990
 * ASP.Net Core 2.1
 * Default ASP.NET Core web host.
 * Azure App Service

So it must be some specific combination causing the issue. As soon as I get the setup you're using I'll try to come close to it and reproduce it again.

[2019-06-19 14:14] maphil007 commented on #91
@jimmyca15 I have the following setup:

* Microsoft.ExtensionsConfiguration.AzureAppConfiguration: 1.0.0-preview-008920001-990
* ASP.Net Core 2.2 on .NET Framework 4.6.1
* Default ASP.NET Core web host
* Standard SPA Angular template
* Azure App Service

[2019-06-19 21:30] jimmyca15 commented on #91
@maphil007 thanks a ton, that helps a lot. I'm going to use your setup and see if we can force the issue to see what's happening.

[2019-06-20 20:40] jimmyca15 commented on #91
I created two netfx 4.6.1 projects and deployed them to azure to test this out. You can find the source code here for comparison: https://github.com/jimmyca15/ASPNetCoreUsingAzureAppConfigurationOn461

No issues were encountered.

The exception at the top of the stack you provided was an ArgumentException. We throw that if
 * appconfig uri is null
 * appconfig is not an absolute uri
 * The identit

[2019-06-24 18:07] jimmyca15 commented on #86
Resolved in version [1.0.0-preview-009000001-1251](https://www.nuget.org/packages/Microsoft.FeatureManagement.AspNetCore/1.0.0-preview-009000001-1251)

[Release Notes](1.0.0-preview-009000001-1251)

[2019-06-24 18:07] #86 closed

[2019-06-24 18:08] jimmyca15 commented on #63
Resolved in version [1.0.0-preview-009000001-1251](https://www.nuget.org/packages/Microsoft.FeatureManagement.AspNetCore/1.0.0-preview-009000001-1251)

[Release Notes](https://github.com/Azure/AppConfiguration/blob/master/releaseNotes/Microsoft.Featuremanagement.md#100-preview-009000001-1251---june-20-2019)

[2019-06-24 18:08] #63 closed

[2019-06-24 19:19] brennerm opened #98 "Support in Azure SDK for Go"
Will App Configuration will be supported by the [Azure SDK for go](https://github.com/Azure/azure-sdk-for-go)? If so can you already give some hints on when it'll be available?

[2019-06-25 13:23] dmcweeney opened #99 "Make IFeatureSettingsProvider and IFeatureSettings public"
Trying to provide my own feature provider and get:
'IFeatureSettingsProvider' is inaccessible due to its protection level

Using version 1.0.0-preview-009000001-1251

Also please make IFeatureSettings public.

[2019-06-25 18:44] yegu-ms opened #100 "Add App Configuration example for Service Fabric Stateless ASP.net Core API"

[2019-06-25 19:42] jimmyca15 opened #101 "Offline file cache does not work with managed identities."
The `AzureAppConfigurationProvider` has the capability to use an offline file cache, and it also has the capability to connect to Azure App Configuration via Managed Identity for Azure Services. When using both of these together an error is hit saying "Connection string is required". Thus the offline file cache can never be used in applications designed to authenticate with managed identities.

[2019-06-25 19:42] jimmyca15 commented on #101
@MSGaryWang

[2019-06-26 07:20] sowdhanyakotaru opened #102 "Azure App Configuration (Managed Identity) With Container Instances"
Hi Team,

I have created a .Net Core application using Azure App Configuration. I have created a docker image for my app and registered in  Azure Container Registry and created a container instance for that image. I am able to get the output for Azure App Configuration using Connection String, but observed an issues while access Azure App Configuration  using Managed Identity, error details:

![Is

[2019-06-26 19:11] markgould commented on #102
I'm using Managed Identity with Container Instances - user and system assigned work. I did not need to set a connection string. I had issues with Azure App services until I started using connection strings.

You do have the identities setup in your container instance I'm assuming? I'm specifying mine in YAML but you should just be able to turn on through the portal too.

[2019-07-03 13:40] sabbadino commented on #43
I've added 2 keys with same name  (poc-api:myvalue), one with label "Development", the other with no label.

With this code :

    public static IWebHostBuilder CreateWebHostBuilder(string[] args) =>
            WebHost.CreateDefaultBuilder(args).ConfigureAppConfiguration((hostingContext, config) =>
                {
                    var settings = config.Build();
                    config.Add

[2019-07-03 13:43] sabbadino opened #104 "key filters and labels"
I've added in azure 2 keys with same name (poc-api:myvalue), one with label "Development", the other with no label.

With this code :

public static IWebHostBuilder CreateWebHostBuilder(string[] args) =>
        WebHost.CreateDefaultBuilder(args).ConfigureAppConfiguration((hostingContext, config) =>
            {
                var settings = config.Build();
                config.AddAzureAppConf

[2019-07-03 18:12] hasansachdev commented on #66
same question. I wanted to use FeatureManagement in my dot net core application that's not hosted on Azure.
Is that possible without using Azure SDK and AzureAppConfiguration?

[2019-07-03 18:47] ArieJones commented on #66
You can. Currently using it on AWS with a custom database configuration provider... so no dependency on Azure..

[2019-07-03 18:48] ArieJones commented on #66
Though I would rather be on Azure for this project. :)

[2019-07-03 19:44] gsaadeh commented on #67
If you are using Swashbuckle then you can hide/show APIs to swagger based on the features associated with the Api here's an example:

[code]
And then filter disabled APIs using a document filter:
[code]

[2019-07-03 20:01] jimmyca15 commented on #81
This was resolved in portal and docs.

[2019-07-03 20:01] #81 closed

[2019-07-08 13:03] msmaverick2018 opened #105 "Target date for G.A"
What is the target date for general availability of Feature Management and also is it stable enough to be used in production grade apps? Has anyone used it already in a high traffic site?

[2019-07-08 14:23] ArieJones commented on #105
Are you just talking about the Feature Management portion or AppConfiguration service in Azure. We are currently using Feature Management in a large production project right now .. no issues. I have another project that is spinning up at the moment that is using Feature Management + Azure AppConfiguration for a microservices environment... so I should be able to see any issues within the next mont

[2019-07-08 16:33] vgsankar commented on #104
Hi @sabbadino

Can you please share more details about this? Are you able to get the required key with "Development" label if you omit the `.Use(KeyFilter.Any, LabelFilter.Null)`? And what value do you get when you switch the order of the 2 `Use()` calls?

Thanks,
Vijay

[2019-07-08 21:59] msmaverick2018 commented on #105
@ArieJones Thanks for the response. I am looking at the Feature Management portion. I looked at the issue raised https://github.com/Azure/AppConfiguration/issues/85 with regards to the feature check being a synchronous operation hence blocking in nature. In my case from my feature filter, in order to feature online/offline check, i have to call a microservice which checks a database table for a fe

[2019-07-08 22:13] ArieJones commented on #105
Yeah but it also caches .. so in my case I have a custom configuration db provider that I poll the database every X number of seconds to refresh the list of features and statuses. So it's not as if it is calling it every time you ask if feature X is on/off.

[2019-07-08 22:34] drago-draganov commented on #104
@sabbadino,

You need to add also a watcher for the key with label "Development".

[code]

[2019-07-09 02:24] zhenlan commented on #85
Sounds reasonable to me. This needs `IFeatureFilter` to support async.

@jimmyca15, thoughts?

[2019-07-09 02:43] zhenlan commented on #105
We don't have a specific date for the feature management library to release a stable version at the moment. We are aiming sometime in the fall.

What @ArieJones suggested sounds like a good solution to me regardless if async is supported by the feature management library. I'll have the async support discussion in #85, but I don't think it should be blocking the first stable release since it will b

[2019-07-09 02:53] zhenlan commented on #102
I remember I tried the *system assigned* managed identity with container instance and it worked with my Azure App Configuration.

@sowdhanyakotaru, did you figure this out? Are you using system-assigned or user-assigned managed identity in container instance?

[2019-07-09 03:15] zhenlan commented on #98
We don't have a plan for go at the moment. We will consider it if the demand is high. You can call the [REST API of the service](https://github.com/Azure/AppConfiguration#rest-api-reference) from go for now. We will add code snippet of how to do authentication in go.

[2019-07-09 03:21] #88 closed

[2019-07-09 03:24] zhenlan commented on #91
@maphil007 did you get a chance to review @jimmyca15's question?

[2019-07-09 20:08] zhenlan commented on #98
@brennerm my comments above are about the SDK to interact with your data in the App Configuration. You can do so with REST APIs and here is a [code snippet of authentication with golang](https://github.com/Azure/AppConfiguration/blob/master/docs/REST/authentication.md#golang).

If you are looking for the go SDK to manage the App Configuration (eg. create a resource), it's available here
https://gi

[2019-07-09 23:40] maphil007 commented on #91
I managed to get some time to try this out again and I am still getting the same problem.  I have checked the config in the scm portal and it is pointing to the correct uri.  If I use the uri to the app config store, when deployed to an Azure App Service, I keep getting the 502.5 error when starting.  If I change back to the connection string, it works fine.  I do not have this problem with either

[2019-07-11 02:59] #105 closed

[2019-07-11 03:10] zhenlan commented on #91
@maphil007 thanks for giving this another try. I am wondering if it's possible you deploy @jimmyca15's app to your app service. It will be helpful to narrow down the issue to the app issue or the environment issue.

Absolutely. You can also reach us through either slack or email.

[2019-07-11 10:14] littlenetcoder commented on #102
@sowdhanyakotaru having same issue with k8s pods, but once elevated its role to **Contributor** solved the mystery which is ideally should have been worked with just **Reader**  role !!

[2019-07-11 10:28] sowdhanyakotaru commented on #102
Hi,

Thanks for all your quick replies. Resolved the issue by giving the **contributor** role access to the container instance which I have created.

Thanks,
Sowdhanya K.

[2019-07-11 22:04] jimmyca15 commented on #85
@andrewlock @zhenlan

This is the biggest debate right now with the Feature Management API. Currently the  API is developed as a thin API surface over IConfiguration with the core scenario of enabling or disabling feature's based off whether they are configured true/false. Being synchronous allows feature management to be integrated into parts of frameworks that require synchronous code paths, and

[2019-07-12 18:51] sweigand opened #110 "PHP 7.3.4"
I know that PHP 7.3.3 was pushed in March and PHP 7.3.6 will be pushed in August. I noticed that my apps are showing PHP 7.3.4.

When was PHP 7.3.4 pushed?

[2019-07-15 14:35] naebliss opened #111 "Feature management dependency on Mvc could be split"
Hi,

We are working on a .net core application with a backend consisting of both WebApi and serverless function apps.

Currently there is a strong dependency on 'Microsoft.AspNetCore.Mvc.TagHelpers (2.2.0)'.
We would like to minimize our dependencies.

Are you planning on supporting multiple NuGet packages? 1 for the core feature filters functionality and 1 supporting mvc?

Kind Regards,
Robbie

[2019-07-15 18:11] zhenlan commented on #110
@sweigand is this supposed to be posted somewhere else? I am going to close this issue as its topic doesn't seem to belong to this repo.

[2019-07-15 18:11] #110 closed

[2019-07-15 18:28] #98 closed

[2019-07-15 18:30] zhenlan commented on #102
@sowdhanyakotaru thanks for the update. Glad it worked for you.

[2019-07-15 18:30] #102 closed

[2019-07-15 18:31] zhenlan commented on #104
@sabbadino did @drago-draganov's suggestion work for you?

[2019-07-15 18:39] zhenlan commented on #111
@naebliss, you can use [Microsoft.FeatureManagement](https://www.nuget.org/packages/Microsoft.FeatureManagement) package, which is a .NET Standard library and has no dependency on ASP.NET Core, in your serverless function app.

The [Microsoft.FeatureManagement.AspNetCore](https://www.nuget.org/packages/Microsoft.FeatureManagement.AspNetCore) is actually built on top of Microsoft.FeatureManagement

[2019-07-15 20:23] muffadalis opened #112 "Featurebits"
Hi,

There is another package from Microsoft called [FeatureBits ](https://github.com/microsoft/featurebits) having similar features. Should we be using FeatureManagement going forward? Is FeatureBits deprecated?

Thanks

[2019-07-15 23:15] andrewlock commented on #85
Thanks for the input @jimmyca15 - totally understand the issues with going async here, and everything you've said makes sense. I definitely think you need to go all-in on sync _or_ async, not support both - agree that would be confusing.

Regarding the functionality that would be lost, the main one I see is the `FeatureRouteConstraint` which is necessarily sync. There's async versions of featurefi

[2019-07-16 09:18] naebliss commented on #111
Thanks for the reply.

We managed to get it working using the following packages.
- Microsoft.FeatureManagement (1.0.0-preview-009000001-1251)
- Microsoft.Extensions.Configuration.AzureAppConfiguration (2.0.0-preview-009200001-1437)

however we noticed that if you want to have configuration refreshing you need to take a dependency on `Microsoft.Azure.AppConfiguration.AspNetCore` using the `AzureAp

[2019-07-16 16:19] jimmyca15 commented on #111
@naebliss

That is by design. Microsoft.Azure.AppConfiguration.AspNetCore is a package which provides all the client-side functionality of Azure App Configuration for ASP.NET Core. This includes configuration provider, configuration refresh, feature management, and all the feature management integration points (including tag helpers). The value here is that one package can be used to start working

[2019-07-16 16:26] jimmyca15 commented on #99
Can you look into this for next release. Thanks @dmcweeney.

[2019-07-16 17:03] sabbadino commented on #104
Hi, the problem was that I did not create a single key with 2 entries, one with no label and the other one with a label, I created two different entries in the azure portal .

[2019-07-16 17:03] #104 closed

[2019-07-17 02:29] vany0114 opened #113 "Is it possible to use wildcards in ConfigureRefresh?"
Guys, is it possible to use wildcards (say `*`) when configuring the refresher in order to update all the settings values under a given parent? I want to update any setting value inside `MySeetings` when they change.

[code]

When I do that I get a `404` error. Is there another way to do that?

[2019-07-17 15:34] yegu-ms commented on #112
@muffadalis Yes, we recommend that you use the .NET Core FeatureManagement library going forward. It’s under active development and officially supported by a Microsoft product team.

[2019-07-17 15:34] #112 closed

[2019-07-17 17:22] jimmyca15 commented on #113
Only individual key-values can be configured for refresh. The closest way to get a similar behavior to what you are talking about is to use a "sentinel" key-value in the app configuration, and trigger a reload all of your configuration when that value changes.

[code]

It's a slightly different workflow because you would need to update the sentinel whenever you want the app to pick up some changes

[2019-07-17 19:06] vany0114 commented on #113
There's a chance to have a feature like that in the future? I mean, given I have my configuration in Azure I don't want to update my code every time I add a new setting (in this example within  `MySettings` class) that way I can take advantage of the dynamic configuration avoiding to register a new setting to be refreshed.

Also, the scenario I have is an array inside of `MySettings`, so I need to

[2019-07-17 19:16] jimmyca15 commented on #113
@vany0114 right now there is no plan for that.

Does the approach using `refreshAll: true` that I mentioned not work for your scenario? It does not require any code changes in your application, so I'm unsure what you meant by having to update code every time you add a new setting.

The flow would be like this
1. Deploy app with `refresh.Register(key: "MySettings:Sentinel", refreshAll: true);`
2. P

[2019-07-17 19:32] vany0114 commented on #113
Sorry, I misunderstood you, I was left wondering about this:

I haven't tried it out yet but should work as you said. So the `Sentinel` might be of whatever type, right? it triggers the refresh even if the `Sentinel` value is the same right? as long as I update that guy.

[2019-07-17 19:42] jimmyca15 commented on #113
Right, sentinel could be anything. Just touching that value in app configuration will have the desired affect. The app will see that it got updated and doesn't need to worry about the actual value.

Although, it will get the new value for the sentinel in case you use one who's value you do care about.

[2019-07-17 19:49] vany0114 commented on #113
Got it, thanks to reply so fast!

[2019-07-17 19:49] #113 closed

[2019-07-18 02:11] vany0114 opened #114 "Support for generics"
Guys, you might consider providing a way for both SDK and REST API's to update/set/add a configuration using generics? I'm using Azure App Configuration to get and also to write the configuration from my web app, so for writing, I'd like to do something like this:

[code]
After that, I would expect to see the same result you get when you import a `json` file from azure portal:
![image](https://use

[2019-07-19 10:55] praveenlearns opened #115 "IFeatureFilter Evaluate method to accept some custom parameters."
I am trying to understand if a custom feature filter that we write needs to use some parameters which are not part of HttpContext.

How can we pass extra parameters when we call IFeatureManager.IsEnabled("featurename") which triggers Evaulate method of custom filter.

But how an azure function app or webjob will use it.

`
    [FilterAlias("AllowedUsers")]
    public class AllowedUsersFeatureFilte

[2019-07-19 16:03] yegu-ms opened #116 "Document use cases for "Content Type""
Tracking issue for https://github.com/MicrosoftDocs/azure-docs/issues/35422

[2019-07-19 16:20] sabbadino opened #117 "sample to load azure app configuration could be improved"
With the code below taken from
https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-aspnet-core-app

the azure app configuration is the first provider involved.
In a real scenario I think it's better to have json config files and env variables to have priority on azure app configuration , so that you can override locally an azure app configuration  setting.

public static IWeb

[2019-07-19 16:30] yegu-ms opened #118 "Example to use IConfigurationBuilder in a full .NET Framework app"
Tracking issue for https://github.com/MicrosoftDocs/azure-docs/issues/33906

[2019-07-22 16:22] jimmyca15 commented on #117
@sabbadino, One of our goals with the example is to strike a balance between utility and simplicity. While we understand where you are coming from, it adds concepts to the example that aren't necessarily needed for the quick start case.

Thanks for the suggestion though!

[2019-07-22 16:22] #117 closed

[2019-07-22 16:23] jimmyca15 commented on #115
Hello @praveenlearns,

With the current preview release of our feature management library this is not possible. However, if you are flow an execution context through your application via AsyncLocal, you could achieve the same affect as using an HttpContext.

This functionality can be expected in our *preview2* release that is in the works. Thanks.

[2019-07-23 04:24] praveenlearns commented on #115
Thank you Jimmy. That will be very helpful as we are already hooked on to it.

[2019-07-23 04:24] #115 closed

[2019-07-23 17:24] jimmyca15 commented on #114
@vany0114, thanks for the suggestion. The intent when performing an operation like that can vary greatly between applications. For example, how the keys should be structured. Also our focus is on delivering configuration as individual settings rather than prescribing object models. For most purposes of App Configuration, keeping it simple and working on our plain key-value or "Setting" object is t

[2019-07-23 17:24] #114 closed

[2019-07-24 20:55] yegu-ms opened #119 "Missing ARM template reference"
This is a tracking issue for https://github.com/MicrosoftDocs/azure-docs/issues/35613.

[2019-07-25 05:32] zhenlan commented on #119
Similar issue https://github.com/MicrosoftDocs/azure-docs/issues/35615

This is working in progress.

[2019-08-01 00:26] HashTagDotNet opened #122 "Key Description"
When managing a lot of keys, it would be helpful to be able to see what that key is supposed to do.  A simple description field on the key would go a long way to have visibility into what the key is supposed to control.

Without a description, value editor's must have to have intimate knowledge of what the key controls.  On teams with high turn over, or keys created by transient teams, the knowled

[2019-08-01 04:47] praveenlearns opened #123 "Auth issue while calling key values using REST API"
I am using a C# console to call the Key Values from Azure App config using REST APIs. mentioned in [](https://github.com/Azure/AppConfiguration/blob/master/docs/REST/authentication.md).

Below is the code i am using and getting 401. error="invalid_token" error_desc = "Invalid signature"

 using (var client = new HttpClient())
                {
                    var request = new HttpRequestMessa

[2019-08-01 09:02] praveenlearns commented on #123
My bad. All i needed was to decode the secret back from Bas64 to byte[].
var secret = Convert.FromBase64String("SecretFromAccessKeysPortal");

[2019-08-01 09:02] #123 closed

[2019-08-02 04:39] drago-draganov commented on #122
KeyValue supports custom defined Tags. Would that work for you, @HashTagDotNet ?

[code]

[2019-08-07 10:46] praveenlearns opened #124 "Can we create Features using REST api"
Is there any way to create/edit Features using REST API?
or in other words Can we allow users to turn off the features for himself that he was entitled to with some custom filter conditions?

**Example:**
Name: SendNotifications
State: Conditional ON
Custom Filter: WhiteListUserFilter
Parameters: {"emails":"john@test.com,maria@test.com"}

**Use Case:** John logs in and he wants to remove his acces

[2019-08-07 14:13] zak-nye opened #125 "Refresh period clarification"
Using the Microsoft.Extensions.Configuration.AzureAppConfiguration package in C# I have configured the refresh of a property as follows -

[code]

This alone does not automatically trigger any update. So I use the `AzureAppConfigurationOptions.GetRefresher()` method to get a refresher and call this every 10 seconds. However I can see using fiddler that the call to update is only made every 30 seco

[2019-08-08 02:12] qmatto commented on #125
This works great for me:

[code]

[2019-08-08 12:20] praveena-m opened #126 "Import/Export ConnectionStrings from Azure AppService into Azure App Configuration."
While import/Export from Azure App Configuration to AppService connectionstrings are not imported/exported from Azure AppService into Azure App Configuration.

![image](https://user-images.githubusercontent.com/1097942/62703716-6c898500-ba07-11e9-885d-6f4306c66150.png)

![image](https://user-images.githubusercontent.com/1097942/62703886-d013b280-ba07-11e9-9dca-156dbfa2ac3e.png)

[2019-08-08 16:25] jimmyca15 commented on #125
Yes you are using it correctly. Although the update is being made manually, there is still a cache period. It can be overridden using the below method. This is documented [here](https://docs.microsoft.com/en-us/azure/azure-app-configuration/enable-dynamic-configuration-dotnet-core)

[code]

[2019-08-08 16:33] jimmyca15 commented on #124
Hello @praveenlearns,

Yes, it is possible to create features using the REST API.

Features are key-values (accessible via the '/kv' endpoint) that follow a couple specific conventions. These conventions are documented here: https://github.com/Azure/AppConfiguration/tree/master/docs/FeatureManagement

The key-values representing features have
* A custom prefix for their keys
* A custom content typ

[2019-08-09 14:09] zak-nye commented on #125
Thanks @jimmyca15 it wasn't quite clear to me but makes sense now.

[2019-08-09 14:09] #125 closed

[2019-08-09 23:07] zhenlan commented on #126
@praveena-m the *Connection strings* are considered as *secrets*, which normally needs rotation, etc. This is why we didn't include it in import/export in Azure App Configuration.

[2019-08-09 23:10] zhenlan commented on #122
@HashTagDotNet, please let us know in case you feel your question is not answered.

[2019-08-09 23:10] #122 closed

[2019-08-10 00:05] HashTagDotNet commented on #122
I would like to see description on the key as tags are variants of the key.

[2019-08-14 06:49] drago-draganov commented on #122
@HashTagDotNet
You are absolutely correct. We don't currently provide key related metadata. Let me try to elaborate on the design decisions.

As you noticed, Tags are part of the representation of Key-Value entity. These entities are completely independent and self-contained. They can evolve over time, labels, etc. All these dimensions or constraints, but rather to provide a reference/pointer. Eac

[2019-08-19 14:17] praveena-m commented on #126
I have done a work around to store the encrypted connection strings in App Configuration and export the same using Azure CLI and update into an Azure App Service.

[2019-08-19 14:17] #126 closed

[2019-08-19 15:00] ArvidNyden opened #128 "RBAC with ARM"
Hi, how would I go about to add a my App Service Identity to the Read role of Configuration Store?
My current ARM looks like below (does not work and can't find any documentation on how this suppose to work.

[code]

[2019-08-19 19:39] zhenlan commented on #128
@ArvidNyden it should work if you grant your App Service **Contributor** role to the AppConfig store. This is because the relevant API in AppConfig service has access to both readonly and readwrite connection strings. I know this can be confusing. We are looking into an improvement on this in the future.

[2019-08-20 07:15] ArvidNyden commented on #128
I get it to work with Read role if I do it in the portal. Its the ARM thats not working.

[2019-08-20 21:25] klogan12 opened #129 "App configuration refresh interval time in Azure Function"
I am accessing app configuration from my azure function , does azure function automatically refresh and get the updated values? If yes what is the time interval and is it configurable?

[2019-08-20 23:31] zhenlan commented on #129
@klogan12 are you using `ConfigurationBuilder` like this [quickstart](https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-azure-function-csharp) in your Azure Function? If so, I believe it fetches the configuration every time your Azure Function is triggered.

[2019-08-20 23:50] klogan12 commented on #129
Yes i use configurationBuilder , but i do not create Builder object every time i access the config..
I have a seperate class that reads config and expose those values to my azure functions.

   _var builder = new ConfigurationBuilder();
    builder.AddAzureAppConfiguration(Environment.GetEnvironmentVariable("ConnectionString"));
    var config = builder.Build();
    string message = config["TestAp

[2019-08-21 19:59] HashTagDotNet opened #130 "Could not file assembly:Microsoft.Configuration.ConfigurationBuilders.AzureAppConfiguration"
I'm following the [quickstart](https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-dotnet-app)  and I encouter:
[code]
Framework: Net48
Type: Console
Visual Studio: VS2019 Enterprise 16.1.3
Environment Variable:  Confirmed

There are three missing references and I cannot find them as NuGet packages (preview is selected):
* Microsoft.Azure.appConfiguration.ManagedIdentityConne

[2019-08-21 20:55] zhenlan commented on #129
@klogan12 thanks for sharing the details. What are the times your *separate class* will be instantiated? Will it be upon every time your Azure Function is triggered? If not, how is the instance of your *separate class* shared between 2 Azure Function calls?

[2019-08-21 20:57] klogan12 commented on #129
It is a singleton class that gets instantiated once during the application lifetime,
Each function will refer this class to get all config values

[2019-08-21 20:58] zhenlan commented on #128
It shouldn't work with the Reader role due to the reason I mentioned earlier. Do you mind to double-check? Did you get a chance to try the Contributor role in your ARM template and see if it works?

[2019-08-21 21:21] zhenlan commented on #130
@HashTagDotNet can you please remove the package reference of *Microsoft.Extensions.Configuration.AzureAppConfiguration*, do a clean rebuild and see if that helps?

[2019-08-22 11:42] HashTagDotNet commented on #130
Removing the package reference:
*Microsoft.Extensions.Configuration.AzureAppConfiguration
*did not work.  I removed the packaged, deleted bin/obj files, did a
"clean" on the solution, verified the package was not in the bid/debug
folder, purged Package cache.

I am still getting this error:

System.Configuration.ConfigurationErrorsException
  HResult=0x80131902
  Message=An error occurred loading

[2019-08-23 07:29] zhenlan commented on #129
@klogan12 in this case, since you always use the same instance of `IConfiguration`, the configuration from the App Configuration will *not* be reloaded automatically upon every call to your Azure Function.

If you like the configuration to be refreshed from the App Configuration once a while automatically, here is the code snippet you can do so

1. Create singleton `IConfiguration` and `IConfigura

[2019-08-29 00:19] klogan12 commented on #129
I am getting this error when builder.Build() is  being  called..

[8/29/2019 12:18:33 AM] System.Private.CoreLib: Exception while executing function: Function1. Microsoft.Extensions.Configuration.AzureAppConfiguration: endpoint.

Here is my code in construction of static class.
var builder = new ConfigurationBuilder();
            builder.AddAzureAppConfiguration(o =>
            {

[2019-08-29 03:49] zhenlan commented on #129
@klogan12 when you use `ConnectWithManagedIdentity(...)` to connect to App Configuration, please pass the endpoint to the API instead of the connection string and make sure you follow this [doc](https://docs.microsoft.com/en-us/azure/azure-app-configuration/howto-integrate-azure-managed-service-identity) to grant permission accordingly.

[2019-08-30 16:39] syndicatedshannon opened #133 "Misleading Exception on MSI RBAC failure"
The following exception does not distinguish between network and authentication failures (it is raised from MSI RBAC failures, and possibly from other authorization failure scenarios):

[code]

This is important because network errors are often hard to diagnose in the cloud, and setting a person on the wrong track of solving a network problem could lead to a great deal of lost time.

[2019-08-30 16:56] syndicatedshannon commented on #91
It would be extremely helpful when troubleshooting this error to address #133

[2019-08-30 20:23] jimmyca15 commented on #133
That exception occurs when the managed identity that is being used to connect to Azure App Configuration is successfully authenticated, but doesn't have any access to a configuration store with the specified endpoint. This could be because the store doesn't exist, or it could be because the store doesn't belong to any of the subscriptions that the identity is capable of reading from. I agree that

[2019-08-31 22:50] sk1tt1sh commented on #130
@HashTagDotNet did you figure this out? I'm experiencing the same issue.

[2019-08-31 22:53] HashTagDotNet commented on #130
I'll build a repo and share early next

On Sat, Aug 31, 2019, 6:50 PM sk1tt1sh <notifications@github.com> wrote:

[2019-08-31 22:56] sk1tt1sh commented on #130
@HashTagDotNet Any chance you can just point me in the right direction? I have been messing with this for a couple days now so just pointing at a file or couple steps will probably be enough.

[2019-09-01 10:38] HashTagDotNet commented on #130
I've added a repo that has both a working example and one that doesn't work.

[2019-09-01 20:29] zhenlan commented on #130
@HashTagDotNet thanks for sharing the repro. It's very helpful.

I took a look of the repro that doesn't work and here are a few issues I see with the file `AppConfiguration.DemoConsole.Framework-error.csproj`.
- The hint paths of all references are *not* pointing to the default package restore folder. I changed all `..\..\..\packages\` to `..\packages\`. If you do set a different package restore

[2019-09-01 20:45] zhenlan commented on #129
@klogan12 please let me know if this works for you. BTW, if you prefer to use the connection string to connect to the App Configuration, which is fine too. In this case, you can use the API `o.Connect(Environment.GetEnvironmentVariable("ConnectionString"))` to replace the `o.ConnectWithManagedIdentity(...)` in my sample code above.

[2019-09-01 20:48] zhenlan commented on #128
@ArvidNyden I am closing this issue. Please let me know if this works for you or you have more updates.

[2019-09-01 20:48] #128 closed

[2019-09-01 22:25] sk1tt1sh commented on #130
@HashTagDotNet Thanks for the repos it helped confirm what I found to be the cause of my issues. @zhenlan I found similar problems on projects that are upgraded from previous versions of .net framework as well. I managed to work around the issue by creating a new project targeting 4.7.1 and moving all my files over.

[2019-09-02 04:08] zhenlan commented on #130
@sk1tt1sh I'm glad your issue is solved. The decade-old full framework project system does struggle with package references sometimes. Starting with a new project is not a bad idea to solve issues like this.

[2019-09-03 00:33] syndicatedshannon commented on #133
I verified it was specifically because the identity did not have RBAC grant, so technically it was neither of the above.

Actually, it had RBAC grant, but via group, so the application did not present a token with group membership. This takes 8 hours to catch up. *NOW* find the defect!

Consequently, more precise error presentation is even more relevant.

[2019-09-03 00:38] syndicatedshannon commented on #133
At any rate, very glad it will be improved. It was frustrating.

[2019-09-03 05:40] wahyuen commented on #119
Is this likely a feature that we could expect in the near term or something that is much further down on the roadmap (Q4? 2020?). We are currently attempting to assess if we use App Configuration and where to invest our time into automation (manual vs cli vs ARM)

[2019-09-03 07:23] zhenlan commented on #119
@wahyuen thanks for the query. The feature will be available soon (hopefully, this month). You will be able to reference key-values saved in App Configuration from the ARM template.

[2019-09-03 21:39] klogan12 commented on #129
@zhenlan  i am able to proceed.But when i change a key value in app config... Updated value is not refreshed..

[2019-09-04 01:22] zhenlan commented on #129
@klogan12, glad to see the progress. After you make changes to key-values in the App Configuration, please also make a change to the "Sentinel" key (please create one if you don't have such). This will signal your Azure Function to refresh the configuration once the current configuration cache window expires (60 seconds in my sample code above).

[2019-09-04 16:02] jimmyca15 commented on #133
@syndicatedshannon I apologize for the lost time trying to diagnose the failure to authenticate via MSI. We will take the opportunity to use this feedback so that others can be saved from a similar experience.

I am thinking of an error message which suggests the steps to alleviate this failure to connect rather than just describing a problem.

"The identity 'user@contoso.com' does not have access

[2019-09-04 23:02] syndicatedshannon commented on #133
I was not aware either, when I started troubleshooting.
[Understanding Azure MSI (Managed Service Identity) tokens & caching](https://blogs.msdn.microsoft.com/azuredev/2018/07/23/understanding-azure-msi-managed-service-identity-tokens-caching/)

Troubleshooting for this issue also may be related to [new configuration capabilities](https://docs.microsoft.com/en-us/azure/active-directory/develop/act

[2019-09-04 23:03] syndicatedshannon commented on #133
Note that restarting the application does not fix the problem, according to the above document.

[2019-09-06 06:22] wangyuantao opened #135 "feature control by non-http context?"
We want to use feature manager API (Microsoft.FeatureManagement) to implement feature control by context. Our app is running as worker role, so there is no http context as https://github.com/microsoft/FeatureManagement-Dotnet/blob/272a82a99c4d643ff8cd9456606d515f3763c5eb/examples/FeatureFlagDemo/BrowserFilter.cs.

Example:
_featureManager.IsEnabled("coolfeature", {tenantId:job.tenantId})
In Azure

[2019-09-06 06:46] VALLIS-NERIA opened #136 "How to refresh configuration in .NET Framework"
I followed [this instruction](https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-dotnet-app) to create a console app. `ConfigurationManager.RefreshSection("configBuilders");` does no help.

[2019-09-06 13:42] jmsalvo opened #137 "Offline Cache"
I saw a prior ticket related to the Offline Cache functionality, but I am still unclear how to use this feature.  I added the following to my code

 options.Connect(settings["ConnectionStrings:AppConfig"])
                            .SetOfflineCache(new OfflineFileCache(new OfflineFileCacheOptions
                            {
                                Path = "<Local Path>"

[2019-09-07 05:10] zhenlan commented on #137
@jmsalvo I apologize we are lack of documentation on this. You may have reviewed #45 already where I discussed what the API will be doing. Please note the `OfflineFileCache` will only work in *Azure App Service* currently. Since the whole idea of it is to work transparently, it will kick in automatically when your App Service application fails to connect to App Configuration at startup. You can fi

[2019-09-07 05:18] zhenlan commented on #136
@VALLIS-NERIA the .NET Framework configuration system does not support configuration change after the application is started. Please note this is a limitation of the .NET Framework `ConfigurationManager`.

[2019-09-07 05:28] zhenlan commented on #135
@wangyuantao this is not supported today but we are adding support of it - so you can pass in your own context to feature filters for feature flag evaluation. Stay tuned for our next update.

[2019-09-07 22:18] kipergil commented on #48
Just tried the service and find out there is no bulk delete feature. You should really consider bulk delete and bulk edit in order to make config management easier.

You should also let the user to edit all configs via json editor which is already available in webapp configuration page (advanced edit like below).

![json-edit](https://user-images.githubusercontent.com/1663748/64480761-90d2b000-d1c

[2019-09-09 02:05] jmsalvo commented on #137
Thank you for clarifying this only presently works for Azure App Services.

[2019-09-09 02:05] #137 closed

[2019-09-09 23:43] jimmyca15 commented on #135
This functionality is being introduced in this PR: https://github.com/microsoft/FeatureManagement-Dotnet/pull/14

[2019-09-11 02:57] zhenlan commented on #130
@HashTagDotNet please let us know if your issue is also solved. I am closing this issue for now.

[2019-09-11 02:57] #130 closed

[2019-09-11 02:58] zhenlan commented on #129
@klogan12 just to check if you get a chance to give this a try?

[2019-09-11 02:59] zhenlan commented on #124
@praveenlearns please let us know if you have further questions. Closing for now.

[2019-09-11 02:59] #124 closed

[2019-09-11 03:06] zhenlan commented on #54
There are multiple requested features tracked in this issue. 1 and 3 are already available. 2 is tracked in #119. So I am closing this issue.

[2019-09-11 03:06] #54 closed

[2019-09-15 07:20] xin9le opened #139 "Conflicts IAsyncEnumerable class under .NET Core 3.0"
# Summary

If we use `IAsyncEnumerable<T>` class under .NET Core 3.0, build error occures because of conflict. Japanese error message is below.

This occurs because the App Configuration library uses [Ix.NET](https://github.com/dotnet/reactive) v3.x. C# 8.0 now supports asynchronous streams (= `IAsyncEnumerable<T>`) as language level, so this conflict increases the potential for users that want to

[2019-09-16 11:24] shibayan opened #140 "Please change the namespace of the Configuration extensions methods"
As a convention of .NET Core / ASP.NET Core, the extension method namespace is generalized.

### Azure App Configuration (2.0.0-preview-009470001-1371)

![image](https://user-images.githubusercontent.com/1356444/64954044-68cb0700-d8bf-11e9-9dd5-6282f09f21cf.png)

### Example: Key Vault

![image](https://user-images.githubusercontent.com/1356444/64953975-420cd080-d8bf-11e9-86e5-19c517054bb3.png)

I

[2019-09-16 20:22] jimmyca15 commented on #140
This is a breaking change. We can still take it at this point but we will need to weigh out the pros and cons on this.

[2019-09-16 22:52] klogan12 commented on #129
@zhenlan Sorry for the delay. It works thanks a lot !

[2019-09-16 22:52] #129 closed

[2019-09-19 20:07] nhart12 opened #142 "Event grid subscriptions no longer working"
I had created some EventGrid subscriptions to a preview app configuration instance in East US. Today I can no longer see the subscription and receive the following error when clicking on Events

![image](https://user-images.githubusercontent.com/8458409/65277272-2982fd00-daef-11e9-95d0-9b063ec08c34.png)

Are event grid subscriptions really no longer available in East US or is this a UI bug?

[2019-09-20 06:49] MedAnd opened #143 "ConfigurationRefresher Refresh throws unhanded exception when called & hosted within a Service Fabric .Net Core stateful microservice"
### Actual:

Calling ConfigurationRefresher.Refresh() throws unhanded exceptions when hosted in a stateful Service Fabric .Net Core microservice.

### Expected:

Calling ConfigurationRefresher.Refresh() within Service Fabric .Net Core microservices (both stateless and stateful) is fully supported.

### Exception:

RunAsync reported Warning for property 'RunAsyncUnhandledException'.
System.Threadin

[2019-09-20 16:15] jimmyca15 commented on #142
@nhart12 This is a UI bug, working on resolving it. Thanks for notifying us!

[2019-09-20 19:22] abhilasharora commented on #143
@MedAnd I just tried creating a stateful service fabric application and ConfigurationRefresher.Refresh() works fine. The unhandled exception above is thrown when we receive a retriable error from the server and all our retry attempts are exhausted. I have a few questions to better understand the scenario here.

1. Could you share the code snippet where the Azure App Configuration provider is initi

[2019-09-21 01:24] zhenlan commented on #136
@VALLIS-NERIA please let me know if you have other questions. I am closing this issue for now.

[2019-09-21 01:24] #136 closed

[2019-09-21 02:31] jimmyca15 commented on #142
This has been resolved.

[2019-09-21 02:31] #142 closed

[2019-09-22 23:14] MedAnd commented on #143
@abhilasharora I initially observed the refresh working once but then I started getting this exception... not sure as to the root cause. As a general rule wondering if the method should throw unhandled exceptions, if so this would be good to document both at the code / interface level and also in the docs so that developers can follow a safe pattern, for example should we use a Polly to handle / r

[2019-09-23 01:14] MedAnd opened #144 "ConnectWithManagedIdentity API throws AzureServiceTokenProviderException when running in .Net Core Azure Service Fabric microservice"
### Actual:
Calling ConnectWithManagedIdentity throws AzureServiceTokenProviderException when hosted in a stateful Service Fabric .Net Core microservice.

### Expected:
Calling ConnectWithManagedIdentity within Service Fabric .Net Core microservices (both stateless and stateful) is fully supported. The ConnectWithManagedIdentity API should integrate with the **fabric:/System/ManagedIdentityTokenSe

[2019-09-24 12:08] MrTortoise opened #145 "Can no longer access AppConfiguration in Azure or through code via keys"
We have been using AppConfiguratino for around 2 months.

For some reason today it has stopped working for me - today.

I have tried creating new resources but I get the same error - also have cycled the keys.

When I goto view feature flags I get
`
Failed to load app configuration information from the server.
12:05 PM
An authorization error occurred while attempting to access the data.
`

I am a

[2019-09-24 16:28] zhenlan commented on #145
Hi @MrTortoise thanks for reporting the issue. Do you mind to drop me an email as I'd like to learn some more details (store name, when did it occur, has it recovered etc.)?

[2019-09-24 17:02] zhenlan commented on #144
Hi @MedAnd, I was not aware of the support of managed identity from service fabric according to [this](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/services-support-managed-identities), but after a quick search, I found service fabric just had a *preview* of managed identity support. Just to confirm... is this the same [document](https://docs.microsoft

[2019-09-24 18:13] richardpark-msft opened #146 "readme: Slack invite link has expired"
This link in the readme:

Slack: https://aka.ms/azconfig/slack

Leads me a page at slack that says "This invite link is no longer active. Please check with the person who shared it with you to see if there's a new link available." and I'm unable to join.

[2019-09-24 20:29] nhart12 commented on #142
Thanks @jimmyca15 the UI seems to work now, the events however are not firing consistently in our app configuration instance

[2019-09-24 22:04] jimmyca15 commented on #142
@nhart12. Is this happening in a single region with a single store? Do you mean events are firing sometimes, and then not firing other times or that they're not firing at all?

[2019-09-24 22:12] zhenlan commented on #146
@richardpark-msft can you please try again? The link is set to not expire, but @yegu-ms just refreshed it anyway.

[2019-09-24 22:17] jimmyca15 commented on #144
The exception you linked has an interesting piece: **"The api-version '2017-09-01' is not supported. Supported version is '2019-07-01-preview'."** It looks like the service fabric managed identity support is using a different api version. All of the msi token services are supposed to be able to be used for msi so will have to figure out where the disconnect is.

[2019-09-24 22:23] MedAnd commented on #144
Should I raise a Service Fabric support ticket, GitHub issue etc or will you guys coordinate?

[2019-09-24 22:46] richardpark-msft commented on #146
That did it - thanks!

[2019-09-24 22:46] #146 closed

[2019-09-24 22:59] trevonmckay opened #147 "Support single-value arrays"
I have implemented a custom filter using the IFeatureFilter interface and one of the Feature Settings parameter is a string array. In the Azure portal if I assign multiple values for the parameter then the array will return the correct values in the .NET app but if I only have one value then the string array returns null

    public enum EnvironmentFilterApplyMethod
    {
        Allow,
        Bl

[2019-09-24 23:34] jimmyca15 commented on #144
It sounds like service fabric implementation is missing an api version to me. So it may be faster if you open a support ticket for Service Fabric.

[2019-09-24 23:57] jimmyca15 commented on #144
@MedAnd we're also going to coordinate on our side to see if we can figure it out.

[2019-09-25 00:12] jimmyca15 commented on #147
It's actually unintended that it works when `Environments` is specified twice. Currently to write an array, you need to suffix with an index. E.g. `Environments:0` `Environments:1`, etc.

@MSGaryWang perhaps we could improve this functionality so that we add UI support for making arrays intuitive?

[2019-09-25 00:22] MedAnd commented on #144
Doing some research I've come across similar issues connecting to Key Vault... not sure if related?

https://luisfsgoncalves.wordpress.com/2018/09/06/asp-net-core-on-azure-service-fabric-accessing-key-vault-with-managed-identities-and-the-errors-on-the-token-endpoint/

[2019-09-25 00:53] jimmyca15 commented on #144
I think I may have found out what the issue is. Adding a reference to this NuGet package may resolve the issue: "Microsoft.Azure.Services.AppAuthentication" Version="1.3.1". It will take me a bit to be able to spend up a repro environment to verify this.

[2019-09-25 00:58] MedAnd commented on #144
Will test below as I've got the environment:

[2019-09-25 01:24] MedAnd commented on #144
Just tested with Microsoft.Azure.Services.AppAuthentication Version="1.3.1" and the same exception as above:

fabric:/ServiceFabric.DataProtection/DataProtectionService' reported Error for property 'AppConfigurationHealth'.
Microsoft.Azure.Services.AppAuthentication.AzureServiceTokenProviderException: Parameters: Connection String: [No connection string specified], Resource: https://management.azu

[2019-09-25 01:26] jimmyca15 commented on #144
@medand okay, that is the same root cause **The api-version '2017-09-01' is not supported. Supported version is '2019-07-01-preview'.** Will have to continue our follow up with Service Fabric. It is good that we confirmed the latest "Microsoft.Azure.Services.AppAuthentication" does not work though.

[2019-09-25 02:07] trevonmckay commented on #147
Thanks for that, I will try with the index suffix

[2019-09-25 09:28] SacredSkull commented on #68
I recently went up against this when trying to programmatically change the service implementation based on a feature toggle:

[code]

The idea being that in production, we'd enable this feature, and otherwise it would just log what it would've sent instead of actually sending emails to test accounts that don't really exist.

I was hoping that the Feature Management would cater for this, but I trie

[2019-09-25 14:02] nhart12 commented on #142
@jimmyca15 So this is happening in our East US store. Just tried again this morning, created a couple settings, updated them several times and then deleted. I have an EventGrid subscription setup for key-value Modified and Deleted. Only the deleted events fired

[2019-09-25 14:03] funkysi1701 opened #148 "Edit label in azure portal"
In the Azure portal it is not possible to edit the label you need to either remember to create your key with the label you want or recreate your key with the correct label.

If this is by design what is the reasoning behind not being able to edit labels?

[2019-09-25 17:17] abhilasharora commented on #143
`IConfigurationRefresher.Refresh()` currently throws when the HTTP response code received from the server is 429 (Too Many Requests) or 503 (Internal Server Error). However, these exceptions are currently not exposed and we throw a generic `TaskCancelledException` for these cases. We plan to move to the official .NET Core SDK (currently in progress) in our next stable release of the configuration

[2019-09-25 17:46] abhilasharora commented on #140
@shibayan Thanks for the feedback. Since this is a breaking change, it might take a while, but we will include it in our next major release for the configuration provider.

[2019-09-25 17:46] #140 closed

[2019-09-25 18:03] jimmyca15 commented on #142
There was a bug in event grid publishing identified last week. We are in the process of rolling out our fix for that. That may be causing your issue. When the fix is rolled out I will let you know.

[2019-09-25 18:09] nhart12 commented on #142
Ok perfect thanks for the info @jimmyca15 !

[2019-09-25 18:45] drago-draganov commented on #148
It's by design. Label doesn't live independently. It's a property/metadata of Key-Value entity that one or more items can associate with.

[2019-09-25 19:58] drago-draganov commented on #148
@funkysi1701,
Are you looking at editing label or a particular key, or migrate existing keys that use a label-A to label-B?

[2019-09-25 20:19] funkysi1701 commented on #148
I used the import from web app of my dev/test/prod environments (which worked great) however I forgot to set the label for one of the environments.

I went through one by one recreating the ones with no label but would have been nice to edit them instead

[2019-09-25 20:21] drago-draganov commented on #148
Would it be sufficient to edit the label manually one by one?

[2019-09-25 20:29] funkysi1701 commented on #148
that would be perfect

[2019-09-25 21:43] drago-draganov commented on #148
Then we should do it. Thanks for the suggestion!

[2019-09-25 22:26] brphelps commented on #129
@zhenlan  -- Is there an issue open to have a better pattern around refreshing for azure functions? I'm using a global startup and it feels pretty hacky to pull a lambda argument out and then register it as a singleton so other pieces of the app can inject it.

[2019-09-25 23:22] shibayan commented on #140
@abhilasharora I think that Breaking change is allowed while previewing. You actually have deleted the Watch / WatchAndReloadAll method.

It was quite a breaking change for me

[2019-09-26 00:48] jimmyca15 commented on #140
@shibayan I believe we moved from 1.x.x to 2.x.x with that change though? We certainly can make the change when we go to 3.x.x

[2019-09-26 07:33] shibayan commented on #140
@jimmyca15 Umm. In general, don't change the major version in preview. It is strange that the SDK version is v2.x.x or v3.x.x in the first release of the service 😕

I think it is important for usability to follow general rules.

[2019-09-26 08:55] xin9le commented on #139
Today, `Ix.Async` v4 has been GA :)
https://twitter.com/ReactiveX/status/1176981568491048961?s=20

[2019-09-26 09:25] MrTortoise commented on #145
All seems to of started working again now.

We can continue the email exchange if you want.
But I cannot reproduce anymore.

[2019-09-26 20:47] anujab opened #150 "Unable to create a new key-value using the Configuration explorer"
I'm trying to create the config values by clicking the 'Create' button in the Configuration explorer. The create blade opens up. After I enter the key and value, and I click the 'Apply' button, I'm getting a popup error - "ajaxExtended call failed". And the key-value is not getting created.

More details from the console:
 [Microsoft_Azure_AzConfig]  ‎5‎:‎10‎:‎33‎ ‎PM Resource/CreateEditItemBlade

[2019-09-27 00:35] chintan2201 opened #152 "Getting an error while loading configuration explorer in Azure App Configuration"
In Azure App Configuration,
- I am getting an error while going to configuration explorer and load all the key- value pairs.
  If I try to click on that error, it is loading "Overview" screen of the resource.
- I have tried this action with both "Owner" and "Contributor" access to the RG. I have approx 47 key-value pairs but I am not able to see anything.

![AppConfigError](https://user-images.git

[2019-09-27 02:42] zhenlan commented on #145
Thanks for the update, @MrTortoise. When this happens again, it's helpful to try in a new incognito window to avoid weird results due to browser caching. If you don't mind, can you please still drop me an email with the details I mentioned? I'd like to confirm there is nothing unexpected happening on the service side.

[2019-09-27 03:29] zhenlan commented on #150
Thanks for reporting the issue, @anujab. After a quick check, the request did not appear to reach the App Configuration service. Depending on your location, it may take a while for the DNS name of your AppConfig store to propagate to your DNS servers, so it may fail if you try to access it right after the store is created. If it's still not working now, then it's unlikely the DNS issue. Another po

[2019-09-27 03:36] zhenlan commented on #152
Thanks for reporting the issue @chintan2201. Can you please try this again in a new incognito window so we rule out any browser caching issue? If this still does not work, could you please drop me an email with some details (eg. AppConfig store name, when did this happen, has it recovered) and I will see if I can find anything from the service side.

[2019-09-27 03:42] zhenlan commented on #129
@brphelps in an MVC app, we are working on making it easy to obtain the instance of the refresher from DI, but in a console or function app, there is not much option, for example, it does not sound right to return the instance through ConfigurationBuilder (via an extension method) either. Any suggestions?

[2019-09-27 10:10] cannehag opened #153 "ConfigureRefresh: support for watching a group of keys"
Hi, I'm use App Configuration registration as follows:

builder.AddAzureAppConfiguration(configure =>
{
     var label = $"{config["Config:AppName"]}-{config["Config:ConfigName"]}";
     configure.Connect("xyz")
          .Use(KeyFilter.Any, label)
});

This is working perfectly fine. But when adding a ConfigureRefresh with the same key/label filter. I don't get any updates.
.ConfigureRefresh(refr

[2019-09-27 15:38] anujab commented on #150
It was a firewall issue on my local machine. I'm able to successfully create key-values from a different system. Thank you!

[2019-09-27 18:50] DWAK-ATTK opened #154 "GIGANTIC file sizes"
When adding the nuget packages, as per these MS instructions ( https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-dotnet-core-app ), it appears that it installs the entire AspNet Core runtime - inflating my console app from 9.2 MB to 21.8 MB.

That's absurd.

[2019-09-27 19:03] drago-draganov commented on #154
It's documentation issue. For console app, please use Microsoft.Extensions.Configuration.AzureAppConfiguration package.

https://www.nuget.org/packages/Microsoft.Extensions.Configuration.AzureAppConfiguration/

[2019-09-27 19:04] DWAK-ATTK commented on #154
Ah.  Thanks.

Wouldn't it be nice if there were unit tests for documentation.

[2019-09-27 19:13] drago-draganov commented on #153
Currently we support watching keys individually. The sentinel key approach is also to avoid getting intermediate states during update of multiple keys.
We plan to extend the refresh to allow the scenario you mentioned, indeed.

[2019-09-30 23:00] #150 closed

[2019-09-30 23:17] zhenlan commented on #154
PR to fix the doc: https://github.com/MicrosoftDocs/azure-docs/pull/39823

[2019-09-30 23:17] #154 closed

[2019-10-01 00:49] chintan2201 commented on #152
Hi Zhenlan,

It is also not working In incognito mode. Same Error.

It started from last two weeks.

Exactly what is the information you need from resource? Resource ID or Name of resource?

How should I send this information? Please give me your email id.

Thanks,
Chintan

[2019-10-01 01:26] zhenlan commented on #152
@chintan2201, thanks for the response.

Can you please navigate to the "Access control (IAM)" blade of your AppConfig store and make sure you or a security group you belong to are listed under either "contributor" role or "owner" role?

Did you try to create a new AppConfig store, add some key-values and see if you have the same issue?

Just in case, can you please make sure you don't have a firew

[2019-10-02 03:46] #145 closed

[2019-10-02 16:31] jmsalvo commented on #142
@jimmyca15 Can you provide an update regarding when you anticipate the event grid publishing issues may be resolved?  Also, is a GA estimate available...the most recent discussion around this mentioned October timeframe, is that still a possibility?

[2019-10-02 16:49] jimmyca15 commented on #142
@jmsalvo event grid publishing changes are getting rolled out region by region. Expected to all regions by thursday eod.

Estimated GA is still end of October. Thanks.

[2019-10-03 15:22] yegu-ms opened #156 "No explanation for using Labels"
Tracking issue for https://github.com/MicrosoftDocs/azure-docs/issues/34839

[2019-10-03 16:27] zhenlan commented on #156
We sort of intentionally left out the label in quickstart documents to make the quickstart easy. Given the label is a concept of AppConfig, should we add a section in all quickstart documents to show how to use label too? We saw similar questions about label in the past too. Thoughts?

cc: @lisaguthrie

[2019-10-03 17:23] lisaguthrie commented on #156
I absolutely agree that we need this documentation. I think a scenario-focused tutorial would be a better approach. Keep the quickstarts... quick.

[2019-10-04 19:39] jimmyca15 commented on #142
Yesterday we deployed a fix to event grid to improve some event publishing reliability issues we were facing. Please open another issue if you are still experiencing problems.

[2019-10-04 20:41] chintan2201 commented on #152
Hi Zhenlan,

Our issue is resolved. From your suggestion in previous comment, we found that our azure config url was blocked from SAW white listing.

Thanks for giving us possible root causes.

Thanks,
Chintan

[2019-10-04 20:41] #152 closed

[2019-10-05 21:17] suddenelfilio commented on #148
I had the same issue imported 40+ settings. Quickest way was to delete the App Configuration resource and recreate it. Bulk update for labels would be nicer then setting hem one by one...

[2019-10-07 00:48] gasia89 opened #158 "No documentation for programmically setting config values"
In the Azure Portal in the 'Access Keys', section there are 2 types of keys, read keys, and read/write keys. However, nowhere in the documentation does it say anything about programmatically setting configuration values.

![AppConfiguration_1](https://user-images.githubusercontent.com/17482659/66278740-f071b900-e860-11e9-9d6b-5f8849ff21f0.png)

[2019-10-08 01:05] zhenlan commented on #2
The filter has been redesigned. Close for now and will watch out for future customer feedback.

[2019-10-08 01:05] #2 closed

[2019-10-08 14:29] jpconnock commented on #156
If the label is not required to complete the quickstarts, I agree with Lisa -- let's create a tutorial that walks the customer through the use of labels from concept to implementation.  I'm syncing with Lisa this week, so I'll get details from her and put together a draft.

[2019-10-12 01:01] MedAnd commented on #143
Has this been fixed, in which release? Thx.

[2019-10-12 01:09] zhenlan commented on #62
We just announced the Key Vault Reference feature in App Configuration. Please open new issues if you have any feedback.
https://github.com/Azure/AppConfiguration-Announcements/issues/1

[2019-10-12 01:15] abhilasharora commented on #143
This issue is currently tracked [here](https://github.com/Azure/AppConfiguration/issues/144).

[2019-10-12 01:21] MedAnd commented on #143
These seem to be two different and separate issues. This one is specifically for refresh throwing unhandled exception. Wonder why close this without an incoming fix?

[2019-10-12 01:22] zhenlan commented on #158
I think this is about the documentation of using SDK.

@gasia89 I agree this is not clear in our current documentation (https://aka.ms/AzureAppConfiguration). Before we make it better, you can find SDK information under `Reference`->`Configuration`->`.NET/Java/Python/Javascript Azure SDK`.

cc: @lisaguthrie

[2019-10-12 01:29] zhenlan commented on #111
We just released a new version of `Microsoft.Azure.AppConfiguration.AspNetCore` which removed the reference to `Microsoft.FeatureManagement.AspNetCore`. Please check out the [release notes](https://github.com/Azure/AppConfiguration/blob/master/releaseNotes/MicrosoftAzureAppConfigurationAspNetCore.md#200-preview-010060003-1250---october-03-2019).

[2019-10-12 01:29] #111 closed

[2019-10-12 01:34] abhilasharora commented on #143
By design, refresh will continue to throw unhandled exception in the scenarios I specified earlier. The type of the exception might change in the first stable release but we don't expect any changes in the behavior. This allows developers to handle cases when all attempts toupdate the configuration fail instead of failing silently. Could you clarify what is the expectation from this issue?

[2019-10-12 06:37] MedAnd commented on #143
As this is by design, documentation should guide developers on how to handle the exception, assuming it will always be just the one type of exception?

For example should we re-try, with back-off then if still not working should we revert to a cached (stored) last known good configuration, or maybe use a secondary etc?

Please also annotate the code so that intellisense and go to definition contai

[2019-10-13 13:36] gasia89 commented on #158
@zhenlan I looked at the documentation you recommended, however, my question remains. All of that information is related to pulling information down from Azure. We have a key section, that is labled as a "Read-write keys", and a key section that is labled as, "Read-only keys". Let me be more specific in my question.

 What is the functional difference between the "Read-write Keys" and the "Read-on

[2019-10-14 17:49] zhenlan commented on #158
Hi @gasia89, I was not very sure about your question. Thanks for the clarification.

The short answer is, yes, you can already write config to the server programmatically using SDKs (besides using REST APIs).

Here goes the long answer :)
#### Access keys
- *Read-write keys* can be used for both reading and writing configuration from/to an App Configuration store.
- *Read-only keys* can only be us

[2019-10-14 21:56] jimmyca15 commented on #133
We have released an update to the `Microsoft.Extensions.Configuration.AzureAppConfiguration` package which now has the enhanced error message I suggested.

Release notes [here](https://github.com/Azure/AppConfiguration/blob/master/releaseNotes/MicrosoftExtensionsConfigurationAzureAppConfiguration.md#200-preview-010050001-38---october-03-2019)

[2019-10-14 21:56] #133 closed

[2019-10-16 08:26] tianweiliu opened #160 "Example Go authentication does not handle escaped path and escaped query string"
In the golang section of the authentication code : https://github.com/Azure/AppConfiguration/blob/master/docs/REST/authentication.md#golang

signature is calculated based on `RawPath` and `RawQuery`, this is causing any api call to key or label containing special characters returning with 401 Unauthorized. For example, I have the following key-value and label pair using .Net Core config naming con

[2019-10-16 17:54] abhilasharora commented on #160
Thanks @tianweiliu for reporting the issue. This has now been fixed.

[2019-10-16 17:54] #160 closed

[2019-10-16 18:49] gasia89 commented on #158
Perfect! That was exactly the documentation I needed. I was not thinking about this from the context of it being a configuration provider. Once you said that it made more sense why this works this way.

I do agree that the documentation could use some clarity on this topic. I did not see any mention of the sdk in other documentation, and I did delve into the readme a bit. I did not see the example

[2019-10-16 18:49] #158 closed

[2019-10-16 20:49] zhenlan commented on #158
Great feedback, @gasia89. Thank you! We will definitely looking into improving the documentation.

[2019-10-21 21:40] nickalbrecht opened #162 "Storing Application Insights' Instrumentation Key in AzureAppConfig"
Environment details:
ASP.NET Core application (discovered in 2.2, reproduced in 3.0 before filing issue), Not sure if this is a caveat/bug for ApplicationInsights or AzureAppConfiguration, but I wanted to bring it up.

I believe I may have found a compatibility issue when using the default setup with Application Insights and Azure App Configuration? It seems like something in the AzureAppConfigura

[2019-10-22 02:31] calloncampbell opened #163 "Import not working"
When referencing either the docs or the 2 videos online that shows how to get started with Azure App Configuration and when it comes to the import section...it doesn't work. Shows 0 items imported with no reason why. I'm using the exact same JSON file as shown in the video.

[2019-10-22 03:01] #163 closed

[2019-10-22 03:02] calloncampbell commented on #163
Found a syntax issue in my JSON file. It's working now.

[2019-10-23 05:13] zhenlan commented on #139
This issue will be addressed in an updated release next week.

[2019-10-23 22:43] kuhsaft opened #165 "Microsoft.Azure.AppConfiguration.AspNetCore does not support User-Assigned Managed Identities"
When using a user-assigned managed identity with a Contributer role assigned to the resource the following error occurs:

[code]

I am using AAD Pod Identity to add the managed identity to my AKS deployment.

Upon further digging it appears that the library is using `Microsoft.Azure.Services.AppAuthentication=1.0.3.0` which does not support user-assigned managed identities.

Is it possible to have

[2019-10-24 00:47] zhenlan commented on #165
@kuhsaft thanks for reporting the issue. We are making changes in how we support managed identity. Yes, we will add the support of the user-assigned managed identity as part of the change.

[2019-10-25 07:28] sabbadino commented on #162
Same for me : this  does not work
            services.AddApplicationInsightsTelemetry();
While this works :
            var key = Configuration["ApplicationInsights:InstrumentationKey"];
            services.AddApplicationInsightsTelemetry(key);

[2019-10-25 21:47] devblackops opened #169 "az cli can not filter on KV items with no label using the --label parameter"
According to the [docs](https://docs.microsoft.com/en-us/azure/azure-app-configuration/concept-key-value#query-key-values), you can query for KV items that don't have a label by using `label=%00`. This does not work when using the az cli.

Example
[code]

When querying for no label **or** `E-1`, only items matching `E-1` are returned.

[code]

[2019-10-28 17:38] zhenlan commented on #142
Hi @nhart12 and @jmsalvo, I want to give you an update. We just posted our GA and pricing plan. Please check it out.
https://github.com/Azure/AppConfiguration-Announcements/issues/2

[2019-10-28 20:01] danroth27 opened #170 "How to use azure feature flag in asp.net core Blazor"
_From @ajai1109 on Friday, October 25, 2019 12:30:26 PM_

How to use azure feature flag in asp.net core Blazor

_Copied from original issue: aspnet/AspNetCore#15592_

[2019-10-28 20:01] danroth27 commented on #170
_From @javiercn on Monday, October 28, 2019 8:49:51 AM_

@ajai1109 thanks for contacting us.

Can you provide a bit more details on what you are trying to achieve? We're not sure what "azure feature flag" means in this context.

[2019-10-28 20:01] danroth27 commented on #170
_From @ajai1109 on Monday, October 28, 2019 1:46:04 PM_

I am trying to implement azure feature flags in asp.net core blazor project. Please go through this link https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-feature-flag-aspnet-core for your reference

[2019-10-28 20:01] danroth27 commented on #170
_From @javiercn on Monday, October 28, 2019 1:57:23 PM_

@ajai1109 There's no specific support on Blazor to do that, and that's not something that the ASP.NET Core team works on.

@bradygaster Can you loop in the right people here so that we can provide guidance or improve the experience for Blazor users?

To get a faster response we suggest posting your questions to StackOverflow using the asp.ne

[2019-10-28 20:42] jmezach opened #171 "AppConfiguration GA and feature flags"
I saw the announcement in Azure/AppConfiguration-Announcements#2 and was wondering if the GA announcement includes the feature flag part, or if that is separate from the AppConfiguration service?

[2019-10-28 20:59] abhilasharora commented on #162
The current implementation of `IServiceCollection.AddApplicationInsightsTelemetry` extension method with no arguments uses the [default options](https://github.com/microsoft/ApplicationInsights-aspnetcore/blob/develop/NETCORE/src/Microsoft.ApplicationInsights.AspNetCore/Extensions/DefaultApplicationInsightsServiceConfigureOptions.cs) that only use configuration from certain locations specified in

[2019-10-29 09:04] ajai1109 commented on #170
Is there any documentation to implement azure feature flags in asp.net core blazor application.

[2019-10-29 15:14] TheBrogrammerGV commented on #170
I understand that **Azure App Configuration** is still in preview and I also get that there probably isn't going to be a plug-and-play solution for FeatureManagement with Blazor... But maybe just some guidance, or a recommended route to take on how to get Feature Management at the component level. (or potentially where our feature management should lay if not at the component or page level)

With

[2019-10-29 16:59] danroth27 commented on #170
@yegu-ms

[2019-10-29 19:33] rosrosros opened #173 "Timeout when calling Refresh()"
I'm following this tutorial: https://docs.microsoft.com/en-us/azure/azure-app-configuration/enable-dynamic-configuration-dotnet

What am I doing wrong?

But doing multiple refresh calls I get this error:

[code]

My code:

`private static IConfigurationRefresher _configurationRefresher;

        static void Main(string[] args)
        {
            string message = System.Configuration.Configurati

[2019-10-29 22:31] shenmuxiaosen commented on #169
Thanks for reporting this! The document that you mentioned is for restful API instead of CLI.  If you want to query items without a label just do
[code]

We do have a bug for listing multiple labels which contains "no label". We will fix this and add examples for query no label items in next release in November.

[2019-10-29 23:35] abhilasharora commented on #173
@rosrosros To better understand the issue, could you share how many key-values exist in the configuration store that you're trying to access in your code?

[2019-10-30 04:27] zhenlan commented on #170
@ajai1109 good question. This is an area we didn't look into feature management support yet.

The Azure App Configuration is mainly targeting server/service scenarios at this point. We are interested to extend it to client scenarios in the future (eg. support millions of concurrent client requests for one config store). Blazor is for client web development. We need to explore how the App Configura

[2019-10-30 04:34] zhenlan commented on #171
Hi @jmezach, yes, the feature flag will be part of the GA as the current plan.

[2019-10-30 05:54] rosrosros commented on #173
Only a couple of test keys and feature flags.

[2019-10-30 06:18] zhenlan commented on #173
@rosrosros thanks for reporting the issue. I can reproduce it with the code you provided. We will take a further look.

[2019-10-30 14:14] abbasc52 opened #174 "What is the max size limit for a string value in appconfiguration?"
I am planning to store a list of ids as comma separated string. I would like to know what is the max size of string app config service can handle and if there are some guidelines we need to follow?

[2019-10-30 16:05] drago-draganov commented on #174
Single key-value item can be maximum 10KB.

[2019-10-30 21:54] abhilasharora commented on #173
@rosrosros We have a local fix for this issue and it would be included in the next release of the Nuget package `Microsoft.Extensions.Configuration.AzureAppConfiguration`.

[2019-10-31 04:45] zhenlan commented on #170
This is also tracked in https://github.com/microsoft/FeatureManagement-Dotnet/issues/4

[2019-10-31 05:00] zhenlan opened #175 "Demo app failed with internal server error"
*From @harrchen88 commented on Sep 29*

https://github.com/microsoft/FeatureManagement-Dotnet/issues/16

[2019-10-31 06:46] rosrosros commented on #173
@abhilasharora Thanks.
Is it correct that I should call `_configurationRefresher.Refresh().Wait()` before each call to `configuration["TestApp:Settings:Message"]` ?

Or do you have an example of another approach with using the dotnet framework?

[2019-10-31 16:59] abhilasharora commented on #173
@rosrosros It is up to developers to invoke `_configurationRefresher.Refresh()` method as appropriate for their use case. In a typical case, the call could be made before each code snippet that expects a possibly updated value of the key-values registered for refresh. In case the code only expects to check an updated value in certain conditions, then the call could be made just before that conditi

[2019-10-31 19:54] EvanMulawski opened #176 "Clarification on GA pricing"
GA pricing was announced here: https://github.com/Azure/AppConfiguration-Announcements/issues/2

1. What is a store? Is it one instance of App Config?
1. Is the pricing per-store or per-subscription? e.g. if I have three App Config instances, is the total cost $1.20/day or $3.60/day?

[2019-10-31 23:34] lisaguthrie commented on #176
Hi @EvanMulawski,

1. Yes, a store is a single instance of App Config, aka a single App Config resource. When you go into the App Configuration blade in the portal -- each line listed there is a store/instance/resource.

2. Pricing is per store, not per subscription, so the scenario you outline would be $3.60/day.

[2019-11-01 03:07] perrymana commented on #169
That syntax didn't work for me (when using powershell) to query blank labels. Running:
[code]
resulted in an error
[code]

Instead I needed to use this syntax:
[code]

[2019-11-01 15:17] msajid opened #177 "Refresh does not reload Key Vault referenced secrets"
I was trying Key Vault reference feature and it looks like refresh doesn't work with referenced secrets.

  <PackageReference Include="Microsoft.Extensions.Configuration.AzureAppConfiguration" Version="2.0.0-preview-010050001-38" />

[2019-11-01 15:28] msajid opened #178 "Allow Geo-replication for App Configuration."
Allow Geo-replication to achieve high availability and performance benefits. Currently there is no option other than creating multiple instances of the service and replicating manually using import/export feature.

[2019-11-01 16:14] zhenlan commented on #177
If the secret is changed in Key Vault, the App Config would not know. This is the scenario a sentinel key would be useful to signal the application to reload configuration including secrets from the Key Vault.

[2019-11-01 16:17] zhenlan commented on #178
Thanks for the suggestion @msajid. Yes, this is definitely something we would love to support in the future.

[2019-11-01 18:51] Zettersten opened #179 "Question: Can Azure AppConfiguration be used behind a corporate firewall?"
Hello,

As the title states; Can we use application configuration behind a corporate firewall?

A lot of other Azure Native services like CosmosDb expose HttpMessageHandler for HTTP-based requests. With that, we are able to pass in custom proxy logic (via the IWebProxy interface).

Is there a way to configure a proxy with this service? If yes, how and where can I read about it? If no, is there som

[2019-11-04 16:55] msajid opened #180 "Refresh (in already running application instances) does not reload or crash when referenced Key Vault secret is deleted"
If you delete a referenced Key Vault secret without removing the reference Key from App Configuration, running applications instances do not crash or reload other items, (probably due to the local caching) This behavior is misleading. Imagine if someone deletes a secret and forgets to delete the related key from the App Configuration, it might put applications in an invalid state.

When you restar

[2019-11-04 18:04] aL3891 commented on #139
its been two weeks now, any word on that update? :)

[2019-11-04 18:58] shenmuxiaosen commented on #169
For current CLI implementation, we use empty string to represent null label. However, different command shell has different behaviors parsing the arguments. [Doc](https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#quoting-issues). CLI framework team is still working on adding more details for quoting issues for powershell.

Regarding to ``` az appconfig kv list ```  label issue

[2019-11-04 18:58] zhenlan commented on #180
Thanks for the feedback, @msajid. Just to make sure I understand, here is what you suggest

For an invalid Key Vault reference (eg. the actual secret is deleted),
- Throw at the app start-up time (ie. the first time load of configuration)
- Do not throw at configuration refresh (eg. triggered by sentinel key change)

This sounds reasonable to me. In the second case, however, the old value from Key

[2019-11-04 19:43] drago-draganov commented on #180
It's by design.
The secret from Azure Keyvault may have changed, but the Keyvault app config reference itself isn't. It's more or less like a shortcut to a file. One can delete the file, but the shortcut isn't affected.
AppConfiguration doesn't cache/store Keyvault secrets. When it's asked to refresh, it will always try to fetch from Keyvault.
The issue here is that Keyvault didn't offer a mechani

[2019-11-04 19:44] msajid commented on #180
- Throw at the app start-up time (ie. the first time load of configuration) **Yes this is the expected behavior in my opinion and it works as expected.**
- Do not throw at configuration refresh (eg. triggered by sentinel key change) **Yes this is exactly what is happening, I think client provider should throw exception at the refresh when secret doesn't exists or invalid. Here is how I experienced

[2019-11-04 20:02] msajid commented on #180
@drago-draganov Thanks for the clarification, I am referring to a different issue.
I think refresh does not happen when there is problem fetching a value for the Key Vault secret.

[2019-11-04 21:00] EvanMulawski commented on #176
Thanks, @lisaguthrie. At first, I was concerned about the high cost for this service where we have many small, independent applications and services (especially if not utilizing the Feature Management feature). However, after reviewing a [section of the documentation](https://docs.microsoft.com/en-us/azure/azure-app-configuration/concept-key-value#design-key-namespaces), it looks like it is intend

[2019-11-04 22:58] #174 closed

[2019-11-04 23:42] drago-draganov commented on #180
I realized I was referring to different scenario by reading your last message. Sorry about that.

There are 2 different workflows to consider.

###1. Loading configuration at startup:
Any error is propagated to the caller.

###2. Runtime Refresh:
Refresh is atomic - succeeds when all requested config settings are successfully materialized.

In ASP.NET Core app, if you call ```UseAzureAppConfigurat

[2019-11-05 00:32] drago-draganov commented on #179
@annelo-msft thoughts?

[2019-11-05 00:39] abhilasharora commented on #139
@xin9le @aL3891 We just released version `2.1.0-preview-010380001-1099` of the Nuget package `Microsoft.Extensions.Configuration.AzureAppConfiguration` that no longer depends on `System.Interactive.Async`.

[2019-11-05 00:43] abhilasharora commented on #140
@shibayan We just released version `2.1.0-preview` of the packages with the namespace change.

[2019-11-05 12:41] Prince269090 opened #181 "Unable to delete configuration from ui"
While trying to delete the configuration settings from Azure UI which below key, I am getting error.

[code]

![image](https://user-images.githubusercontent.com/34852023/68208544-60599780-fff7-11e9-83d0-fcf54f4dba4e.png)

[2019-11-05 18:56] zhenlan commented on #181
Hi @Prince269090 I'm able to create and delete the key (``~`!@#$^&()_+=[]{}|;"'<>./--1114869967``) from the Azure portal without problems. Do you mind to list the key using Azure CLI and share the outputs so I can be sure I am trying the same key.

![image](https://user-images.githubusercontent.com/10566826/68236334-d17a5a00-ffb9-11e9-8687-7dc357c830fd.png)

[2019-11-05 19:02] zhenlan commented on #181
@Prince269090 Just noticed from your screenshot your label has special characters too. I'm able to repro the issue in this case.

@MSGaryWang can you please take a look?

[2019-11-05 19:16] #139 closed

[2019-11-05 19:34] MSGaryWang commented on #181
This looks a known issue related to the inconsistent single quote encoding which lead to the wrong signature value. The fix is already on the way and should be deployed soon.

[2019-11-05 23:29] abhilasharora commented on #173
@rosrosros This issue has been fixed in the version `2.1.0-preview-010380001-1099` of the package `Microsoft.Extensions.Configuration.AzureAppConfiguration` that was released yesterday.

[2019-11-05 23:29] #173 closed

[2019-11-05 23:43] abhilasharora commented on #175
@harrchen What version of ASP.NET Core are you using? Have you try deleting the `bin` and `obj` directories and rebuilding the project? If the issue still persists, please share the code snippet so we can reproduce it on our end.

[2019-11-06 00:09] zhenlan commented on #176
@EvanMulawski, correct, use different stores as security boundaries, for example, prod vs. testing or use different stores for redundancy, for example, one as the backup of another; otherwise, use one store for your centralized storage of all your configuration.

[2019-11-06 00:13] zhenlan commented on #176
BTW, we updated the announcement to use the term "resource" to refer to the store or instance of App Configuration. Thanks for the feedback, @EvanMulawski.

[2019-11-06 00:18] #177 closed

[2019-11-06 00:19] #171 closed

[2019-11-06 02:33] wahyuen commented on #119
@zhenlan Just checking to see if this ended up getting implemented? or still pending?

[2019-11-06 02:42] zhenlan commented on #119
@wahyuen, sorry, this took longer than I would like, but we are working on it. Most implementation is done. We are finalizing a few last pieces such as permission model and documentation. I will keep this thread posted once we have it out.

[2019-11-06 17:47] bradygaster commented on #170
@danroth27 and rest - apologies, just saw this note. @ajai1109 have you taken a look at this documentation?

https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-feature-flag-aspnet-core

If so, is there a functionality gap you're witnessing with Blazor apps? Or, are you more explicitly asking about **client-side Blazor** support for Azure Feature Flags and/or Azure App Config

[2019-11-06 19:06] drago-draganov commented on #179
@Zettersten
The scenario will be supported via options passed to AddAzureAppConfiguration.

[2019-11-06 23:41] brennerm opened #184 "Internal server error when creating App Configuration using Azure SDK for Go"
I'm currently implementing a new Terraform resource to be able to create App Configuration instances. Using the Azure SDK for Go, creating works fine but requesting the operationsStatus I end up with following error response:
[code]
Below you can find the response from the creation request:
[code]

For more information you can read through [my code](https://github.com/brennerm/terraform-provider-a

[2019-11-07 05:54] ajai1109 commented on #170
@bradygaster I have gone through that document but it is not straight forward to implement Azure-Feature-Flags in Blazor app server side. If any document specific to Blazor applications it will be helpful for all those who are planning to implement Azure-Feature-Flags in Blazor app.

[2019-11-07 06:07] msajid commented on #180
Thanks @drago-draganov this is exactly what I was looking for 👍.

[2019-11-08 08:18] BenjaBobs opened #185 "[MSI] System.UnauthorizedAccessException: The specified user '<guid>' does not have the permissions required to access the configuration store."
As the title suggests, my App Service is getting an unauthorized access exception when trying to connect with MSI to my AAC.

The rest of the stack trace:
[code]

By looking through the resources I found that I'm supposed to give the app service the `Contributor` role, so I did that, waited a few minutes and restarted the app service.

![image](https://user-images.githubusercontent.com/8708965/684

[2019-11-08 08:29] BenjaBobs commented on #185
The issue seems to have resolved itself. About 40 minutes after granting the `Contributor` role the app service is now no longer getting the `UnauthorizedAccessException`.

[2019-11-08 08:29] #185 closed

[2019-11-08 13:20] stilren opened #186 "Storing a SQLAzure connection string as a value"
Hi! Im trying to store a value in a app configuration that is supposed to be used as a SQLAzure connection string but I cannot get the formatting of the value input right

Using .net framework 4.7.2

This would be the xml:
`` <add name="MyDb" connectionString="Server=(LocalDb)\MSSQLLocalDB;Database=MyDb;Integrated Security=true;ConnectRetryCount=3;ConnectRetryInterval=10;Connection Timeout=30;" pr

[2019-11-08 18:23] StephenMolloy commented on #186
Presumably you are using 'Microsoft.Configuration.ConfigurationBuilders.AzureAppConfiguration' for pulling connection string values into config?

In this case, the 'Microsoft.Configuration.ConfigurationBuilders.*' collection of builders are simple key/value substitutes. So they aren't really capable of providing what is essentially two values (connectionString, providerName) for one key out of the

[2019-11-11 23:15] jimmyca15 commented on #184
Hello @brennerm,

It looks like this issue is caused by [specifying a non-valid SKU](https://github.com/brennerm/terraform-provider-azurerm/blob/a367d2bdeb4e6a41a0d455539a20536e5203d070/azurerm/resource_arm_app_configuration.go#L96) in the `sku` parameter of the configuration store resource. You can help confirm this by providing a valid SKU ("free" or "standard") and seeing if that fixes the issu

[2019-11-12 00:19] brennerm commented on #184
Hey @jimmyca15, thanks for coming back to me.

I had indeed trouble finding the correct SKU names so thanks for the explanation. Using `free` as the SKU resolved my problem and the deployment went through. :tada: Documenting these somewhere appropriate would definitely help other people to work with your API/SDK.

Always happy to help out, thanks for your support. :+1:

[2019-11-12 00:19] #184 closed

[2019-11-13 00:05] bryan-hicks opened #189 "Feature flags exported to JSON cannot be imported as feature flags"
Feature flags exported to JSON cannot be imported as feature flags; they import as general dynamic configuration properties. If I try to change the content type to the feature flag content type in the portal, the operation fails because the feature flag content type is restricted.

[2019-11-13 00:13] bryan-hicks opened #190 "Support importing feature flags from service configuration JSON file"
Please add support for importing feature flags from service configuration JSON files. E.g., I would like to be able to import something like the following:
[code]

[2019-11-13 02:29] zhenlan commented on #190
Thanks for the feedback, @bryan-hicks. We are adding the support of this to Azure CLI.

[2019-11-13 02:40] zhenlan commented on #189
The import/export of feature flags from/to files is not supported currently and will be added to Azure CLI first. @bryan-hicks, I will be using the issue #190 you created to track this item.

(PS. I believe you can still use CLI to set the feature flag content type.)

[2019-11-13 03:12] #189 closed

[2019-11-14 08:09] stilren commented on #186
This works for my application! Thanks @StephenMolloy

[2019-11-19 22:08] jimmyca15 commented on #186
Looks like this was resolved.

[2019-11-19 22:08] #186 closed

[2019-11-20 11:23] mmigala opened #192 "Support export/import of all elements. Not only by label."
Hello,

would it be possible to add support for export/import of all elements in Azure app configuration ? Right now we have around 10 labels in our Azure app config. It's real pain to have to export them one label at a time which is really time consuming and not user friendly. The (No Label) option only exports elements with no Label. There should be option like 'All'.

![image](https://user-imag

[2019-11-21 18:13] jmsalvo opened #193 "UI hangs when filtering to a specific label in Configuration Explorer"
We recently noticed in the Configuration Explorer when a label is selected from the drop-down, the UI hangs/spins continuously and never displays the list of key-values associated with that label.

[2019-11-21 18:32] zhenlan commented on #192
Hi @mmigala, can you please help me to understand your scenario better?
1. JSON file doesn't have a concept of the label. When you export multiple labels, there could be multiple values for the same key. How do you like the exported file look like?
2. Do you mind to share why you need to export config to files repeatedly?

[2019-11-21 18:38] zhenlan commented on #193
Thanks for reporting the issue, @jmsalvo. This has been fixed and will be deployed this week.

cc: @jiayi11 @MSGaryWang

[2019-11-22 05:10] andrewschmidt-a opened #194 "Too many calls breaks key-value"
We believe we are making too many calls to a key-value of app config and that it puts that key into a failed state. the reason for this is that we have a function that triggers on lifecycle changes from iothub and pulls a key from app config. When we create 1000+ devices in the span of a few seconds the key in app config starts returning this error

[code]

All other keys work with the exact same

[2019-11-22 08:19] zhenlan commented on #194
@andrewschmidt-a, it appears the request is throttled. The exception message is misleading that we will need to take a look.

The App Configuration is targeting server/services scenario at this point, so when 1000+ requests coming for the same config store at the same time, they may be throttled. It will be more efficient if you could load and cache all configuration when the function app starts u

[2019-11-22 08:23] zhenlan commented on #194
BTW, can you please share the version of the SDK you are using?

[2019-11-22 09:39] mmigala commented on #192
Hey @zhenlan

I don't care about the format as much as the possiblity to easily export/import my Azure app configuration in a single step. If there is such a funcionality as export I don't see why I have to do it in 9-10 steps which is required if I have labels. the same goes for export to different Azure app configuration (doesn't have to be a file)

Regards

[2019-11-22 14:43] jusbuc2k commented on #101
Any update on this issue?

[2019-11-22 16:48] lpunderscore opened #195 "Allow provided refresher to work in function apps like it does in api."
In api projects, the refresher configured with the appconfiguration service is automatically handled when using the (app.UseAzureAppConfiguration()) middleware.

The middleware will call refresher.refresh(), which side note, returns a task which is never awaited and ends up only working on the subsequent call... but anyways.

That is not available in function apps, which forces us to manually inje

[2019-11-22 18:48] andrewschmidt-a commented on #194
we are using 1.0.0.preview!

However we actually found it is not originating from an azure function but one of our C# APIs.

Is there any information on the behaviour of the throttling? do we get cut off for a day? is it scoped to the key that you pounded over and over?

[2019-11-22 18:54] shenmuxiaosen commented on #195
+ @abhilasharora

[2019-11-22 19:36] jiayi11 commented on #193
Hello @jmsalvo. The fix for this issue is already been deployed. I'm closing this issue. But feel free to comment or reopen it if you have more questions.

[2019-11-22 19:36] #193 closed

[2019-11-22 19:42] drago-draganov commented on #195
@lpunderscore

Allow me to provide a bit of context.

Configuration refresh is meant to be unobtrusive, background operation with bounded staleness consistency. Our goal is to stay of the way of the application request processing. This is the reason the ASP.NET Core middleware doesn't await the refresh operation. As you rightfully noted, the side effect is that the subsequent request will see the

[2019-11-22 20:06] drago-draganov commented on #194
@andrewschmidt-a

Throttling tells the client to slow don't a bit and retry. All of this is handled automatically by the SDK. In this case it seems you've hit a issue with 1.0.0.preview SDK. It should be addressed in the [latest](https://www.nuget.org/packages/Azure.Data.AppConfiguration/) release.

Regarding throttling policy, please refer to [App Configuration GA notes](https://github.com/Azure/

[2019-11-22 20:09] drago-draganov commented on #194
@andrewschmidt-a

Throttling tells the client to slow don't a bit and retry. All of this is handled automatically by the SDK. In this case it seems you've hit a issue with 1.0.0.preview. It should be addressed in the [latest](https://www.nuget.org/packages/Azure.Data.AppConfiguration/) release.

Regarding throttling policy, please refer to [App Configuration GA notes](https://github.com/Azure/AppC

[2019-11-22 20:14] drago-draganov commented on #194
@andrewschmidt-a

Here are the details of the issue I referenced earlier.

https://github.com/Azure/azure-sdk-for-net/issues/8171

[2019-11-22 20:32] lpunderscore commented on #195
@drago-draganov Hi,

Yes azure function apps, sorry for the confusion.

As for not awaiting the call, the only issue with it is when, for example, I change a value in app configuration service, I would expect my next call within 1 minute to an api in production to use those new values. But it will only be the second call to that api that will have the new values. Minor inconvenience in our case, a

[2019-11-22 21:26] drago-draganov commented on #195
Thanks, @lpunderscore

Can you take a look at [Create an Azure Functions app with Azure App Configuration](
https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-azure-functions-csharp)?

[2019-11-22 21:36] lpunderscore commented on #195
I understand we can manually refresh in each function call, we have started to put this in place. But,  we have hundreds of functions across many function apps, this means putting this 1 liner everywhere in our functions. Starting to look like code smell to me.

We need to be able to hook the refresh somewhere central that is executed on each function invoke.

I also do not think this is intuitive

[2019-11-22 22:11] drago-draganov commented on #195
@lpunderscore

Got it. It's indeed specific of how Azure Function pipeline works.

Perhaps [Azure Function Filter](https://github.com/Azure/azure-webjobs-sdk/wiki/Function-Filters) could be utilized to do refresh before each Azure Function call? Sadly, it's still in preview for really long time.

Since you are running Azure Functions it's possible to listen for App Configuration Events directly an

[2019-11-23 00:20] zhenlan commented on #194
@andrewschmidt-a thanks for the clarification it's not an azure function, the idea is the same though - instead of retrieving key-values from App Configuration for every call, please consider to load and cache the configuration at startup and refresh the configuration cache as necessary based on activity.

[2019-11-25 14:11] lpunderscore commented on #195
Filters seem like a promising solution. Will look into that more.

I think it might be worth documenting this somewhere for futur reference as this refresh functionality is going to be very popular.

[2019-11-25 17:26] drago-draganov commented on #195
@lpunderscore

Agreed. We are on it. Thanks for bringing up the topic!

[2019-11-26 06:07] msajid commented on #195
I implemented a separate refresh function that runs on a timer trigger.

https://github.com/msajid/AzureAppConfigurationDemos/tree/master/AppConfigDemos/AppConfigInAzureFunction/AppConfigInAzureFunctionDemo

[2019-11-26 16:08] millicandavid commented on #147
Array support is what's preventing me from using this feature today. I'm really excited about this feature though so I'll keep an eye out for this to get completed so that I can refactor my app to use it eventually. But for now, the current handling of arrays just won't work for me due to 3rd party packages expecting an array of values. So while the suffix index works for individual retrieval, if

[2019-11-27 08:38] martin-pes opened #198 "Cannot use 3.0.0-preview-010560002-1165 in .NET Core 3.0"
I have tried to follow [tutorial](https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-aspnet-core-app) in an ASP.NET Core 3.0 app.

However I get a following error when I add `3.0.0-preview-010560002-1165` version of `Microsoft.Azure.AppConfiguration.AspNetCore` to my project:

[code]
The added nuget package has a yellow exclamation mark in Visual Studio Solution Explorer - D

[2019-11-28 00:08] zhenlan commented on #198
I just gave the `3.0.0-preview-010560002-1165` version a try with a new MVC app created from VS2019 template (targeting framework `netcoreapp3.0`). Everything works fine for me.

@martin-pes can you please confirm you do have .NET Core 3.0 SDK installed on your machine? I also find this [document](https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.0&tabs=visual-studi

[2019-11-28 00:12] zhenlan commented on #192
@mmigala agreed. When exporting to another App Configuration store, we should allow exporting all labels with one click. Thanks for the suggestion.

[2019-11-28 01:05] jimmyca15 commented on #85
This has been added in our latest release: https://github.com/microsoft/FeatureManagement-Dotnet/releases/tag/2.0.0-preview-010610001-1263

[2019-11-28 01:05] #85 closed

[2019-11-28 01:06] jimmyca15 commented on #135
This has been added in our most recent release: https://github.com/microsoft/FeatureManagement-Dotnet/releases/tag/2.0.0-preview-010610001-1263

[2019-11-28 01:06] #135 closed

[2019-11-28 11:35] martin-pes commented on #198
I have the 3.0 SDK installed on my machine. I have also tried with a new Web API MVC app created from VS2019 and it works there.
My error occurs when I try to add the package to our existing Web API MVC app. This app was ported from ASP.NET Core 2.0 to 3.0 and works fine without `Microsoft.Azure.AppConfiguration.AspNetCore` package. I will try to play a bit more with app dependencies and get back

[2019-11-28 13:39] Lukasz994 commented on #116
Is there any update on this?

[2019-11-28 15:18] b10-dslappendel opened #201 "Updating to version 3 throws "No managed identity endpoint found" with managed identity"
It seems that running version 3 doesn't work locally when trying to connect with managed identity.
I'm trying to run the following code:
[code]

This doesn't work. I get the following unhandled exception:
[code]

When using version 2.1 in the following way, it works fine:
[code]

I've used the [migration to version 3 mentioned here](https://github.com/Azure/AppConfiguration/blob/master/releaseNote

[2019-11-28 15:33] calloncampbell opened #202 "Unable to use App Configuration from DevOps build pipeline"
After installing https://marketplace.visualstudio.com/items?itemName=AzureAppConfiguration.azure-app-configuration-task&ssr=false#overview I tried to incorporate Azure App Configuration into my DevOps build pipeline.

Expected behavior:
- Select Azure Subscription (and authorize)
- Select Azure App Configuration

Actual behaviour:
- Select Azure Subscription (and authorize) without issue
- No valu

[2019-11-28 17:21] martin-pes commented on #198
I have tried to install the package on the solution originally causing the error but this time on a different machine. It works fine. I assume it must be something with my local nuget cache then.
Please disregard my issue.

[2019-11-28 17:21] #198 closed

[2019-11-28 17:34] BigBd1 opened #203 "Use App Configuration setting in QueueTrigger configuration"
Hello,

In an Azure Function V2, is it possible to bind the connection string or the queue name of the QueueTrigger attribute to an Azure App Configuration Setting ?

Thanks for your help !

[2019-11-29 00:46] zhenlan commented on #201
Hi, @b10-dslappendel it is expected that the `ManagedIdentityCredential` will only work when the application is deployed to an Azure service that supports managed identity, for example, Azure Function, App Service, Virtual machines, etc.

The pre v3 API `ConnectWithManagedIdentity()` worked locally in the past is because it falls back to local credentials automatically when it detects managed iden

[2019-11-29 00:57] zhenlan commented on #202
@calloncampbell can you please confirm you do have App Configuration stores already created under the selected subscription and you have owner permission to them?

[2019-11-29 00:58] zhenlan commented on #202
@Yiming-Jia, any other suggestions?

[2019-11-29 01:14] zhenlan commented on #116
@Lukasz994 The content-type field is intended to be used to indicate the type of the *value* of a key-value. The field is for customer use. When this information is available, an application can behave differently, for example, use different parsers when value content is bool vs. integer. While you can use any formatting to indicate content-type, we recommend using MIME types - this is how we use

[2019-11-29 01:29] Yiming-Jia commented on #202
Hello @calloncampbell ,

I'm sorry for the inconvenience. Currently I'm not able to reproduce this issue under our testing build pipeline. Could you provide more information about this?

One thing could give us more details is that if you open `Developer Tools` (for Edge/Chrome) or `Web Developer` (for Firefox) and monitor the network request. When clicking the refresh button for `App Configuratio

[2019-11-29 09:22] b10-dslappendel commented on #201
Thanks for the quick response.

I've tried `DefaultAzureCredential`, but sadly it doesn't work. If I don't specify any options, it fails:
[code]

So instead, I also tried adding a `SharedTokenCacheTenantId` since I'm part of multiple tenants, and I've had this issue before with connecting to databases with `AzureServiceTokenProvider`. Sadly, this doesn't work either, and it fails with:
[code]

The

[2019-11-29 19:55] calloncampbell commented on #202
This is the error I see in Developer Tools window…
errorMessage: "Failed to query service connection API: 'https://management.azure.com/subscriptions/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-02-01-preview'. Status Code: 'NotFound', Response from server: '{"error":{"code":"SubscriptionNotFound","message":"The subscription 'providers' could not be found."}}'"

I did

[2019-11-29 21:26] zhenlan commented on #201
@b10-dslappendel thanks for sharing the details.

Here is the error message for the response you shared above when you used `DefaultAzureCredential` without any options. Looks like the client did acquire an AAD token (likely via falling back to `SharedTokenCacheCredential`), but the token failed validation on the server-side. The server should have responded 401 instead of 500, which we will be lo

[2019-12-01 23:44] zhenlan commented on #165
hI @kuhsaft, with the release of v3 config provider, the user-assigned managed identity is now supported. Please check out the [release notes](https://github.com/Azure/AppConfiguration/blob/master/releaseNotes/MicrosoftExtensionsConfigurationAzureAppConfiguration.md#300-preview-010550001-251---november-22-2019). You can use `ManagedIdentityCredential` with `clientId`.

[2019-12-01 23:44] #165 closed

[2019-12-01 23:49] zhenlan commented on #194
@andrewschmidt-a please let us know if you need any other assistance. I'm closing this issue for now.

[2019-12-01 23:49] #194 closed

[2019-12-01 23:51] #162 closed

[2019-12-01 23:52] #180 closed

[2019-12-01 23:58] zhenlan commented on #175
Hi @harrchen88, please let us know if you need any further assistance. Closing for now.

[2019-12-01 23:58] #175 closed

[2019-12-02 09:23] b10-dslappendel commented on #201
I expected that the internal server error would be something like this. However, even with the additional information, it seems that I cannot solve it on my side (unless I'm missing something). It would just bring me back to the second part of my issue, where I explicitly set the tenant id.

In your message, 471b is my home tenant, whereas 4d00 is the tenant where the app configuration instance re

[2019-12-02 19:38] Yiming-Jia commented on #202
Hello @calloncampbell ,

What you replied helped us to locate the bug in `Azure App Configuration`extension. And we'll have a fix by today and keep you updated when the fix released.

[2019-12-02 21:57] Yiming-Jia commented on #202
Hello @calloncampbell ,

The fix has just released. Could you please try it in your end? Thanks.

[2019-12-02 22:00] calloncampbell commented on #202
Hi @Yiming-Jia  and thanks for the fix. Yes I can confirm that it works now. I appreciate the quick turnaround.

[2019-12-02 23:04] #202 closed

[2019-12-02 23:10] MSGaryWang commented on #101
We just have new release for managed identity update and will have another release base on it soon for offline cache.

[2019-12-03 02:49] zhenlan commented on #201
Thanks for reporting the issue in the SDK repo. If a token can be sent with the tenant id 4d00 (the same tenant of App Configuration instance), I think it would work. We will need authors of `SharedTokenCacheCredential` to shed some light here on why a token cannot be acquired when you set the tenant id explicitly.

The v2 API `ConnectWithManagedIdentity()` will continue to work and we have no pla

[2019-12-03 09:19] davidjsteele commented on #201
Hi, It also seems that with the use of DefaultAzureCredential and the new version, that the account logged in with Visual Studio does not work for local development,  this certainly used to be the case.

@zhenlan My current code is pretty match identical to the current pull request, can you authenticate locally where using MSI in combination with a key vault client?

`  return new ConfigurationBui

[2019-12-04 05:53] zhenlan commented on #203
@BigBd1, with a quick look, I don't see an easy way to retrieve the QueueTrigger information from App Configuration. User code can retrieve configuration from App Configuration only at runtime but QueueTrigger attribute requires the information at build time.

This will be something we will have to take a deeper look and probably discuss with the Azure Functions team.

cc: @lisaguthrie @yegu-ms

[2019-12-04 06:27] zhenlan commented on #201
@davidjsteele Looks like in your case, it's `SharedTokenCacheCredential` that does not work for you. Are you in a multi-tenant environment too? Have you signed into the Visual Studio (I assume that's what you are using)? You may have to report an issue in the [azure-sdk-for-net](https://github.com/Azure/azure-sdk-for-net) repo to get further assistance about `SharedTokenCacheCredential`.

In my ca

[2019-12-04 20:42] martinfletcher opened #206 "Error when accessing App Configuration and Key Vault using User Assigned Managed Identities"
I have a function app that has been assigned a User Assigned Managed Identity, and the identity has been granted the following access to an App Configuration and Key Vault resource:

Key Vault has the IAM Reader Role, and a Access Policy for Get and List of Secrets
App Configuration has IAM Reader Role

I am getting the following error in the Azure Portal when browsing to the trigger in the functi

[2019-12-05 04:35] zhenlan commented on #206
Hi @martinfletcher, sorry for running into this.

Can you please confirm if you are using the [3.0.0-preview-010550001-251](https://www.nuget.org/packages/Microsoft.Extensions.Configuration.AzureAppConfiguration/3.0.0-preview-010550001-251) version of `Microsoft.Extensions.Configuration.AzureAppConfiguration`?

If so, can you please make sure you are following the [release notes](https://github.co

[2019-12-05 09:12] martinfletcher commented on #206
Yeah, I discovered the new package version last night, and upgraded to this version following the release notes.

![image](https://user-images.githubusercontent.com/5081397/70220942-4ff42400-173f-11ea-98c0-b5c4c8f51b70.png)

The managed identity has the App Configuration Data Reader Role.

After the upgrade, this no longer works locally either - This is the error message:

[code]

This is what I h

[2019-12-05 10:53] martinfletcher commented on #206
Interestingly, when connecting locally using a connection string I do not get the error - This does (to a point locally at least) rule out Key Vault issues

[2019-12-05 21:26] zhenlan commented on #206
@martinfletcher when you ran the code locally, it's NOT the managed identity that is used to authenticate with the App Configuration service. It's your local identity (see https://github.com/Azure/AppConfiguration/issues/201#issuecomment-559626040).

According to the log you shared, you obtained the AAD token of the local identity successfully but the request to the service failed due to authoriza

[2019-12-05 21:27] jimmyca15 commented on #206
@martinfletcher are you passing in the client id of the user assigned identity as required by the `ManagedIdentityCredential` constructor in this scenario? [Constructor reference](https://docs.microsoft.com/en-us/dotnet/api/azure.identity.managedidentitycredential.-ctor?view=azure-dotnet#Azure_Identity_ManagedIdentityCredential__ctor_System_String_Azure_Identity_TokenCredentialOptions_).

[2019-12-05 22:08] martinfletcher commented on #206
@zhenlan - Yes its my local identity that is used when running locally. The AD group in which I am a member has the App Configuration Data Reader Role.

This is the error
[code]

@jimmyca15 - The ManagedIdentityCredential does not work locally as it requires the AppService local MSI endpoints. This is the error:

[code]

[2019-12-05 23:03] jimmyca15 commented on #206
@martinfletcher I was referring to your initial post where you mentioned you were using `ManagedIdentityCredential` within an Azure Function that had a **user**-assigned identity. I wanted to make sure the client id of the user-assigned identity was being passed to the `ManagedIdentityCredential`.

[2019-12-05 23:38] martinfletcher commented on #206
@jimmyca15 Sorry, i got wires crossed answering both questions. This does not make a difference when running in azure.... still get same error (403)

[2019-12-06 00:29] jimmyca15 commented on #206
@martinfletcher just want to ensure we're on the same page here.

You updated your code to use `new ManagedIdentityCredential(clientId: userAssignedClientId)` and are now getting a 403 in your Function App ? This is a different error than the initial error so I want to make sure that one has been resolved before solving the 403.

[2019-12-08 03:44] HashTagDotNet opened #209 "AppConfigurationOptions.Connect Secondary Connection string"
1) I would like to see the capability to provide both primary and secondary connection strings to `AzureAppConfigurationOptions.Connect`.  This would significantly improve our application's ability to get configuration when rolling primary/secondary keys.

The library should try the connection strings in order until successful.

[code]

[2019-12-08 03:47] HashTagDotNet opened #210 "AppConfigurationOptions.Connect Timeout Option"
I would like to be able to set the HTTP timeout of the call.  We may choose to wait for configuration for longer/shorter periods of time depending of environments or other use-cases.

[2019-12-08 04:25] HashTagDotNet opened #211 "AppConfigurationOptions.TrimKeyPrefix - Support Multiple Prefixes"
Is it possible to support multiple prefix trimming?  It would be very helpful for us in consolidating our configuration.

I know I can stand up multiple configuration sources in my application, but that seems like overkill.  We could also change our configuration to Reference "Global:<blah>" but that feels like a work around rather than a good solution.

At the moment we can trim only one set of p

[2019-12-08 05:34] HashTagDotNet opened #212 "AppConfiguration.Options KV Selector Documentation Clarification"
On .Net Core 3.1, Include="Microsoft.Azure.AppConfiguration.AspNetCore" Version="3.0.0-preview-010560002-1165"

Need clarification on `options.Select` that there should be NO space after the comma (leading space) when specifying more than one key.  Perhaps on Intellisense notes?

Also Intellisense should specify a maximum number of 5 keys, and 5 values.

Documentation should state there will be a

[2019-12-08 05:38] HashTagDotNet opened #213 "REST KV Documentation - Spelling Error"
Under 'Supported Filters':

'Matche keys...' should be 'Matches keys'

https://github.com/Azure/AppConfiguration/blob/master/docs/REST/kv.md

[2019-12-09 03:41] Bhanu88 opened #214 "= separator is is not present while importing or exporting the properties file"
There is no option of mentioning = separator while exporting or importing a properties file

[2019-12-09 03:49] Bhanu88 opened #215 "i am importing a property as number but i am exporting it is exported as string"
i am importing a property as number but i am exporting it is exported as string i mean to say when i did the export the property returned in double quotes

[2019-12-09 03:53] Bhanu88 opened #216 "support for exporting and importing a ts configuration file"
support for exporting and importing a ts(type script) configuration file

[2019-12-09 18:11] richardpark-msft opened #217 "App Configuration fails when used in a browser due to the `x-ms-command-name` not being in the accept headers"
When we use App Configuration in a browser-based app the SDK currently sends the `x-ms-command-name` header since the `User-Agent` header is generally not modifiable.

The AppConfig service does not list this header `Access-Control-Allow-Headers` (CORS checking) so requests will end up failing.

This is currently the cause of this issue: https://github.com/Azure/azure-sdk-for-js/issues/5810

[2019-12-09 18:22] zhenlan commented on #217
@richardpark-msft just make sure I understand, the JS/TS SDK sends user-agent string using `x-ms-command-name`. Is this only when `User-Agent` cannot be modified or always the case?

@MSGaryWang @drago-draganov is this something that makes sense to add?

[2019-12-09 18:36] richardpark-msft commented on #217
@zhenlan - we only send this header in the browser case, otherwise we use the User-Agent header.

[2019-12-09 18:51] zhenlan commented on #217
@richardpark-msft got it. Thanks. Is using `x-ms-command-name` as an alternative header for user-agent a common practice in the JS SDKs for other Azure services as well?

[2019-12-09 19:07] richardpark-msft commented on #217
@zhenlan - it's a standard header in the JS SDK when we're running in a browser  - it's baked into the underlying library that we use for HTTP requests.

BTW, I did a preflight request against appconfig and it looks like there are already some x-ms headers that are whitelisted:
[code]
(other non-x-ms headers elided)

[2019-12-09 23:36] bterlson commented on #217
Given that we can't control UA string in browsers, services need to support another header that lets us include that information. Does appconfig have such a header? If not, probably just allow-listing this header would be best from my perspective.

[2019-12-10 00:41] zhenlan commented on #217
Thanks for the information. We will add `x-ms-command-name` to the allow-list of CORS.

[2019-12-10 01:29] zhenlan commented on #213
Thanks for catching this, @HashTagDotNet.

Fixed in PR https://github.com/Azure/AppConfiguration/pull/218

[2019-12-10 01:29] #213 closed

[2019-12-10 01:39] zhenlan commented on #210
@HashTagDotNet this will be supported when we support custom `ConfigurationClientOptions` passed to `AppConfigurationOptions`. Similar to https://github.com/Azure/AppConfiguration/issues/179.

[2019-12-10 01:51] zhenlan commented on #215
@Bhanu88 correct, during export, as the type information is not available, all values are exported as strings.

One way to solve this is to add content-type for the key-values that are not a string. We can define a few well-known types such as number, boolean, etc. (in MIME type). Will this work for you?

[2019-12-10 01:54] ssuing8825 commented on #206
I'm using the latest 3.0.0 version and also get this error. I've added the client id but that didn't work. The 2.0 version works fine though. I'm using an App Service with a .Net Core app.

[2019-12-10 02:03] zhenlan commented on #216
@Bhanu88, the ts config file is also in JSON format. Just to help my understanding, other than https://github.com/Azure/AppConfiguration/issues/215, is there anything else do you mean by support ts config file?

[2019-12-10 02:27] zhenlan commented on #206
@ssuing8825 can you please share a bit more details - what code do you use and what error do you receive? And I assume the issue you have is *not* about running locally.

[2019-12-10 02:38] zhenlan commented on #209
@HashTagDotNet thanks for the suggestion. Can you please elaborate on how this can make it easier when you rotate keys, for example, you would have to do 5 steps ... (details) and with this, you only need 3 steps ... (details)?

[2019-12-10 02:48] zhenlan commented on #214
@Bhanu88 to help me understand, can you please give me an example of what you are trying to achieve but cannot?

[2019-12-10 03:06] zhenlan commented on #211
@HashTagDotNet I may not follow completely. Does this work for you?
[code]

[2019-12-10 03:33] zhenlan commented on #212
@HashTagDotNet while the information is documented, I understand the discovery of it could be painful.
https://github.com/Azure/AppConfiguration/blob/master/docs/REST/kv.md#filtering

The amount of text may not be a good fit for IntelliSense. Localization is another issue. I am also a little concerned if we duplicate this information in IntelliSense, it may get outdated over time. I'm open to idea

[2019-12-10 03:40] zhenlan commented on #91
With the v3 release of config provider ([release notes](https://github.com/Azure/AppConfiguration/blob/master/releaseNotes/MicrosoftExtensionsConfigurationAzureAppConfiguration.md)), the managed identity support has been revised.

Closing this issue.

[2019-12-10 03:40] #91 closed

[2019-12-10 03:42] zhenlan commented on #99
@jimmyca15 is this in the latest release?

[2019-12-10 03:45] zhenlan commented on #118
Doc is published
https://docs.microsoft.com/en-us/azure/azure-app-configuration/enable-dynamic-configuration-dotnet

[2019-12-10 03:45] #118 closed

[2019-12-10 04:08] HashTagDotNet commented on #212
Finding that information in the doc and then making the assumption the client is aligned with the doc is probably an opportunity for documentation improvement.

As a consumer of your service, I don't want to find the REST documentation (particularly if I'm not using REST), read through it, and compare it with my knowledge of the client, then spend a several hours trying to understand how this all

[2019-12-10 05:17] zhenlan commented on #212
@HashTagDotNet I agree with all you said. There is no question about the documentation improvements. This should be made easier.

[2019-12-10 06:57] Bhanu88 commented on #216
@zhenlan ts file in our case look something like this and when we validate it against a json validator it gives error.

as per me ts files are complied at run time and converted in js files but i dont thing it is same as JSON file

[code]

[2019-12-10 07:11] Bhanu88 commented on #215
Yes definitely it is going to help ..actually documentation is not clear so i logged this issue .
 i tried the  solution provided by you by setting a configuration as "**number**" but it is still exporting as string ...Please let me know if i am doing something wrong

[2019-12-10 07:27] Bhanu88 commented on #214
@zhenlan my property file look something like this

[code]

when i am trying to import it in the  app configuration it dose not give me option to provide separator as "**=**"  so i unable to import it

[2019-12-10 11:42] ssuing8825 commented on #206
Here is the Azure App Service site so you can see the error https://webdemoconfig-as.azurewebsites.net/ConfigTest.

Target Framework - netcoreapp3.0

I have these frameworks installed
[code]

Here is the code
[code]

I used the 2.1.0 version and while I had some errors getting it right, they all made sense, and I was able to get it working smoothly. If you want exact steps to repo let me know.

[2019-12-10 17:04] richardpark-msft commented on #217
@zhenlan  - do you have an ETA that you're okay with giving me?

[2019-12-10 19:14] jimmyca15 commented on #206
@ssuing 8825, Can you confirm that you assigned the `Azure App Configuration Data Reader` role to your user assigned managed identity?

[2019-12-10 20:04] zhenlan commented on #217
We are trying to get the fix included in the deployment of this week.

[2019-12-10 20:15] jimmyca15 commented on #99
@zhenlan custom feature setting provider requires design review and has not added in the latest release. It would be a new set of APIs. It is still a target.

Also just realized I said "can **you** look into this" in my previous reply and I meant to just say "can look into this".

[2019-12-10 20:34] ssuing8825 commented on #206
@jimmyca15 That did the trick. I changed it from `Contributor` to `Azure App Configuration Data Reader `and it works fine now. Thanks.

[2019-12-10 20:40] jimmyca15 commented on #206
@ssuing8825 apologies for the inconvenience. We are working on getting docs out on our official docs page now that we have put out Azure RBAC roles in preview. Right now the only docs are the [release notes](https://github.com/Azure/AppConfiguration/blob/master/releaseNotes/MicrosoftExtensionsConfigurationAzureAppConfiguration.md#300-preview-010550001-251---november-22-2019) for the 3.0 library an

[2019-12-10 21:58] zhenlan commented on #215
@Bhanu88 sorry for the confusion. I was just brainstorming ideas. This is not supported today. We will have to change the code of import/export for this to work.

[2019-12-10 22:21] zhenlan commented on #214
@Bhanu88 I saved the content you provided as a .properties file and imported it from the Azure portal. It's imported just fine.

![image](https://user-images.githubusercontent.com/10566826/70573191-47905480-1b56-11ea-8467-d38745893c78.png)

There is probably some confusion about what the separator is for. *The separator is used to concatenate the key names when flattening hierarchical configuratio

[2019-12-11 05:00] Bhanu88 commented on #214
Thanks @zhenlan  for the response i tried  the solution provided and its working but there is a confusion when we are trying to import the configuration as it is asking for a separator  like

![image](https://user-images.githubusercontent.com/6247773/70592868-23d61880-1c01-11ea-9b1a-393b081efbf7.png)

so i got confused .

[2019-12-11 05:00] #214 closed

[2019-12-11 07:57] Bhanu88 commented on #215
Thanks for considering my request thanks

[2019-12-11 16:57] richardpark-msft commented on #217
CC: @kaerm, who should be kept informed about this for telemetry/usage purposes.

[2019-12-11 16:59] kaerm commented on #217
List: @kaerm @loarabia @kyle-patterson

[2019-12-11 19:16] johanste commented on #217
The `x-ms-command-name` was originally introduced as a means for applications (primarily command line applications - e.g. azure cli and powershell) to indicate which command triggered the request. Services are expected to include this information in their telemetry stores when appropriate. I don't recall any discussions as to why the user agent was not used for this. I don't believe our SDKs need

[2019-12-11 19:46] bterlson commented on #217
@johanste the issue is that browsers can't change the UA string so we have to put the information elsewhere. x-ms-command-name seems to already be used for this purpose. Is there a better alternative you can suggest?

[2019-12-11 20:19] zhenlan commented on #217
@johanste thanks for sharing the background. We are thinking about using `x-ms-command-name` as user-agent when it's sent by a request for metrics. According to what you said, the `x-ms-command-name` could be used for something else like azure CLI command name as well. This made it hard for us to detect whether `x-ms-command-name` is actually a user agent string or something else. Do you think if

[2019-12-11 21:03] johanste commented on #217
Relevant guidance:

https://azure.github.io/azure-sdk/general_azurecore.html#azurecore-http-telemetry-dynamic
https://azure.github.io/azure-sdk/general_azurecore.html#azurecore-http-telemetry-x-ms-useragent

[2019-12-11 21:35] bterlson commented on #217
@johanste thanks for the pointer! I looks like we'd prefer `x-ms-user-agent` over `x-ms-command-name` for this usage. Do you think that's true? If so, @zhenlan, is it too late to add `x-ms-user-agent` to the allow list as well?

@richardpark-msft assuming we can add `x-ms-user-agent` to the allow list, you can pass ` { userAgentHeaderName: 'x-ms-user-agent' }` in ServiceClientOptions to use this h

[2019-12-11 21:36] johanste commented on #217
| @daviwil @johanste the userAgentPolicy defaults to x-ms-command-name in browsers. I wonder if it should default to x-ms-user-agent instead?

That would be my assumption.

[2019-12-11 21:45] daviwil commented on #217
@bterlson I'm not sure why `x-ms-command-name` was ever used for this purpose, but seems like `x-ms-user-agent` is the appropriate header to use these days so I'm :+1: for it.

[2019-12-11 21:50] bterlson commented on #217
My guess is was driven by management plane things, and that changing the default now is hard. @daviwil maybe we get this on the list of things to fix for the next major?

@zhenlan if you can confirm whether you can add `x-ms-user-agent` header to the allow list, let's go with that instead. Let's not change core's default header name unless @daviwil really wants to make that change now 😀.

[2019-12-11 22:19] zhenlan commented on #217
We can add the new user-agent header to the CORS allow-list. It will miss the deployment of this week, but we should be able to include it in the first deployment of the new year (early Jan). So I think we should go ahead and make the change in the JS SDK.

According to the [link](https://azure.github.io/azure-sdk/general_azurecore.html#azurecore-http-telemetry-x-ms-useragent) @johanste shared, th

[2019-12-11 22:21] bterlson commented on #217
@zhenlan good catch, should be `x-ms-useragent`. Edited my comments above to prevent any confusion (hopefully).

[2019-12-11 22:38] richardpark-msft commented on #217
@johanste , @bterlson : Just to check - the header is cased differently in the guideline (`X-MS-UserAgent`)

I'm guessing this _might_ not matter in practice but I just want to make sure that `x-ms-useragent` (lowercased) is the right thing.

[2019-12-11 23:32] johanste commented on #217
I would go with lower-cased, but technically, it shouldn't matter since [http header field names are case insensitive](https://tools.ietf.org/html/rfc7230#section-3.2).

[2019-12-12 00:14] bterlson commented on #217
+1 for getting type for headers from the lower case. The upper case is hard to reach anyway.